<div class="item" data-id="{{this.id}}" data-path="{{path}}" data-type="locations">
	<div class="controls">
		<a class="gcs-grip drag" data-index="{{@index}}" data-type="locations"></a>
		<a class="gcs-trash delete" data-index="{{@index}}" data-type="locations"></a>
		<a class="gcs-circled-add disabled"></a>
	</div>
	<div class="fieldblock">
		<div class="label">{{localize "gurps.character.settings.body_type.id"}}</div>
		<div class="field">
			<input type="text" name="{{path}}.{{@index}}.id" value="{{this.id}}" data-dtype="String" />
		</div>
		<div class="label">{{localize "gurps.character.settings.body_type.choice_name"}}</div>
		<div class="field">
			<input
				type="text"
				name="{{path}}.{{@index}}.choice_name"
				value="{{this.choice_name}}"
				data-dtype="String"
			/>
		</div>
		<div class="label">{{localize "gurps.character.settings.body_type.table_name"}}</div>
		<div class="field">
			<input
				type="text"
				name="{{path}}.{{@index}}.table_name"
				value="{{this.table_name}}"
				data-dtype="String"
			/>
		</div>
		<div class="label">{{localize "gurps.character.settings.body_type.slots"}}</div>
		<div class="field">
			<input
				type="text"
				name="{{path}}.{{@index}}.slots"
				value="{{this.slots}}"
				data-dtype="Number"
			/>
		</div>
		<div class="label">{{localize "gurps.character.settings.body_type.hit_penalty"}}</div>
		<div class="field">
			<input
				type="text"
				name="{{path}}.{{@index}}.hit_penalty"
				value="{{this.hit_penalty}}"
				data-dtype="Number"
			/>
		</div>
		<div class="label">{{localize "gurps.character.settings.body_type.dr_bonus"}}</div>
		<div class="field">
			<input
				type="text"
				name="{{path}}.{{@index}}.dr_bonus"
				value="{{this.dr_bonus}}"
				data-dtype="Number"
			/>
		</div>
		<div class="label">{{localize "gurps.character.settings.body_type.description"}}</div>
		<div class="field">
			<textarea
				type="text"
				name="{{path}}.{{@index}}.description"
				data-dtype="String"
			>{{textareaFormat this.description}}</textarea>
		</div>
		{{#if this.sub_table}}
		<div class="label">{{localize "gurps.character.settings.body_type.sub_roll"}}</div>
		<div class="field">
			<input
				type="text"
				name="{{path}}.{{@index}}.sub_table.roll"
				value="{{this.sub_table.roll}}"
				data-dtype="String"
			></input>
		</div>
			<div class="sub-table-controls">
				<a class="gcs-trash delete" data-index="{{path}}.{{@index}}" data-type="locations"></a>
				<a class="gcs-circled-add disabled"></a>
			</div>
			<div class="item-list">
				{{#with this.sub_table}}
				{{>actor/character/config/body-type path=(concat ../path "." @index ".sub_table")}}
				{{/with}}
			</div>
		{{/if}}
	</div>
</div>
