<div id="details">
	{{#if actor}}
		<div>
			{{#if (neq system.import.name "")}}
				<button class="quick-import">
					<i class="fas fa-arrows-rotate"></i>
					{{localize "gurps.character.settings.import.reimport" file=system.import.name}}
				</button>
			{{else}}
				<button class="quick-import" disabled>
					<i class="fas fa-arrows-rotate"></i>
					{{localize
						"gurps.character.settings.import.reimport"
						file=(localize "gurps.character.settings.import.none")
					}}
				</button>
			{{/if}}
		</div>
		<div>
			<label for="file-upload" class="button">
				<i class="fas fa-file"></i>
				{{localize "gurps.character.settings.import.file"}}
				<input id="file-upload" type="file" accept=".gcs" style="display: none;" />
			</label>
			{{#if (neq filename "")}}
				<button class="import-confirm">
					<i class="fas fa-file-import"></i>
					{{localize "gurps.character.settings.import.import" file=filename}}
				</button>
			{{else}}
				<button class="import-confirm" disabled>
					<i class="fas fa-file-import"></i>
					{{localize
						"gurps.character.settings.import.import"
						file=(localize "gurps.character.settings.import.none")
					}}
				</button>
			{{/if}}
		</div>
		<div>{{{localize "gurps.character.settings.import.note" name=actor.name}}}</div>
		<div>
			<i class="gcs gcs-triangle-exclamation"></i>
			{{{localize "gurps.character.settings.import.warning"}}}
		</div>
	{{/if}}
	<div class="field">
		<div class="label">{{localize "gurps.character.settings.damage_progression"}}</div>
		<select name="system.settings.damage_progression" data-dtype="String">
			{{#select system.settings.damage_progression}}
				{{#each config.select.damage_progression as |v k|}}
					<option value="{{k}}">
						{{localize v}}
					</option>
				{{/each}}
			{{/select}}
		</select>
	</div>
	<div class="field">
		<label class="label checkbox-label">
			<input
				class="input"
				type="checkbox"
				name="system.settings.show_trait_modifier_adj"
				data-dtype="Boolean"
				{{checked system.settings.show_trait_modifier_adj}}
			/>
			{{localize "gurps.character.settings.show_trait_modifier_adj"}}
		</label>
	</div>
	<div class="field">
		<label class="label checkbox-label">
			<input
				class="input"
				type="checkbox"
				name="system.settings.show_equipment_modifier_adj"
				data-dtype="Boolean"
				{{checked system.settings.show_equipment_modifier_adj}}
			/>
			{{localize "gurps.character.settings.show_equipment_modifier_adj"}}
		</label>
	</div>
	<div class="field">
		<label class="label checkbox-label">
			<input
				class="input"
				type="checkbox"
				name="system.settings.show_spell_adj"
				data-dtype="Boolean"
				{{checked system.settings.show_spell_adj}}
			/>
			{{localize "gurps.character.settings.show_spell_adj"}}
		</label>
	</div>
	<div class="field">
		<label class="label checkbox-label">
			<input
				class="input"
				type="checkbox"
				name="system.settings.use_multiplicative_modifiers"
				data-dtype="Boolean"
				{{checked system.settings.use_multiplicative_modifiers}}
			/>
			{{localize "gurps.character.settings.use_multiplicative_modifiers"}}
		</label>
	</div>
	<div class="field">
		<label class="label checkbox-label">
			<input
				class="input"
				type="checkbox"
				name="system.settings.use_modifying_dice_plus_adds"
				data-dtype="Boolean"
				{{checked system.settings.use_modifying_dice_plus_adds}}
			/>
			{{localize "gurps.character.settings.use_modifying_dice_plus_adds"}}
		</label>
	</div>
	<div class="field">
		<label class="label checkbox-label">
			<input
				class="input"
				type="checkbox"
				name="system.settings.exclude_unspent_points_from_total"
				data-dtype="Boolean"
				{{checked system.settings.exclude_unspent_points_from_total}}
			/>
			{{localize "gurps.character.settings.exclude_unspent_points_from_total"}}
		</label>
	</div>
</div>
<div class="fieldblock">
	<div class="title">{{localize "gurps.character.settings.units.title"}}</div>
	<hr />
	<div class="label">{{localize "gurps.character.settings.units.length"}}</div>
	<div class="field">
		<select name="system.settings.default_length_units" data-dtype="String">
			{{#select system.settings.default_length_units}}
				{{#each config.select.default_length_units as |v k|}}
					<option value="{{k}}">
						{{localize v}}
					</option>
				{{/each}}
			{{/select}}
		</select>
	</div>
	<div class="label">{{localize "gurps.character.settings.units.weight"}}</div>
	<div class="field">
		<select name="system.settings.default_weight_units" data-dtype="String">
			{{#select system.settings.default_weight_units}}
				{{#each config.select.default_weight_units as |v k|}}
					<option value="{{k}}">
						{{localize v}}
					</option>
				{{/each}}
			{{/select}}
		</select>
	</div>
	<div class="title">{{localize "gurps.character.settings.display.title"}}</div>
	<hr />
	<div class="label">{{localize "gurps.character.settings.display.user_description"}}</div>
	<div class="field">
		<select name="system.settings.user_description_display" data-dtype="String">
			{{#select system.settings.user_description_display}}
				{{#each config.select.display as |v k|}}
					<option value="{{k}}">
						{{localize v}}
					</option>
				{{/each}}
			{{/select}}
		</select>
	</div>
	<div class="label">{{localize "gurps.character.settings.display.modifiers"}}</div>
	<div class="field">
		<select name="system.settings.modifiers_display" data-dtype="String">
			{{#select system.settings.modifiers_display}}
				{{#each config.select.display as |v k|}}
					<option value="{{k}}">
						{{localize v}}
					</option>
				{{/each}}
			{{/select}}
		</select>
	</div>
	<div class="label">{{localize "gurps.character.settings.display.notes"}}</div>
	<div class="field">
		<select name="system.settings.notes_display" data-dtype="String">
			{{#select system.settings.notes_display}}
				{{#each config.select.display as |v k|}}
					<option value="{{k}}">
						{{localize v}}
					</option>
				{{/each}}
			{{/select}}
		</select>
	</div>
	<div class="label">{{localize "gurps.character.settings.display.skill_level_adj"}}</div>
	<div class="field">
		<select name="system.settings.skill_level_adj_display" data-dtype="String">
			{{#select system.settings.skill_level_adj_display}}
				{{#each config.select.display as |v k|}}
					<option value="{{k}}">
						{{localize v}}
					</option>
				{{/each}}
			{{/select}}
		</select>
	</div>
	<div class="title">{{localize "gurps.character.settings.block_layout.title"}}</div>
	<textarea name="system.settings.block_layout" type="text" data-dtype="String">{{{textareaFormat
			system.settings.block_layout
		}}}</textarea>
</div>
