<form class="{{cssClass}}" autocomplete="off">
	<div id="sheet">
		<div id="details">
			<div class="label">{{localize "gurps.item.name"}}</div>
			<div class="field">
				<input type="text" name="name" value="{{item.name}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.item.notes"}}</div>
			<div class="field">
				<input type="text" name="system.notes" value="{{system.notes}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.item.vtt_notes"}}</div>
			<div class="field">
				<input type="text" name="system.vtt_notes" value="{{system.vtt_notes}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.item.user_description"}}</div>
			<div class="field">
				<input type="text" name="system.user_description" value="{{system.user_description}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.item.tags"}}</div>
			<div class="field">
				<input type="text" name="system.tags" value="{{join system.tags ', '}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.item.reference"}}</div>
			<div class="field">
				<input type="text" name="system.reference" value="{{system.reference}}" data-dtype="String" />
			</div>
		</div>
	</div>
</form>
