<form class="{{cssClass}}" autocomplete="off">
	<div id="sheet">
		<div id="details">
			<div class="label">{{localize "gurps.item.name"}}</div>
			<div class="field">
				<input type="text" name="name" value="{{item.name}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.item.notes"}}</div>
			<div class="field">
				<input type="text" name="system.notes" value="{{system.notes}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.item.vtt_notes"}}</div>
			<div class="field">
				<input type="text" name="system.vtt_notes" value="{{system.vtt_notes}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.item.tech_level"}}</div>
			<div class="field">
				<input type="text" name="system.tech_level" value="{{system.tech_level}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.item.legality_class"}}</div>
			<div class="field">
				<input type="text" name="system.legality_class" value="{{system.legality_class}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.item.quantity"}}</div>
			<div class="field no-stretch">
				<input type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" />
				<label class="label checkbox-label">
					<input type="checkbox" {{checked system.equipped}} />
					{{localize "gurps.item.equipped"}}
				</label>
			</div>
			<div class="label">{{localize "gurps.item.value"}}</div>
			<div class="field no-stretch">
				<input type="text" name="system.value" value="{{system.value}}" data-dtype="Number" />
				<div class="label">{{localize "gurps.item.extended_value"}}</div>
				<input type="text" value="{{document.extendedValue}}" readonly tabIndex="-1" />
			</div>
			<div class="label">{{localize "gurps.item.weight"}}</div>
			<div class="field no-stretch">
				<input type="text" name="system.weight" value="{{system.weight}}" data-dtype="String" />
				<div class="label">{{localize "gurps.item.extended_weight"}}</div>
				<input type="text" value="{{document.extendedWeightFast}}" readonly tabIndex="-1" />
			</div>
			<div class="label">{{localize "gurps.item.uses"}}</div>
			<div class="field no-stretch">
				<input
					type="text"
					name="system.uses"
					value="{{system.uses}}"
					data-dtype="Number"
					{{disabled (eq system.max_uses 0)}}
				/>
				<div class="label">{{localize "gurps.item.max_uses"}}</div>
				<input type="text" name="system.max_uses" value="{{system.max_uses}}" data-dtype="Number" />
			</div>
			<div class="label">{{localize "gurps.item.tags"}}</div>
			<div class="field">
				<input type="text" name="system.tags" value="{{join system.tags ', '}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.item.reference"}}</div>
			<div class="field">
				<input type="text" name="system.reference" value="{{system.reference}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.item.reference_highlight"}}</div>
			<div class="field">
					<input type="text" name="system.reference_highlight" value="{{system.reference_highlight}}" data-dtype="String" />
			</div>
		</div>
		{{>item/sections/prerequisites}}
		{{>item/sections/features}}
		<div id="equipment-modifiers" class="item-list">
			<div class="header enabled"><i class="gcs-checkmark"></i></div>
			<div class="header desc">{{localize "gurps.item.modifier_desc"}}</div>
			<div class="header tl">{{localize "gurps.item.modifier_tl"}}</div>
			<div class="header cost">{{localize "gurps.item.modifier_cost"}}</div>
			<div class="header weight">{{localize "gurps.item.modifier_weight"}}</div>
			<div class="header tags">{{localize "gurps.item.tags"}}</div>
			<div class="header reference"><i class="gcs-bookmark"></i></div>
			{{#each (sort modifiers "sort")}}
			{{>eqp-mod}}
			{{/each}}
		</div>
		{{>item/sections/melee}}
		{{>item/sections/ranged}}
	</div>
</form>
