<div class='ms-attrs-row'>
  <div class='ms-attr-badge rollable' data-otf='ST' title='{{localize "GURPS.attributesST"}} [{{system.attributes.ST.points}}]'>
    <span class='ms-attr-value'>{{system.attributes.ST.value}}</span>
    <span class='ms-attr-label'>ST</span>
  </div>
  <div class='ms-attr-badge rollable' data-otf='DX' title='{{localize "GURPS.attributesDX"}} [{{system.attributes.DX.points}}]'>
    <span class='ms-attr-value'>{{system.attributes.DX.value}}</span>
    <span class='ms-attr-label'>DX</span>
  </div>
  <div class='ms-attr-badge rollable' data-otf='IQ' title='{{localize "GURPS.attributesIQ"}} [{{system.attributes.IQ.points}}]'>
    <span class='ms-attr-value'>{{system.attributes.IQ.value}}</span>
    <span class='ms-attr-label'>IQ</span>
  </div>
  <div class='ms-attr-badge rollable' data-otf='HT' title='{{localize "GURPS.attributesHT"}} [{{system.attributes.HT.points}}]'>
    <span class='ms-attr-value'>{{system.attributes.HT.value}}</span>
    <span class='ms-attr-label'>HT</span>
  </div>
  <div class='ms-attr-badge rollable' data-otf='WILL' title='{{localize "GURPS.attributesWILL"}} [{{system.attributes.WILL.points}}]'>
    <span class='ms-attr-value'>{{system.attributes.WILL.value}}</span>
    <span class='ms-attr-label'>WILL</span>
  </div>
  <div class='ms-attr-badge rollable' data-otf='PER' title='{{localize "GURPS.attributesPER"}} [{{system.attributes.PER.points}}]'>
    <span class='ms-attr-value'>{{system.attributes.PER.value}}</span>
    <span class='ms-attr-label'>PER</span>
  </div>
</div>
