<div class='ms-attrs-row'>
  <div class='ms-attr-wrapper'>
    <div
      class='ms-attr-badge rollable'
      data-otf='ST'
      data-attr='ST'
      title='{{localize "GURPS.attributesST"}} [{{system.attributes.ST.points}}]'
    >
      <span class='ms-attr-value ms-attr-display'>{{system.attributes.ST.value}}</span>
      <input
        type='number'
        class='ms-attr-input'
        name='system.attributes.ST.import'
        value='{{system.attributes.ST.import}}'
      />
      <span class='ms-attr-label'>ST</span>
    </div>
    <button type='button' class='ms-attr-edit' title='{{localize "GURPS.attributesST"}}'><i
        class='fas fa-pen'
      ></i></button>
  </div>
  <div class='ms-attr-wrapper'>
    <div
      class='ms-attr-badge rollable'
      data-otf='DX'
      data-attr='DX'
      title='{{localize "GURPS.attributesDX"}} [{{system.attributes.DX.points}}]'
    >
      <span class='ms-attr-value ms-attr-display'>{{system.attributes.DX.value}}</span>
      <input
        type='number'
        class='ms-attr-input'
        name='system.attributes.DX.import'
        value='{{system.attributes.DX.import}}'
      />
      <span class='ms-attr-label'>DX</span>
    </div>
    <button type='button' class='ms-attr-edit' title='{{localize "GURPS.attributesDX"}}'><i
        class='fas fa-pen'
      ></i></button>
  </div>
  <div class='ms-attr-wrapper'>
    <div
      class='ms-attr-badge rollable'
      data-otf='IQ'
      data-attr='IQ'
      title='{{localize "GURPS.attributesIQ"}} [{{system.attributes.IQ.points}}]'
    >
      <span class='ms-attr-value ms-attr-display'>{{system.attributes.IQ.value}}</span>
      <input
        type='number'
        class='ms-attr-input'
        name='system.attributes.IQ.import'
        value='{{system.attributes.IQ.import}}'
      />
      <span class='ms-attr-label'>IQ</span>
    </div>
    <button type='button' class='ms-attr-edit' title='{{localize "GURPS.attributesIQ"}}'><i
        class='fas fa-pen'
      ></i></button>
  </div>
  <div class='ms-attr-wrapper'>
    <div
      class='ms-attr-badge rollable'
      data-otf='HT'
      data-attr='HT'
      title='{{localize "GURPS.attributesHT"}} [{{system.attributes.HT.points}}]'
    >
      <span class='ms-attr-value ms-attr-display'>{{system.attributes.HT.value}}</span>
      <input
        type='number'
        class='ms-attr-input'
        name='system.attributes.HT.import'
        value='{{system.attributes.HT.import}}'
      />
      <span class='ms-attr-label'>HT</span>
    </div>
    <button type='button' class='ms-attr-edit' title='{{localize "GURPS.attributesHT"}}'><i
        class='fas fa-pen'
      ></i></button>
  </div>
  <div class='ms-attr-wrapper'>
    <div
      class='ms-attr-badge rollable'
      data-otf='WILL'
      data-attr='WILL'
      title='{{localize "GURPS.attributesWILL"}} [{{system.attributes.WILL.points}}]'
    >
      <span class='ms-attr-value ms-attr-display'>{{system.attributes.WILL.value}}</span>
      <input
        type='number'
        class='ms-attr-input'
        name='system.attributes.WILL.import'
        value='{{system.attributes.WILL.import}}'
      />
      <span class='ms-attr-label'>WILL</span>
    </div>
    <button type='button' class='ms-attr-edit' title='{{localize "GURPS.attributesWILL"}}'><i
        class='fas fa-pen'
      ></i></button>
  </div>
  <div class='ms-attr-wrapper'>
    <div
      class='ms-attr-badge rollable'
      data-otf='PER'
      data-attr='PER'
      title='{{localize "GURPS.attributesPER"}} [{{system.attributes.PER.points}}]'
    >
      <span class='ms-attr-value ms-attr-display'>{{system.attributes.PER.value}}</span>
      <input
        type='number'
        class='ms-attr-input'
        name='system.attributes.PER.import'
        value='{{system.attributes.PER.import}}'
      />
      <span class='ms-attr-label'>PER</span>
    </div>
    <button type='button' class='ms-attr-edit' title='{{localize "GURPS.attributesPER"}}'><i
        class='fas fa-pen'
      ></i></button>
  </div>
</div>