<div class='ms-name-container'>
  <h1 class='ms-name ms-name-display'>{{actor.name}}</h1>
  <input type='text' form='none' value='{{actor.name}}' class='ms-name-input' data-field='name' />
</div>
{{#if compact}}
{{#if system.traits.title}}<div class='ms-title'>{{system.traits.title}}</div>{{/if}}
{{/if}}
<div class='ms-tagline'>
  {{#if system.traits.race}}
    <span class='ms-tag ms-tag-race'>
      <span class='ms-tag-display'>{{system.traits.race}}</span>
      <input
        type='text'
        form='none'
        value='{{system.traits.race}}'
        class='ms-tag-input'
        data-field='system.traits.race'
        placeholder='{{localize "GURPS.pointsRace"}}'
      />
    </span>
  {{/if}}
  {{#if system.traits.gender}}
    <span class='ms-tag ms-tag-gender'>
      <span class='ms-tag-display'>{{system.traits.gender}}</span>
      <input
        type='text'
        form='none'
        value='{{system.traits.gender}}'
        class='ms-tag-input'
        data-field='system.traits.gender'
        placeholder='{{localize "GURPS.descriptionGender"}}'
      />
    </span>
  {{/if}}
  {{#if system.traits.age}}
    <span class='ms-tag ms-tag-age'>
      <span class='ms-tag-display'>{{system.traits.age}} {{localize "GURPS.years"}}</span>
      <input
        type='text'
        form='none'
        value='{{system.traits.age}}'
        class='ms-tag-input'
        data-field='system.traits.age'
        placeholder='{{localize "GURPS.descriptionAge"}}'
      />
    </span>
  {{/if}}
  {{#if system.traits.techlevel}}
    <span class='ms-tag ms-tag-tl'>
      <span class='ms-tag-display'>TL{{system.traits.techlevel}}</span>
      <input
        type='text'
        form='none'
        value='{{system.traits.techlevel}}'
        class='ms-tag-input'
        data-field='system.traits.techlevel'
        placeholder='{{localize "GURPS.TL"}}'
      />
    </span>
  {{/if}}
</div>