<div class="add">
	<a class="gcs-circled-add add" data-type="resource_trackers"></a>
	{{#if actor}}
	<a class="gcs-reset reset-all" data-type="resource_trackers"></a>
	<div>{{localize "gurps.settings.reset_all"}}</div>
	{{/if}}
</div>
<div class="item-list">
	{{#each resourceTrackers}}
		<div class="item" data-index="{{this.index}}" data-type="resource_trackers">
			<div class="controls">
				<a class="gcs-grip drag" data-index="{{@index}}" data-type="resource_trackers"></a>
				<a class="gcs-trash delete" data-index="{{@index}}" data-type="resource_trackers"></a>
				<a class="gcs-circled-add add" data-index="{{@index}}" data-type="tracker_thresholds"></a>
			</div>
			<div class="fieldblock">
				<div class="label">{{localize "gurps.resource_tracker_def.name"}}</div>
				<div class="field">
					<input
						type="text"
						name="system.additionalresources.tracker.{{this.index}}.name"
						value="{{this.name}}"
						data-dtype="String"
					/>
				</div>
				<div class="label">{{localize "gurps.resource_tracker_def.alias"}}</div>
				<div class="field">
					<input
						type="text"
						name="system.additionalresources.tracker.{{this.index}}.alias"
						value="{{this.alias}}"
						data-dtype="String"
					/>
				</div>
				<div class="label">{{localize "gurps.resource_tracker_def.pdf"}}</div>
				<div class="field">
					<input
						type="text"
						name="system.additionalresources.tracker.{{this.index}}.pdf"
						value="{{this.pdf}}"
						data-dtype="String"
					/>
				</div>
				<div class="label">{{localize "gurps.resource_tracker_def.max"}}</div>
				<div class="field no-stretch">
					<input
						type="text"
						name="system.additionalresources.tracker.{{this.index}}.max"
						value="{{this.max}}"
						data-dtype="Number"
					/>
					<label class="label checkbox-label">
						<input
							type="checkbox"
							name="system.additionalresources.tracker.{{this.index}}.isMaxEnforced"
							{{checked this.isMaxEnforced}}
						/>
						{{localize "gurps.resource_tracker_def.max_enforced"}}
					</label>
				</div>
				<div class="label">{{localize "gurps.resource_tracker_def.min"}}</div>
				<div class="field no-stretch">
					<input
						type="text"
						name="system.additionalresources.tracker.{{this.index}}.min"
						value="{{this.min}}"
						data-dtype="Number"
					/>
					<label class="label checkbox-label">
						<input
							type="checkbox"
							name="system.additionalresources.tracker.{{this.index}}.isMinEnforced"
							{{checked this.isMinEnforced}}
						/>
						{{localize "gurps.resource_tracker_def.min_enforced"}}
					</label>
				</div>
				<div class="label">{{localize "gurps.resource_tracker_def.current"}}</div>
				<div class="field">
					<input
						type="text"
						name="system.additionalresources.tracker.{{this.index}}.value"
						value="{{this.value}}"
						data-dtype="Number"
					/>
				</div>
				{{#if this.thresholds}}
				<div class="item-list thresholds">
					{{#each this.thresholds}}
					{{>actor/static/config/threshold id=../this.index parent="system.additionalresources.tracker"}}
					{{/each}}
				</div>
				{{/if}}
			</div>
		</div>
	{{/each}}
</div>
