<form class="{{ cssClass }}" autocomplete="off">
    {{#unless (eq deprecation "acknowledged")}}
    <div class="deprecation">
        {{#if (eq deprecation "manual") }}
            <p>{{{localize "gurps.static.deprecated_xml" type=(localize "TYPES.Actor.character")}}}</p>
        {{else}}
            <p>{{{localize "gurps.static.deprecated" type=(localize "TYPES.Actor.character")}}}</p>
        {{/if}}
        <a class="gcs-circled-x"></a>
    </div>
	{{/unless}}
<div id="sheet" class="gurpsactorsheet">
    <div id="personal">
        {{>actor/static/sections/portrait }}
        {{>actor/static/sections/identity }}
        {{>actor/static/sections/miscellaneous }}
        {{>actor/static/sections/description }}
        {{>actor/static/sections/points }}
    </div>
	<div id="stats">
        <div id="attributes">
			{{>actor/static/sections/primary-attributes }}
            {{>actor/static/sections/basic-damage }}
			{{>actor/static/sections/secondary-attributes }}
			{{>actor/static/sections/pool-attributes }}
        </div>
        <div id="hit-locations">
            <div class="header body-plan">
                {{ localize (concat "gurps.static.body_plan." system.additionalresources.bodyplan)}}
            </div>
            <div class="header roll">{{ localize "gurps.character.body_type.roll" }}</div>
            <div class="header location">{{ localize "gurps.character.body_type.location" }}</div>
            <div class="header dr">{{ localize "gurps.character.body_type.dr" }}</div>
            {{#each system.hitlocations }}
                {{>actor/static/sections/hit-location tab="" }}
            {{/each }}
        </div>
        <div id="encumbrance-lifting">
            {{>actor/static/sections/encumbrance }}
            <div id="lifting-macros">
                <nav class="header tabs-navigation" data-group="lifting">
                    <a class="item" data-tab="lifting">{{ localize "gurps.character.lifting.title" }}</a>
                    <a class="item" data-tab="macros">{{ localize "gurps.character.macros.title" }}</a>
                </nav>
                <section class="tabs-content">
                    {{>actor/static/sections/lifting }}
                    {{>actor/static/sections/macros }}
                </section>
            </div>
        </div>
        <div id="resource-trackers">{{>actor/static/sections/resource-trackers }}</div>
        <div id="move">{{>actor/static/sections/move }}</div>
    </div>
    <div id="embeds"
         style="grid-template: {{ layout }};">
        {{#if (or (notEmpty system.reactions) (notEmpty system.conditionalmods)) }}
            {{#if (notEmpty system.reactions) }}
                <div id="reactions">
                    <div class="header modifier">{{ localize "gurps.character.reactions.modifier" }}</div>
                    <div class="header condition">{{ localize "gurps.character.reactions.reaction" }}</div>
                    {{#each system.reactions }}
                        {{>actor/static/sections/reaction }}
                    {{/each }}
                </div>
            {{/if }}
            {{#if (notEmpty system.conditionalmods) }}
                <div id="conditional-modifiers">
                    <div class="header modifier">{{ localize "gurps.character.conditional_modifiers.modifier" }}</div>
                    <div class="header condition">{{ localize "gurps.character.conditional_modifiers.reaction" }}</div>
                    {{#each system.conditionalmods }}
                        {{>actor/static/sections/reaction }}
                    {{/each }}
                </div>
            {{/if }}
        {{/if }}
        {{#if (notEmpty items.melee) }}
            <div id="melee">
                <div class="header desc">{{ localize "gurps.character.melee.desc" }}</div>
                <div class="header usage">{{ localize "gurps.character.melee.usage" }}</div>
                <div class="header level">{{ localize "gurps.character.melee.level" }}</div>
                <div class="header parry">{{ localize "gurps.character.melee.parry" }}</div>
                <div class="header block">{{ localize "gurps.character.melee.block" }}</div>
                <div class="header damage">{{ localize "gurps.character.melee.damage" }}</div>
                <div class="header reach">{{ localize "gurps.character.melee.reach" }}</div>
                <div class="header st">{{ localize "gurps.character.melee.st" }}</div>
                {{#each items.melee }}
                    {{>actor/static/sections/melee-attack }}
                {{/each }}
            </div>
        {{/if }}
        {{#if (notEmpty items.ranged) }}
            <div id="ranged">
                <div class="header desc">{{ localize "gurps.character.ranged.desc" }}</div>
                <div class="header usage">{{ localize "gurps.character.ranged.usage" }}</div>
                <div class="header level">{{ localize "gurps.character.ranged.level" }}</div>
                <div class="header accuracy">
                    {{ localize "gurps.character.ranged.accuracy" }}
                </div>
                <div class="header damage">
                    {{ localize "gurps.character.ranged.damage" }}
                </div>
                <div class="header range">
                    {{ localize "gurps.character.ranged.range" }}
                </div>
                <div class="header rate-of-fire">
                    {{ localize "gurps.character.ranged.rate_of_fire" }}
                </div>
                <div class="header shots">
                    {{ localize "gurps.character.ranged.shots" }}
                </div>
                <div class="header bulk">
                    {{ localize "gurps.character.ranged.bulk" }}
                </div>
                <div class="header recoil">
                    {{ localize "gurps.character.ranged.recoil" }}
                </div>
                <div class="header st">
                    {{ localize "gurps.character.ranged.st" }}
                </div>
                {{#each items.ranged }}
                    {{>actor/static/sections/ranged-attack }}
                {{/each }}
            </div>
        {{/if }}
        {{#if (notEmpty items.traits) }}
            <div id="traits" class="item-list">
                <div class="header desc">
                    {{ localize "gurps.character.traits.desc" }}
                </div>
                <div class="header points">
                    {{ localize "gurps.character.traits.points" }}
                </div>
                <div class="header reference">
                    <i class="gcs-bookmark"></i>
                </div>
                {{#each (flatlist items.traits) }}
                    {{>actor/static/sections/trait }}
                {{/each }}
            </div>
        {{/if }}
        {{#if (notEmpty items.skills) }}
            <div id="skills" class="item-list">
                <div class="header desc">
                    {{ localize "gurps.character.skills.desc" }}
                </div>
                <div class="header level">
                    {{ localize "gurps.character.skills.level" }}
                </div>
                <div class="header rsl">
                    {{ localize "gurps.character.skills.rsl" }}
                </div>
                <div class="header points">
                    {{ localize "gurps.character.skills.points" }}
                </div>
                <div class="header reference">
                    <i class="gcs-bookmark"></i>
                </div>
                {{#each (flatlist items.skills) }}
                    {{>actor/static/sections/skill }}
                {{/each }}
            </div>
        {{/if }}
        {{#if (notEmpty items.spells) }}
            <div id="spells" class="item-list">
                <div class="header desc">
                    {{ localize "gurps.character.spells.desc" }}
                </div>
                <div class="header level">
                    {{ localize "gurps.character.spells.level" }}
                </div>
                <div class="header rsl">
                    {{ localize "gurps.character.spells.rsl" }}
                </div>
                <div class="header points">
                    {{ localize "gurps.character.spells.points" }}
                </div>
                <div class="header reference">
                    <i class="gcs-bookmark"></i>
                </div>
                {{#each (flatlist items.spells) }}
                    {{>actor/static/sections/spell }}
                {{/each }}
            </div>
        {{/if }}
        {{#if (notEmpty items.equipment) }}
            <div id="equipment" class="item-list">
                <div class="header equipped">
                    <i class="gcs-checkmark"></i>
                </div>
                <div class="header quantity">
                    {{ localize "gurps.character.equipment.quantity" }}
                </div>
                <div class="header desc">
                    {{localize "gurps.character.equipment.desc" weight=actor.fastWeightCarried
                    value=actor.fastWealthCarried}}
                </div>
                <div class="header uses">
                    {{ localize "gurps.character.equipment.uses" }}
                </div>
                <div class="header tech-level">
                    {{ localize "gurps.character.equipment.tech_level" }}
                </div>
                <div class="header legality-class">
                    {{ localize "gurps.character.equipment.legality_class" }}
                </div>
                <div class="header value">
                    <i class="gcs-coins"></i>
                </div>
                <div class="header weight">
                    <i class="gcs-weight"></i>
                </div>
                <div class="header extended-value">
                    <i class="gcs-stack"></i><i class="gcs-coins"></i>
                </div>
                <div class="header extended-weight">
                    <i class="gcs-stack"></i><i class="gcs-weight"></i>
                </div>
                <div class="header reference">
                    <i class="gcs-bookmark"></i>
                </div>
                {{#each (flatlist items.equipment) }}
                    {{>actor/static/sections/equipment }}
                {{/each }}
            </div>
        {{/if }}
        {{#if (notEmpty items.other_equipment) }}
            <div id="other-equipment" class="item-list">
                <div class="header quantity">
                    {{ localize "gurps.character.other_equipment.quantity" }}
                </div>
                <div class="header desc">
                    {{ localize "gurps.character.other_equipment.desc" value=other_value }}
                </div>
                <div class="header uses">
                    {{ localize "gurps.character.other_equipment.uses" }}
                </div>
                <div class="header tech-level">
                    {{ localize "gurps.character.other_equipment.tech_level" }}
                </div>
                <div class="header legality-class">
                    {{ localize "gurps.character.other_equipment.legality_class" }}
                </div>
                <div class="header value">
                    <i class="gcs-coins"></i>
                </div>
                <div class="header weight">
                    <i class="gcs-weight"></i>
                </div>
                <div class="header extended-value">
                    <i class="gcs-stack"></i><i class="gcs-coins"></i>
                </div>
                <div class="header extended-weight">
                    <i class="gcs-stack"></i><i class="gcs-weight"></i>
                </div>
                <div class="header reference">
                    <i class="gcs-bookmark"></i>
                </div>
                {{#each (flatlist items.other_equipment) }}
                    {{>actor/static/sections/other-equipment }}
                {{/each }}
            </div>
        {{/if }}
        {{#if (notEmpty items.notes) }}
            <div id="notes" class="item-list">
                <div class="header desc">
                    {{ localize "gurps.character.notes.desc" }}
                </div>
                <div class="header reference">
                    <i class="gcs-bookmark"></i>
                </div>
                {{#each (flatlist items.notes) }}
                    {{>actor/static/sections/note }}
                {{/each }}
            </div>
        {{/if }}
    </div>
    <div id="footer">
        <div class="left">
            {{{ localize "gurps.character.copyright" current_year=current_year }}}
        </div>
        <div class="right">
            <a tabindex="-1" href="https://gurpscharactersheet.com/">gurpscharactersheet.com</a>
        </div>
    </div>
</form>
