<div id='combat-hit' class='conditional-injury'>
  <div class='header major-heading'>Injury</div>
  <div class='tracked-resource no-border'>
    <div class='header minor-heading'>Severity</div>
    <div class='spinner'>
      <button data-operation='ci-severity-dec'><i class='fas fa-minus'></i></button>

      <input
        class='gcs-attr-input'
        name='data.conditionalinjury.injury.severity'
        type='text'
        value='{{data.conditionalinjury.injury.severity}}'
        data-dtype='String'
        data-operation='ci-severity-set'
      />

      <button data-operation='ci-severity-inc'><i class='fas fa-plus'></i></button>
      <button data-operation='ci-reset'><i class='fas fa-undo'></i></button>
    </div>
    <div class='header minor-heading'>Time to Heal</div>
    <div class='spinner'>
      <button data-operation='ci-days-dec'><i class='fas fa-minus'></i></button>
      <input
        class='gcs-attr-input'
        name='injury.daystoheal'
        type='text'
        value='{{data.conditionalinjury.injury.daystoheal}}'
        placeholder=''
        data-dtype='Number'
        data-operation='ci-days-set'
      />
      <button class='no-gap' data-operation='ci-days-inc'><i class='fas fa-plus'></i></button>
      <div style='font-size: 85%;'>&nbsp;Days</div>
    </div>
    <div class='condition-block'>
      <div class='tooltip-wrapper'>
        <div class='tooltip condition {{ciCurrentGrossEffects data.conditionalinjury.injury.severity 'style'}}'>
          {{ciCurrentGrossEffects data.conditionalinjury.injury.severity 'label'}}
          <span class='tooltiptext'>
            <div class='fieldblock'>
              {{#ciSeveritiesTooltip}}
                <div class='field condensed noedit'>{{severity}}</div>
                <div class='label'>{{label}}</div>
              {{/ciSeveritiesTooltip}}
            </div>
          </span>
        </div>
      </div>
      <div class='basic-value fieldblock3'>
        <div class='points'>[{{#if data.conditionalinjury.RT.points}}{{data.conditionalinjury.RT.points}}
          {{else}}{{data.HP.points}}{{/if}}]
        </div>
        <div class='field'>{{data.conditionalinjury.RT.value}}&nbsp;RT</div>
        <div class='label'>{{data.HP.max}}&nbsp;HP</div>
      </div>
    </div>
  </div>
</div>