<div id='lifting' class='gga-tableheader'>
  <div class='header'>{{i18n 'GURPS.liftingAndMovingThings'}}</div>
  <div class='lift gga-right'>
    {{#if isEditing}}
      <input
        name='data.liftingmoving.basiclift'
        class='gcs-input-4'
        type='text'
        value='{{data.liftingmoving.basiclift}}'
      />
    {{else}}
      {{displayDecimal data.liftingmoving.basiclift number=1 removeZeros=true}}
    {{/if}}
  </div>
  <div class='liftdesc'>
    {{i18n 'GURPS.basicLift'}}
  </div>
  <div class='lift gga-right'>
    {{#if isEditing}}
      <input
        name='data.liftingmoving.onehandedlift'
        class='gcs-input-4'
        type='text'
        value='{{data.liftingmoving.onehandedlift}}'
      />
    {{else}}
      {{displayDecimal data.liftingmoving.onehandedlift number=1 removeZeros=true}}
    {{/if}}
  </div>
  <div class='liftdesc'>
    {{i18n 'GURPS.oneHandLift'}}
  </div>
  <div class='lift gga-right'>
    {{#if isEditing}}
      <input
        name='data.liftingmoving.twohandedlift'
        class='gcs-input-4'
        type='text'
        value='{{data.liftingmoving.twohandedlift}}'
      />
    {{else}}
      {{displayDecimal data.liftingmoving.twohandedlift number=1 removeZeros=true}}
    {{/if}}
  </div>
  <div class='liftdesc'>
    {{i18n 'GURPS.twoHandLift'}}
  </div>
  <div class='lift gga-right'>
    {{#if isEditing}}
      <input name='data.liftingmoving.shove' class='gcs-input-4' type='text' value='{{data.liftingmoving.shove}}' />
    {{else}}
      {{displayDecimal data.liftingmoving.shove number=1 removeZeros=true}}
    {{/if}}
  </div>
  <div class='liftdesc'>
    {{i18n 'GURPS.shoveAndKnockOver'}}
  </div>
  {{#if data.liftingmoving.runningshove}}
    <div class='lift gga-right'>
      {{#if isEditing}}
        <input
          name='data.liftingmoving.runningshove'
          class='gcs-input-4'
          type='text'
          value='{{data.liftingmoving.runningshove}}'
        />
      {{else}}
        {{displayDecimal data.liftingmoving.runningshove number=1 removeZeros=true}}
      {{/if}}
    </div>
    <div class='liftdesc'>
      {{i18n 'GURPS.runningShoveAndKnockOver'}}
    </div>
  {{/if}}
  <div class='lift gga-right'>
    {{#if isEditing}}
      <input
        name='data.liftingmoving.carryonback'
        class='gcs-input-4'
        type='text'
        value='{{data.liftingmoving.carryonback}}'
      />
    {{else}}
      {{displayDecimal data.liftingmoving.carryonback number=1 removeZeros=true}}
    {{/if}}
  </div>
  <div class='liftdesc'>
    {{i18n 'GURPS.carryOnBack'}}
  </div>
  <div class='lift gga-right'>
    {{#if isEditing}}
      <input
        name='data.liftingmoving.shiftslightly'
        class='gcs-input-4'
        type='text'
        value='{{data.liftingmoving.shiftslightly}}'
      />
    {{else}}
      {{displayDecimal data.liftingmoving.shiftslightly number=1 removeZeros=true}}
    {{/if}}
  </div>
  <div class='liftdesc'>
    {{i18n 'GURPS.shiftSlightly'}}
  </div>
</div>