<div class="message-roll attack">
	<div data-uuid="{{data.item.uuid}}" data-weapon="{{data.weapon.id}}" data-type="attack" class="name rollable">
		{{name}} ({{level}})</div>
	<div class="modifiers">
		{{#each modifiers}}
		<div class="mod mod-{{this.class}}" data-mod="{{json this}}">{{signed this.modifier}}{{#if this.name}}:
			{{this.name}}{{/if}}</div>
		{{/each}}
	</div>
	<div class="effective">{{localize "gurps.roll.effective_skill" level=effectiveLevel}}</div>
	<div class="result {{success}}">{{total}}: {{localize (concat "gurps.roll.success_attack." success)}}</div>
	<div class="margin mod mod-{{marginClass}}" data-mod="{{json marginMod}}">
		{{#if (in success "success")}}
		{{#if (eq margin 0)}}
		{{localize "gurps.roll.just_made_it"}}
		{{else}}
		{{localize "gurps.roll.success_margin" margin=margin}}
		{{/if}}
		{{else}}
		{{localize "gurps.roll.failure_margin" margin=margin}}
		{{/if}}
	</div>
	<hr>
	<div class="total">{{#each rolls}}
		{{#unless (eq @index 0)}} + {{/unless}}
		<i data-result={{this.result}} class="rollable fas fa-dice-{{this.word}}"></i>
		{{/each}}
		= {{total}}
	</div>
</div>
