<div class="dice-roll attribute">
	<div data-id="{{data.attribute.attr_id}}" data-type="attribute" class="name rollable">{{name}} ({{level}})</div>
	{{#if modifiers.length}}
	<div class="modifiers">
		{{#each modifiers}}
		<div class="mod mod-{{this.class}}" data-mod="{{json this}}">{{signed this.modifier}}{{#if this.name}}:
			{{this.name}}{{/if}}</div>
		{{/each}}
	</div>
	{{/if}}
	<hr>
	<div class="dice-result">
		{{{effective}}}
		<div class="dice-total generic">{{total}}</div>
		{{{margin}}}
		{{{tooltip}}}
	</div>
</div>
