<div class="message-roll generic">
	<div class="modifiers generic">
		{{#each modifiers}}
		<div class="mod mod-{{this.class}}" data-mod="{{json this}}">{{signed this.modifier}}{{#if this.name}}:
			{{this.name}}{{/if}}</div>
		{{/each}}
	</div>
	<div class="result generic">{{total}}</div>
	<hr />
	<div class="total">{{{displayRolls rolls modifierTotal}}} = {{total}}</div>
</div>
