<div class="dice-roll skill">
	<div data-uuid="{{data.item.uuid}}" data-type="skill" class="name rollable">{{displayName}}</div>
	{{#if modifiers.length}}
	<div class="modifiers">
		{{#each modifiers}}
		<div class="mod mod-{{this.class}}" data-mod="{{json this}}">{{signed this.modifier}}{{#if this.name}}:
			{{this.name}}{{/if}}</div>
		{{/each}}
	</div>
	{{/if}}
	<hr>
	<div class="dice-result">
		{{{effective}}}
		<div class="dice-total generic">{{total}}</div>
		{{{margin}}}
		{{{tooltip}}}
	</div>
</div>
