<form class="{{cssClass}}" autocomplete="off">
	<div id="sheet">
		<div id="details">
			<div class="label">{{localize "gurps.item.notes"}}</div>
			<div class="field">
				<input type="text" name="system.text" value="{{system.text}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.item.reference"}}</div>
			<div class="field">
				<input type="text" name="system.reference" value="{{system.reference}}" data-dtype="String" />
			</div>
		</div>
		<div class="label">{{localize "gurps.item.markdown_preview"}}</div>
		<div class="markdown">
			{{{document.formattedText}}}
		</div>
	</div>
</form>
