<div class="desc item" data-uuid="{{this.uuid}}" data-type="Item" {{{indent this.parents.length}}}>
	<div class="dropdown">
		{{#if (eq this.type "equipment_container")}}
		{{#if this.open}}
		{{>actor/character/sections/dropdown-open}}
		{{else}}
		{{>actor/character/sections/dropdown-closed}}
		{{/if}}
		{{/if}}
	</div>
	<div class="name">
		{{this.formattedName}}
	</div>
	{{>compendium-browser/item-notes}}
</div>
<div class="uses">{{#if this.uses}}{{this.uses}}{{/if}}</div>
<div class="tech-level">{{this.techLevel}}</div>
<div class="legality-class">{{this.legalityClass}}</div>
<div class="value">{{this.adjustedValue}}</div>
<div class="weight">{{this.adjustedWeightFast}}</div>
<div class="tags">{{join this.tags ", "}}</div>
<div class="reference" data-pdf="{{this.reference}}">{{ref this.reference}}</div>
{{#if this.open}}
{{#each (sort this.children "sort")}}
{{>compendium-browser/equipment}}
{{/each}}
{{/if}}
