<div class="searchbar">
	<input
		type="text"
		name="searchQuery"
		value="{{filterData.searchQuery}}"
		data-dtype="String"
		placeholder={{localize "gurps.compendium_browser.search"}}
	/>
	{{#unless (eq tab "note")}}
	<select name="tagFilter" data-dtype="String">
		{{#select filterData.tagFilter}}
			<option value="any_tag">
				{{localize "gurps.compendium_browser.any_tag"}}
			</option>
			{{#each tagList}}
				<option value="{{this}}">
					{{this}}
				</option>
			{{/each}}
		{{/select}}
	</select>
	{{/unless}}
</div>
