<div style='text-align: center; margin: 1.5rem 0'>
  {{localize 'GURPS.resourceTracker.template.title'}}:
  <select {{disabled (not templates)}}>
    {{#each templates}}
      <option value='{{tracker.name}}'>{{tracker.name}}</option>
    {{else}}
      <option value='none'>{{localize 'GURPS.resourceTracker.undefined'}}</option>
    {{/each}}
  </select>
</div>