<button class="active {{#if (gt this.modifier 0)}}pos{{else if (eq this.modifier 0)}}zero{{else}}neg{{/if}}" data-index="{{@index}}">
	<div>
		{{signed this.modifier}}{{#if this.name}}:{{/if}}
		{{this.name}}{{#if this.max}}{{localize "gurps.system.modifier_bucket.max" max=this.max}}{{/if}}{{#if
			this.cost
		}}{{modifierCost this.cost}}{{/if}}
	</div>
	<i class="gcs-trash"></i>
</button>
