<div class="mod-container">
<button
	class="modifier {{#if (gt this.modifier 0)}}pos{{else if (eq this.modifier 0)}}zero{{else}}neg{{/if}}"
	data-modifier="{{json this}}"
	>
	{{signed this.modifier}}{{#if this.name}}:{{/if}}
	{{this.name}}{{#if this.max}}{{localize "gurps.system.modifier_bucket.max" max=this.max}}{{/if}}{{#if
		this.cost
	}}{{modifierCost this.cost}}{{/if}}
</button>
{{#if this.reference}}
<div class="reference">{{{ref this.reference}}}</div>
{{/if}}
</div>
