<div id="description">
	<div class="header">{{localize "gurps.character.description"}}</div>
	<div class="fieldblock">
		<div class="label">{{localize "gurps.character.gender"}}</div>
		<div class="field">
			<input
				type="text"
				name="system.traits.gender"
				data-dtype="String"
				value="{{system.traits.gender}}"
				{{disabled (not editing)}}
			/>
		</div>
		<div class="label">{{localize "gurps.character.age"}}</div>
		<div class="field">
			<input
				type="text"
				name="system.traits.age"
				data-dtype="String"
				value="{{system.traits.age}}"
				{{disabled (not editing)}}
			/>
		</div>
		<div class="label">{{localize "gurps.character.birthday"}}</div>
		<div class="field">
			<input
				type="text"
				name="system.traits.birthday"
				data-dtype="String"
				value="{{system.traits.birthday}}"
				{{disabled (not editing)}}
			/>
		</div>
		<div class="label">{{localize "gurps.character.religion"}}</div>
		<div class="field">
			<input
				type="text"
				name="system.traits.religion"
				data-dtype="String"
				value="{{system.traits.religion}}"
				{{disabled (not editing)}}
			/>
		</div>
	</div>
	<div class="fieldblock">
		<div class="label">{{localize "gurps.character.height"}}</div>
		<div class="field">
			<input
				type="text"
				name="system.traits.height"
				data-dtype="String"
				value="{{system.traits.height}}"
				{{disabled (not editing)}}
			/>
		</div>
		<div class="label">{{localize "gurps.character.weight"}}</div>
		<div class="field">
			<input
				type="text"
				name="system.traits.weight"
				data-dtype="String"
				value="{{system.traits.weight}}"
				{{disabled (not editing)}}
			/>
		</div>
		<div class="label">{{localize "gurps.character.sm"}}</div>
		<div
			class="field rollable"
			data-type="modifier"
			data-comment="{{localize 'gurps.modifier.size.size' size=(signed system.traits.sizemod)}}"
			data-modifier="{{system.traits.sizemod}}"
		>
			<input
				type="text"
				name="system.traits.sizemod"
				data-dtype="Number"
				value="{{signed system.traits.sizemod}}"
				{{disabled (not editing)}}
			/>
		</div>
		<div class="label">{{localize "gurps.character.tech_level"}}</div>
		<div class="field">
			<input
				type="text"
				name="system.traits.techlevel"
				data-dtype="String"
				value="{{system.traits.techlevel}}"
				{{disabled (not editing)}}
			/>
		</div>
	</div>
	<div class="fieldblock">
		<div class="label">{{localize "gurps.character.hair"}}</div>
		<div class="field">
			<input
				type="text"
				name="system.traits.hair"
				data-dtype="String"
				value="{{system.traits.hair}}"
				{{disabled (not editing)}}
			/>
		</div>
		<div class="label">{{localize "gurps.character.eyes"}}</div>
		<div class="field">
			<input
				type="text"
				name="system.traits.eyes"
				data-dtype="String"
				value="{{system.traits.eyes}}"
				{{disabled (not editing)}}
			/>
		</div>
		<div class="label">{{localize "gurps.character.skin"}}</div>
		<div class="field">
			<input
				type="text"
				name="system.traits.skin"
				data-dtype="String"
				value="{{system.traits.skin}}"
				{{disabled (not editing)}}
			/>
		</div>
		<div class="label">{{localize "gurps.character.handedness"}}</div>
		<div class="field">
			<input
				type="text"
				name="system.traits.hand"
				data-dtype="String"
				value="{{system.traits.hand}}"
				{{disabled (not editing)}}
			/>
		</div>
	</div>
</div>
