<div id="identity">
	<div class="header">{{localize "gurps.character.identity"}}</div>
	<div class="fieldblock">
		<div class="label">{{localize "gurps.character.name"}}</div>
		<div class="field">
			<input
				type="text"
				name="name"
				value="{{actor.name}}"
				data-dtype="String"
				{{disabled (not editing)}}
			/>
		</div>
		<div class="label">{{localize "gurps.character.title"}}</div>
		<div class="field">
			<input
				type="text"
				name="system.traits.title"
				value="{{system.traits.title}}"
				data-dtype="String"
				{{disabled (not editing)}}
			/>
		</div>
		<div class="label">{{localize "gurps.character.organization"}}</div>
		<div class="field">
			<input
				type="text"
				name="system.traits.organization"
				value="{{system.traits.organization}}"
				data-dtype="String"
				{{disabled (not editing)}}
			/>
		</div>
	</div>
</div>
