<div class="header">{{localize "gurps.character.move.title"}}</div>
<div class="fieldblock3">
	<div class="label">{{localize "gurps.character.move.maneuver"}}</div>
	<div class="field">
		<select class="move-select" data-name="maneuver" {{disabled (not actor.inCombat)}}>
			{{#select system.move.maneuver}}
				{{#each maneuvers as |v k|}}
					<option value="{{k}}">{{localize v}}</option>
				{{/each}}
			{{/select}}
		</select>
	</div>
	<div class="label"></div>
	<div class="label">{{localize "gurps.character.move.posture"}}</div>
	<div class="field">
		<select class="move-select" data-name="posture">
			{{#select system.move.posture}}
				{{#each postures as |v k|}}
					<option value="{{k}}">{{localize v}}</option>
				{{/each}}
			{{/select}}
		</select>
	</div>
	<div class="label"></div>
	<div class="label">{{localize "gurps.character.move.type"}}</div>
	<div class="field">
		<select class="move-select" data-name="move">
			{{#select system.move.type}}
				{{#each move_types as |v k|}}
					<option value="{{k}}">{{localize v}}</option>
				{{/each}}
			{{/select}}
		</select>
	</div>
	<div class="label"></div>
</div>
