{{#unless this.isCollapsed}}
<div class="quantity">{{ this.count }}</div>
<div class="desc item" data-item-id="{{ this.itemid }}" style="padding-left: calc({{ this.indent }} * 12px + 6px)">
	<div class="dropdown">
		{{#if this.hasContains }}
		<i class="dropdown-toggle open gcs-circled-chevron-down" data-key="system.equipment.other.{{this.uuid}}"></i>
		{{/if}}
		{{#if this.hasCollapsed }}
		<i class="dropdown-toggle closed gcs-circled-chevron-right" data-key="system.equipment.other.{{this.uuid}}"></i>
		{{/if}}
	</div>
	<div class="name">{{ this.name }}</div>
	<div class="item-notes">{{ this.notes }}</div>
</div>
<div class="uses">
	{{#if (and this.uses this.maxuses) }}
	{{ this.uses }}
	{{/if }}
</div>
<div class="tech-level">{{ this.techlevel }}</div>
<div class="legality-class">{{ this.legalityclass }}</div>
<div class="value">{{ this.cost }}</div>
<div class="weight">{{ this.weight }}</div>
<div class="extended-value">{{ this.costsum }}</div>
<div class="extended-weight">{{ this.weightsum }}</div>
<div class="reference">{{{ref this.pageref}}}</div>
{{/unless}}
