<div id="points">
	<div class="header">{{system.totalpoints.total}} {{localize "gurps.character.points.title"}}</div>
	<div class="fieldblock">
		<div class="field">
			<input
				type="text"
				name="system.totalpoints.unspent"
				value="{{system.totalpoints.unspent}}"
				data-dtype="Number"
				{{disabled (not editing)}}
			/>
		</div>
		<div class="label">{{localize "gurps.character.points.unspent"}}</div>
		<div class="field">
			<input type="text" value="{{system.totalpoints.ancestry}}" disabled />
		</div>
		<div class="label">{{localize "gurps.character.points.ancestry"}}</div>
		<div class="field">
			<input type="text" value="{{system.totalpoints.attributes}}" disabled />
		</div>
		<div class="label">{{localize "gurps.character.points.attributes"}}</div>
		<div class="field">
			<input type="text" value="{{system.totalpoints.ads}}" disabled />
		</div>
		<div class="label">{{localize "gurps.character.points.advantages"}}</div>
		<div class="field">
			<input type="text" value="{{system.totalpoints.disads}}" disabled />
		</div>
		<div class="label">{{localize "gurps.character.points.disadvantages"}}</div>
		<div class="field">
			<input type="text" value="{{system.totalpoints.quirks}}" disabled />
		</div>
		<div class="label">{{localize "gurps.character.points.quirks"}}</div>
		<div class="field">
			<input type="text" value="{{system.totalpoints.skills}}" disabled />
		</div>
		<div class="label">{{localize "gurps.character.points.skills"}}</div>
		<div class="field">
			<input type="text" value="{{system.totalpoints.spells}}" disabled />
		</div>
		<div class="label">{{localize "gurps.character.points.spells"}}</div>
	</div>
</div>
