<div id="pool-attributes">
	<div class="header">{{localize "gurps.character.point_pools"}}</div>
	<div class="fieldblock6">
		<div class="points">[{{system.HP.points}}]</div>
		<div class="field">
			<input type="text" name="system.HP.value" value="{{system.HP.value}}" data-dtype="Number" />
		</div>
		<div class="label">{{localize "gurps.character.pool_of"}}</div>
		<div class="field">
			<input type="text" value="{{system.HP.max}}" disabled />
		</div>
		<div class="label">{{localize "gurps.static.hp"}}</div>
		<div class="label tooltip">
			[{{localize conditions.HP}}]
		</div>
		<div class="points">[{{system.FP.points}}]</div>
		<div class="field">
			<input type="text" name="system.FP.value" value="{{system.FP.value}}" data-dtype="Number" />
		</div>
		<div class="label">{{localize "gurps.character.pool_of"}}</div>
		<div class="field">
			<input type="text" value="{{system.FP.max}}" disabled />
		</div>
		<div class="label">{{localize "gurps.static.fp"}}</div>
		<div class="label tooltip" as |this index|>
			[{{localize conditions.FP}}]
		</div>
	</div>
</div>
