<div class='dice-roll' data-action='expandRoll'>
  {{#if flavor}}
    <div class='dice-flavor'>{{flavor}}</div>
  {{/if}}
  <span>Name: {{name}}</span>
  <span>Outcome: {{outcome}}</span>
  <div class='dice-result'>
    <div class='dice-formula'>{{formula}}</div>
    {{{tooltip}}}
    <h4 class='dice-total'>{{total}}</h4>
  </div>
</div>
