<div id="defaults">
	<div class="header">{{localize "gurps.default.header"}}</div>
	<div class="content">
		<div> <a class="add button gcs-circled-add"></a> </div>
		{{#each this.defaults}}
			<div class="default">
				<a class="remove button gcs-trash" data-index="{{@index}}"></a>
			<select name="{{../sysPrefix}}defaults.{{@index}}.type" data-index="{{@index}}">
				{{#select this.type}}
				<option value="10">{{localize "gurps.select.defaults.ten"}}</option>
				{{#each ../attributes as |v k|}}
				<option value="{{k}}">{{v}}</option>
				{{/each}}
				<option value="parry">{{localize "gurps.select.defaults.parry"}}</option>
				<option value="block">{{localize "gurps.select.defaults.block"}}</option>
				<option value="skill">{{localize "gurps.select.defaults.skill"}}</option>
				{{/select}}
			</select>
			<div class="field">
				<input type="text" name="{{../sysPrefix}}defaults.{{@index}}.name" value="{{this.name}}" data-dtype="String" {{input_lock (eq this.type "skill")}} />
			</div>
			<div class="field">
				<input type="text" name="{{../sysPrefix}}defaults.{{@index}}.specialization" value="{{this.specialization}}" data-dtype="String" {{input_lock (eq this.type "skill")}} />
			</div>
			<div class="field">
				<input type="text" name="{{../sysPrefix}}defaults.{{@index}}modifier" value="{{signed this.modifier}}" data-dtype="String"/>
			</div>
		</div>
		{{/each}}
	</div>
</div>
