<div class="prereq" {{{indent indent 5 19}}}>
	<div class="top">
		{{#if (eq this.type "prereq_list")}}
		{{#unless (eq indent 0)}}
		<i class="remove button gcs-trash" data-path="{{path}}"></i>
		{{/unless}}
		<i class="add-child button gcs-circled-add" data-path="{{path}}"></i>
		<i class="add-list button gcs-circled-vertical-ellipsis" data-path="{{path}}"></i>
		<select name="{{path}}.when_tl.compare" data-dtype="String">
			{{#select this.when_tl.compare}}
			{{#each config.select.number_compare as |v k|}}
			<option value="{{k}}">{{localize "gurps.field_prefix.tech_level"}} {{localize v}}</option>
			{{/each}}
			{{/select}}
		</select>
		{{>sections/input-text field="field" name=(concat "NUMBER." path ".when_tl.qualifier")
		data=this.when_tl.qualifier
		type="String"
		class=(disabled (eq this.when_tl.compare "none"))}}
		<select name="{{path}}.all" data-dtype="Boolean">
			{{#select this.all}}
			{{#each config.select.has as |v k|}}
			<option value="{{k}}">{{localize v}}</option>
			{{/each}}
			{{/select}}
		</select>
		{{else}}
		<i class="remove button gcs-trash" data-path="{{path}}"></i>
		<select name="{{path}}.has" data-dtype="String">
			{{#select this.has}}
			{{#each config.select.has as |v k|}}
			<option value="{{k}}">{{localize v}}</option>
			{{/each}}
			{{/select}}
		</select>
		{{#unless (eq this.type "spell_prereq")}}
		<select class="type" name="{{path}}.type" data-path="{{path}}">
			{{#select this.type}}
			{{#each config.select.prereqs as |v k|}}
			<option value="{{k}}">{{localize v}}</option>
			{{/each}}
			{{/select}}
		</select>
		{{#if (eq this.type "contained_quantity_prereq")}}{{>item/sections/prereq/contained-quantity-prereq}}{{/if}}
		{{#if (eq this.type "contained_weight_prereq")}}{{>item/sections/prereq/contained-weight-prereq}}{{/if}}
		{{else}}
		<select name="{{path}}.quantity.compare">
			{{#select this.quantity.compare}}
			{{#each config.select.number_compare_strict as |v k|}}
			<option value="{{k}}">{{localize v}}</option>
			{{/each}}
			{{/select}}
		</select>
		{{>sections/input-text field="field" name=(concat "NUMBER." path ".quantity.qualifier")
		data=this.quantity.qualifier
		type="String"}}
		<select class="type" name="{{path}}.type" data-path="{{path}}">
			{{#select this.type}}
			{{#each config.select.prereqs as |v k|}}
			<option value="{{k}}">{{localize v}}</option>
			{{/each}}
			{{/select}}
		</select>
		{{/unless}}
		{{/if}}
	</div>
	{{#if (eq this.type "trait_prereq")}}{{>item/sections/prereq/trait-prereq}}{{/if}}
	{{#if (eq this.type "attribute_prereq")}}{{>item/sections/prereq/attribute-prereq}}{{/if}}
	{{#if (eq this.type "skill_prereq")}}{{>item/sections/prereq/skill-prereq}}{{/if}}
	{{#if (eq this.type "spell_prereq")}}{{>item/sections/prereq/spell-prereq}}{{/if}}
</div>
{{#if (eq this.type "prereq_list")}}
{{#each this.prereqs}}
{{>item/sections/prereq path=(concat ../path ".prereqs." @index) config=../config indent=(sum ../indent 1)
attributes=../attributes}}
{{/each}}
{{/if}}
