<div id="ranged" class="item-list table">
	<div class="header usage desc">{{localize "gurps.weapon.ranged_header"}}</div>
	<div class="header level">{{localize "gurps.character.ranged.level"}}</div>
	<div class="header accuracy">{{localize "gurps.character.ranged.accuracy"}}</div>
	<div class="header damage">{{localize "gurps.character.ranged.damage"}}</div>
	<div class="header range">{{localize "gurps.character.ranged.range"}}</div>
	<div class="header rate-of-fire">{{localize "gurps.character.ranged.rate_of_fire"}}</div>
	<div class="header shots">{{localize "gurps.character.ranged.shots"}}</div>
	<div class="header bulk">{{localize "gurps.character.ranged.bulk"}}</div>
	<div class="header recoil">{{localize "gurps.character.ranged.recoil"}}</div>
	<div class="header st">{{localize "gurps.character.ranged.st"}}</div>
	{{#each rangedWeapons}}
	<div class="usage desc item" data-item-id="{{this.id}}" data-type="Item">
		<div class="name">
			{{this.system.usage}}
		</div>
		{{>actor/character/sections/item-notes}}
	</div>
	<div data-item-id="{{this.id}}" class="level">
		{{this.level}}</div>
	<div data-item-id="{{this.id}}" class="accuracy">
		{{signed this.accuracy}}</div>
	<div data-item-id="{{this.id}}" class="damage">
		{{this.damage}}</div>
	<div data-item-id="{{this.id}}" class="range">{{this.range}}</div>
	<div data-item-id="{{this.id}}" class="rate-of-fire">{{this.rate_of_fire}}</div>
	<div data-item-id="{{this.id}}" class="shots">{{this.shots}}</div>
	<div data-item-id="{{this.id}}" class="bulk">{{this.bulk}}
	</div>
	<div data-item-id="{{this.id}}" class="recoil">{{this.recoil}}</div>
	<div data-item-id="{{this.id}}" class="st">{{this.strength}}</div>
	{{else}}
	<div class="usage desc filler"></div>
	<div class="level"></div>
	<div class="accuracy"></div>
	<div class="damage"></div>
	<div class="range"></div>
	<div class="rate-of-fire"></div>
	<div class="shots"></div>
	<div class="bulk"></div>
	<div class="recoil"></div>
	<div class="st"></div>
	{{/each}}
</div>
