<fieldset class="ms-details">
  <legend>{{ localize "GURPS.sheet.details.skill" }}</legend>

  <div class="ms-field-row" style="--ms-cols: 3;">
    {{formGroup systemFields.importedLevel value=system.importedLevel}}
    {{formGroup systemFields.relativelevel value=system.relativelevel}}
    {{formGroup systemFields.points value=system.points}}
  </div>

  <div class="ms-field-row">
    {{formGroup systemFields.techlevel value=system.techlevel}}
    {{formGroup systemFields.difficulty value=system.difficulty}}
  </div>

  <div class="ms-field-row">
    {{formGroup systemFields.specialization value=system.specialization}}
    {{formGroup systemFields.pageref value=system.pageref}}
  </div>

</fieldset>
