{{!-- <form class="item-sheet {{cssClass}} container" autocomplete="off"> --}}
	{{!-- <header class="sheet-header"> --}}
		{{!-- <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" /> --}}
		{{!-- <h1 class="charname"><input name="name" type="text" value="{{item.name}}"
				placeholder="{{ localize 'Name' }}" /></h1> --}}
		{{!-- </header> --}}

	{{!-- <section class="items"> --}}
		{{!-- <h3>Contained Items</h3> --}}
		{{!-- <ol class="item-items"> --}}
			{{!-- {{#each item.items as |item id|}} --}}
			{{!-- <li class="item-item" data-item-id="{{id}}"> --}}
				{{!-- <div class="item-name"> --}}
					{{!-- <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /> --}}
					{{!-- <h4>{{item.name}}</h4> --}}
					{{!-- </div> --}}
				{{!-- <div class="item-controls"> --}}
					{{!-- <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a> --}}
					{{!-- <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a> --}}
					{{!-- </div> --}}
				{{!-- </li> --}}
			{{!-- {{/each}} --}}
			{{!-- </ol> --}}
		{{!-- </section> --}}
	{{!-- </form> --}}
