<form class="{{cssClass}} gurps" autocomplete="off">
	<div id="sheet">
		<div id="details">
			<div class="label">{{localize "gurps.weapon.usage"}}</div>
			<div class="field">
				<input type="text" class="input" name="usage" value="{{weapon.usage}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.weapon.notes"}}</div>
			<div class="field">
				<input
					type="text"
					class="input"
					name="usage_notes"
					value="{{weapon.usage_notes}}"
					data-dtype="String"
				/>
			</div>
			<div class="label">{{localize "gurps.weapon.strength"}}</div>
			<div class="field">
				<input type="text" class="input" name="strength" value="{{weapon.strength}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.weapon.damage.st"}}</div>
			<div class="field">
				<select name="damage.st" data-dtype="String">
					{{#select weapon.damage.st}}
						{{#each config.select.damage_st as |v k|}}
							<option value="{{k}}">{{localize v}}</option>
						{{/each}}
					{{/select}}
				</select>
			</div>
			<div class="label">{{localize "gurps.weapon.damage.base"}}</div>
			<div class="field">
				<input
					type="text"
					class="input"
					name="damage.base"
					value="{{diceString weapon.damage.base}}"
					data-dtype="String"
				/>
			</div>
			<div class="label">{{localize "gurps.weapon.damage.modifier_per_die"}}</div>
			<div class="field">
				<input
					type="text"
					class="input"
					name="damage.modifier_per_die"
					value="{{weapon.damage.modifier_per_die}}"
					data-dtype="Number"
				/>
			</div>
			<div class="label">{{localize "gurps.weapon.damage.armor_divisor"}}</div>
			<div class="field">
				<input
					type="text"
					class="input"
					name="damage.armor_divisor"
					value="{{weapon.damage.armor_divisor}}"
					data-dtype="Number"
				/>
			</div>
			<div class="label">{{localize "gurps.weapon.damage.type"}}</div>
			<div class="field">
				<input
					type="text"
					class="input"
					name="damage.type"
					value="{{weapon.damage.type}}"
					data-dtype="String"
				/>
			</div>
			<div class="label">{{localize "gurps.weapon.damage.fragmentation"}}</div>
			<div class="field">
				<input
					type="text"
					class="input"
					name="damage.fragmentation"
					value="{{diceString weapon.damage.fragmentation}}"
					data-dtype="String"
				/>
			</div>
			<div class="label">{{localize "gurps.weapon.damage.fragmentation_armor_divisor"}}</div>
			<div class="field">
				<input
					type="text"
					class="input"
					name="damage.fragmentation_armor_divisor"
					value="{{weapon.damage.fragmentation_armor_divisor}}"
					data-dtype="Number"
				/>
			</div>
			<div class="label">{{localize "gurps.weapon.damage.fragmentation_type"}}</div>
			<div class="field">
				<input
					type="text"
					class="input"
					name="damage.fragmentation_type"
					value="{{weapon.damage.fragmentation_type}}"
					data-dtype="String"
				/>
			</div>
			<div class="label">{{localize "gurps.weapon.accuracy"}}</div>
			<div class="field">
				<input type="text" class="input" name="accuracy" value="{{weapon.accuracy}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.weapon.rate_of_fire"}}</div>
			<div class="field">
				<input
					type="text"
					class="input"
					name="rate_of_fire"
					value="{{weapon.rate_of_fire}}"
					data-dtype="String"
				/>
			</div>
			<div class="label">{{localize "gurps.weapon.range"}}</div>
			<div class="field">
				<input type="text" class="input" name="range" value="{{weapon.range}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.weapon.recoil"}}</div>
			<div class="field">
				<input type="text" class="input" name="recoil" value="{{weapon.recoil}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.weapon.shots"}}</div>
			<div class="field">
				<input type="text" class="input" name="shots" value="{{weapon.shots}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.weapon.bulk"}}</div>
			<div class="field">
				<input type="text" class="input" name="bulk" value="{{weapon.bulk}}" data-dtype="String" />
			</div>
		</div>
		{{>item/sections/defaults weapon attributes=attributes sysPrefix=sysPrefix}}
	</div>
</form>
