{{#if label}}
<div class="label">{{localize label}}</div>
{{/if}}
{{#if field}}
<div class="{{field}}">
	{{/if}}
	<input name="{{name}}" class="input{{#if (in name 'NUMBER')}} number{{/if}}" type="text" data-dtype="{{type}}"
		value="{{{data}}}" {{{class}}} />
	{{#if field}}
</div>
{{/if}}
{{#if after}}
<div class="label">{{localize after}}</div>
{{/if}}
