<div class="roll">{{this.roll}}</div>
<div class="location">{{tab}}{{this.where}}</div>
<div class="penalty rollable">{{signed this.penalty}}</div>
<div class="dr rollable">{{this.import}}{{#each this.split}}/{{this}}{{/each}}</div>
{{#if this.sub_table}}
{{#each this.sub_table.location}}
{{>actor/character/sections/hit-location tab=" "}}
{{/each}}
{{/if}}
