<div id="miscellaneous">
	<div class="header">{{localize "gurps.character.miscellaneous"}}</div>
	<div class="fieldblock">
		<div class="label">{{localize "gurps.character.created_date"}}</div>
		<div class="field">
			<input type="text" value="{{date system.traits.createdon}}" disabled />
		</div>
		<div class="label">{{localize "gurps.character.modified_date"}}</div>
		<div class="field">
			<input type="text" value="{{date system.traits.modifiedon}}" disabled />
		</div>
		<div class="label">{{localize "gurps.character.player_name"}}</div>
		<div class="field">
			<input
				type="text"
				name="system.traits.player"
				data={{system.traits.player}}
				data-dtype="string"
				{{input_lock editing}}
			/>
		</div>
	</div>
</div>
