<div class="header">{{localize "gurps.character.move.title"}}</div>
<div class="fieldblock3">
	<div class="label">{{localize "gurps.character.move.maneuver"}}</div>
	<div class="field">
		<select name="system.move.maneuver" data-dtype="String">
			{{#select system.move.maneuver}}
			{{#each maneuvers as |v k|}}
			<option value="{{k}}">{{localize v}}</option>
			{{/each}}
			{{/select}}
		</select>
	</div>
	<div class="label"></div>
	<div class="label">{{localize "gurps.character.move.posture"}}</div>
	<div class="field">
		<select name="system.move.posture" data-dtype="String">
			{{#select system.move.posture}}
			{{#each postures as |v k|}}
			<option value="{{k}}">{{localize v}}</option>
			{{/each}}
			{{/select}}
		</select>
	</div>
	<div class="label"></div>
	<div class="label">{{localize "gurps.character.move.type"}}</div>
	<div class="field">
		<select name="system.move.type" data-dtype="String">
			{{#select system.move.type}}
			{{#each move_types as |v k|}}
			<option value="{{k}}">{{localize v}}</option>
			{{/each}}
			{{/select}}
		</select>
	</div>
	<div class="label"></div>
</div>
