<div class="desc item"
     data-uuid="{{ this.uuid }}"
     style="padding-left: calc({{ this.indent }} * 12px + 6px)">
    <div class="dropdown">
        {{#if this.hasContains }}
            {{#if this.hasCollapsed }}
                {{>actor/character/sections/dropdown-closed }}
            {{ else }}
                {{>actor/character/sections/dropdown-open }}
            {{/if }}
        {{/if }}
    </div>
    <div class="name">{{ this.notes }}</div>
</div>
<div class="reference" data-pdf="{{ this.pageref }}">{{ ref this.pageref }}</div>
