<div class="desc">
	<div data-item-id="{{this.itemid}}" class="name">{{ this.name }} {{#if this.itemid}}<i class="fas fa-star tooltip gga-item"></i>{{/if}}</div>
	<div class="item-notes">{{this.notes}}</div>
</div>
<div data-item-id="{{@key}}" data-weapon="ranged" data-type="attack" class="usage rollable">
	{{this.mode}}</div>
<div data-item-id="{{@key}}" data-weapon="ranged" data-type="attack" class="level rollable">
	{{this.import}}</div>
<div
	data-modifier="{{this.acc}}"
	data-comment="{{localize 'gurps.weapon.accuracy_for' name=this.name}}"
	data-type="modifier"
	class="accuracy rollable"
>{{signed this.acc}}</div>
<div data-item-id="{{@key}}" data-weapon="ranged" data-type="damage" class="damage rollable">
	{{this.damage}}</div>
<div class="range">{{this.range}}</div>
<div class="rate-of-fire">{{this.rof}}</div>
<div class="shots">{{this.shots}}</div>
<div
	data-modifier="{{this.bulk}}"
	data-comment="{{localize 'gurps.weapon.bulk_for' name=this.name}}"
	data-type="modifier"
	class="bulk rollable"
>{{this.bulk}}</div>
<div class="recoil">{{this.rcl}}</div>
<div class="st">{{this.st}}</div>
