<div class="header">{{localize "gurps.character.resource_trackers.title"}}</div>
<div class="fieldblock6">
	{{#each document.trackers}}
		<div class="points">{{this.pdf}}</div>
		<div class="field">
			<input
				type="text"
				name="system.additionalresources.tracker.{{@key}}.value"
				value="{{this.value}}"
				data-dtype="Number"
			/>
		</div>
		<div class="label">{{localize "gurps.character.pool_of"}}</div>
		<div class="field">
			<input type="text" value="{{this.max}}" disabled />
		</div>
		<div class="label">{{this.name}}</div>
		<div class="label tooltip">
			{{#if this.currentThreshold.condition}}
				[{{this.currentThreshold.condition}}]
			{{/if}}
		</div>
	{{/each}}
</div>
