<div class="desc item" data-uuid="{{this.uuid}}" style="padding-left: calc({{this.indent}} * 12px + 6px)">
	<div class="dropdown">
		{{#if this.hasContains}}
		{{#if this.hasCollapsed}}
		{{>actor/static_character/sections/dropdown-closed}}
		{{else}}
		{{>actor/static_character/sections/dropdown-open}}
		{{/if}}
		{{/if}}
	</div>
	<div class="name">
		{{this.name}}
	</div>
	<div class="item-notes">
		{{this.notes}}
	</div>
</div>
<div class="points">{{this.points}}</div>
<div class="reference" data-pdf="{{this.pageref}}">{{ref this.pageref}}</div>
