{{#*inline ".note"}}
  <div class='ms-note-row' data-uuid="{{uuid}}">
    <div class='ms-note-content indent{{indent}}'>
      {{#if hasChildren}}<i class='fas fa-caret-down ms-container-icon {{ifThen childrenOpen "" "container-collapsed"}}'></i>{{/if}}
      {{#if notes}}
        {{#if fullName}}<strong>{{{gurpslinkbr fullName}}}</strong> {{/if}}{{{gurpslinkbr notes}}}
      {{else}}
        {{localize "GURPS.noteBlank"}}<i class='far fa-laugh-wink'></i>
      {{/if}}
    </div>
    <span class='ms-note-ref'>{{pdfReference reference}}</span>
    {{> "actor.modern.partials.row-actions"}}
  </div>
  {{#if (and hasChildren childrenOpen)}}
    {{#each children}}
      {{> ".note" }}
    {{/each}}
  {{/if}}
{{/inline}}

<section class='ms-npc-body'>
  <div class='ms-npc-combat-row'>
    {{> "actor.modern.partials.attack-table" itemSections.attacksMelee isMelee=true }}

    {{> "actor.modern.partials.attack-table" itemSections.attacksRanged isMelee=false }}
  </div>

  <div class='ms-npc-skills-row'>
    {{> "actor.modern.partials.item-table" itemSections.skills }}

    {{#if (notEmpty system.spells)}}
      {{> "actor.modern.partials.item-table" itemSections.spells }}
    {{/if}}
  </div>

  {{> "actor.modern.partials.item-table" itemSections.traits }}

  {{> "actor.modern.partials.equipment-table" itemSections.equipmentCarried }}

  {{> "actor.modern.partials.equipment-table" itemSections.equipmentOther }}


  <div class='ms-section' data-section='notes'>
    {{> "actor.modern.partials.section-header" icon="fa-sticky-note" title=(localize "GURPS.notes")}}
    <div class='ms-section-content'>
      {{#each notes}}
        {{> ".note"}}
      {{else}}
        <div class='ms-empty'>{{localize 'GURPS.none'}}</div>
      {{/each}}
      {{> "actor.modern.partials.add-row" action="addNote" label=(localize "GURPS.notes")}}
    </div>
  </div>

  {{#if useCI}}
  <div class='ms-section ms-ci-section'>
    {{> "actor.modern.partials.section-header" icon="fa-heartbeat" title=(localize "GURPS.addInjury")}}
    <div class='ms-section-content'>
      <div class='ms-ci-controls'>
        <div class='ms-ci-control'>
          <span class='ms-ci-label'>Severity</span>
          <div class='ms-ci-spinner'>
            <button type='button' data-operation='ci-severity-dec'><i class='fas fa-minus'></i></button>
            <input name='system.conditionalinjury.injury.severity' type='text' value='{{system.conditionalinjury.injury.severity}}' data-dtype='String' data-operation='ci-severity-set' />
            <button type='button' data-operation='ci-severity-inc'><i class='fas fa-plus'></i></button>
          </div>
          <button type='button' class='ms-ci-reset' data-operation='ci-reset'><i class='fas fa-undo'></i></button>
        </div>
        <div class='ms-ci-control'>
          <span class='ms-ci-label'>Time to Heal</span>
          <div class='ms-ci-spinner'>
            <button type='button' data-operation='ci-days-dec'><i class='fas fa-minus'></i></button>
            <input name='injury.daystoheal' type='text' value='{{system.conditionalinjury.injury.daystoheal}}' data-dtype='Number' data-operation='ci-days-set' />
            <button type='button' data-operation='ci-days-inc'><i class='fas fa-plus'></i></button>
          </div>
          <span class='ms-ci-label'>{{localize 'GURPS.days'}}</span>
        </div>
        <div class='ms-ci-status'>
          <!-- TODO: add back -->
          <!-- <span class='ms-ci-severity-badge {{ciCurrentGrossEffects system.conditionalinjury.injury.severity "style"}}'> -->
          <!--   {{ciCurrentGrossEffects system.conditionalinjury.injury.severity 'label'}} -->
          <!-- </span> -->
          <span class='ms-ci-info'>
            [{{#if system.conditionalinjury.RT.points}}{{system.conditionalinjury.RT.points}}{{else}}{{system.HP.points}}{{/if}}]
            {{system.conditionalinjury.RT.value}} {{localize 'GURPS.rt'}} | {{system.HP.max}} HP
          </span>
        </div>
      </div>
    </div>
  </div>
  {{/if}}
</section>
