<nav class="ms-tabs tabs"
     aria-roledescription="{{localize "SHEETS.FormNavLabel"}}">
    {{#each tabs as |tab|}}
    <a
        data-action="tab"
        data-group="{{tab.group}}"
        data-tab="{{tab.id}}"
        class="ms-tab-item{{#if tab.cssClass}} {{tab.cssClass}}{{/if}}"
        {{#if tab.tooltip}}data-tooltip="{{tab.tooltip}}"{{/if}}>
        {{#if tab.icon}}<i class="{{tab.icon}}" inert></i>{{/if}}
        {{#if tab.label}}<span>{{localize tab.label}}</span>{{/if}}
    </a>
    {{/each}}
</nav>
