<section class='tab {{tab.cssClass}}' data-group='primary' data-tab='combat'>
  <div class='flexrow'>
    <div class='flexcol'>
      <table>
        <thead>
          <tr>
            <th colspan='100'>
              {{localize 'GURPS.Actor.Character.Combat.SpeedRangeTable.Title'}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>
              {{localize 'GURPS.Actor.Character.Combat.SpeedRangeTable.Measure'}}
            </th>
            {{#each ranges}}
              <td>{{this.max}}</td>
            {{/each}}
          </tr>
          <tr>
            <th>
              {{localize 'GURPS.Actor.Character.Combat.SpeedRangeTable.Modifier'}}
            </th>
            {{#each ranges}}
              <td>
                <button
                  data-action='applyGlobalModifier'
                  data-modifier='{{this.penalty}}'
                  data-comment='{{this.moddesc}}'
                >
                  {{this.penalty}}
                </button>
              </td>
            {{/each}}
          </tr>
        </tbody>
      </table>

      <!-- Melee Attacks -->
      <table>
        <thead>
          <tr>
            <th>{{localize 'GURPS.Actor.Character.Combat.Melee.Title'}}</th>
            <th>{{localize 'GURPS.Actor.Character.Combat.Melee.Usage'}}</th>
            <th>{{localize 'GURPS.Actor.Character.Combat.Melee.Level'}}</th>
            <th>{{localize 'GURPS.Actor.Character.Combat.Melee.Parry'}}</th>
            <th>{{localize 'GURPS.Actor.Character.Combat.Melee.Block'}}</th>
            <th>{{localize 'GURPS.Actor.Character.Combat.Melee.Damage'}}</th>
            <th>{{localize 'GURPS.Actor.Character.Combat.Melee.Reach'}}</th>
            <th>{{localize 'GURPS.Actor.Character.Combat.Melee.Strength'}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each system.melee}}
            <tr class='draggable'>
              <td>{{this.component.name}}</td>
              <td>{{this.component.mode}}</td>
              <td>{{this.component.level}}</td>
              <td>{{this.component.parry}}</td>
              <td>{{this.component.block}}</td>
              <td>{{this.component.damage}}</td>
              <td>{{this.component.reach}}</td>
              <td>{{this.component.st}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>

      <!-- Ranged Attacks -->
      <table>
        <thead>
          <tr>
            <th>{{localize 'GURPS.Actor.Character.Combat.Ranged.Title'}}</th>
            <th>{{localize 'GURPS.Actor.Character.Combat.Ranged.Usage'}}</th>
            <th>{{localize 'GURPS.Actor.Character.Combat.Ranged.Level'}}</th>
            <th>{{localize 'GURPS.Actor.Character.Combat.Ranged.Accuracy'}}</th>
            <th>{{localize 'GURPS.Actor.Character.Combat.Ranged.Damage'}}</th>
            <th>{{localize 'GURPS.Actor.Character.Combat.Ranged.Range'}}</th>
            <th>{{localize 'GURPS.Actor.Character.Combat.Ranged.RateOfFire'}}</th>
            <th>{{localize 'GURPS.Actor.Character.Combat.Ranged.Shots'}}</th>
            <th>{{localize 'GURPS.Actor.Character.Combat.Ranged.Bulk'}}</th>
            <th>{{localize 'GURPS.Actor.Character.Combat.Ranged.Recoil'}}</th>
            <th>{{localize 'GURPS.Actor.Character.Combat.Ranged.Strength'}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each system.ranged}}
            <tr class='draggable'>
              <td>{{this.component.name}}</td>
              <td>{{this.component.mode}}</td>
              <td>{{this.component.level}}</td>
              <td>{{this.component.acc}}</td>
              <td>{{this.component.damage}}</td>
              <td>{{this.component.range}}</td>
              <td>{{this.component.rof}}</td>
              <td>{{this.component.shots}}</td>
              <td>{{this.component.bulk}}</td>
              <td>{{this.component.rcl}}</td>
              <td>{{this.component.st}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>

    </div>
    <div class='flexcol'>
      <fieldset>
        <legend>{{localize 'GURPS.conditions'}}</legend>
        <!-- Maneuver -->
        <div class='form-group'>
          <label>{{localize 'GURPS.maneuver'}}</label>
          <div class='form-fields'>

          </div>
        </div>

        <!-- Posture -->
        <div class='form-group'>
          <label>{{localize 'GURPS.modifierPosture'}}</label>
          <div class='form-fields'>
          </div>
        </div>

      </fieldset>
    </div>
  </div>
</section>
