<section class='tab {{tab.cssClass}}' data-group='primary' data-tab='combat'>
  <div class='flexrow'>
    <div class='flexcol'>
      <table>
        <thead>
          <tr>
            <th colspan='100'>
              {{localize 'GURPS.Sheet.SpeedRangeTable.Title'}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>
              {{localize 'GURPS.Sheet.SpeedRangeTable.Measure'}}
            </th>
            {{#each ranges}}
              <td>{{this.max}}</td>
            {{/each}}
          </tr>
          <tr>
            <th>
              {{localize 'GURPS.Sheet.SpeedRangeTable.Modifier'}}
            </th>
            {{#each ranges}}
              <td>
                <button
                  data-action='applyGlobalModifier'
                  data-modifier='{{this.penalty}}'
                  data-comment='{{this.moddesc}}'
                >
                  {{this.penalty}}
                </button>
              </td>
            {{/each}}
          </tr>
        </tbody>
      </table>

      <!-- Melee Attacks -->
      <table>
        <thead>
          <tr>
            <th>{{localize 'GURPS.meleeWeapons'}}</th>
            <th>{{localize 'GURPS.usage'}}</th>
            <th>{{localize 'GURPS.level'}}</th>
            <th>{{localize 'GURPS.parry'}}</th>
            <th>{{localize 'GURPS.block'}}</th>
            <th>{{localize 'GURPS.damage'}}</th>
            <th>{{localize 'GURPS.reach'}}</th>
            <th>{{localize 'GURPS.attributesST'}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each system.melee}}
            <tr class='draggable'>
              <td>{{this.component.name}}</td>
              <td>{{this.component.mode}}</td>
              <td>{{this.component.level}}</td>
              <td>{{this.component.parry}}</td>
              <td>{{this.component.block}}</td>
              <td>{{this.component.damage}}</td>
              <td>{{this.component.reach}}</td>
              <td>{{this.component.st}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>

      <!-- Ranged Attacks -->
      <table>
        <thead>
          <tr>
            <th>{{localize 'GURPS.rangedWeapons'}}</th>
            <th>{{localize 'GURPS.usage'}}</th>
            <td>{{this.component.level}}</td>
            <th>{{localize 'GURPS.acc'}}</th>
            <th>{{localize 'GURPS.damage'}}</th>
            <th>{{localize 'GURPS.range'}}</th>
            <th>{{localize 'GURPS.rof'}}</th>
            <th>{{localize 'GURPS.shots'}}</th>
            <th>{{localize 'GURPS.bulk'}}</th>
            <th>{{localize 'GURPS.rcl'}}</th>
            <th>{{localize 'GURPS.attributesST'}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each system.ranged}}
            <tr class='draggable'>
              <td>{{this.component.name}}</td>
              <td>{{this.component.mode}}</td>
              <td>{{this.component.level}}</td>
              <td>{{this.component.acc}}</td>
              <td>{{this.component.damage}}</td>
              <td>{{this.component.range}}</td>
              <td>{{this.component.rof}}</td>
              <td>{{this.component.shots}}</td>
              <td>{{this.component.bulk}}</td>
              <td>{{this.component.rcl}}</td>
              <td>{{this.component.st}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>

    </div>
    <div class='flexcol'>
      <fieldset>
        <legend>{{localize 'GURPS.conditions'}}</legend>
        <!-- Maneuver -->
        <div class='form-group'>
          <label>{{localize 'GURPS.maneuver'}}</label>
          <div class='form-fields'>

          </div>
        </div>

        <!-- Posture -->
        <div class='form-group'>
          <label>{{localize 'GURPS.modifierPosture'}}</label>
          <div class='form-fields'>
          </div>
        </div>

      </fieldset>
    </div>
  </div>
</section>
