<section class='element combat-info'>
  <header>{{localize 'GURPS.combatInfo'}}</header>

  <label>{{localize 'GURPS.conditionsCombatMove'}}:
    <span>{{system.conditions.move}}</span>
  </label>

  <label>{{localize 'GURPS.maxActionsPerTurn'}}:
    <span>{{system.conditions.actions.maxActions}}</span>
  </label>

  <label>{{localize 'GURPS.maxBlocksPerTurn'}}:
    <span>{{system.conditions.actions.maxBlocks}}</span>
  </label>

</section>
