<section class='tab {{tab.cssClass}}' data-group='primary' data-tab='personal'>

  <fieldset>
    <legend>Description</legend>
    {{formGroup systemFields.traits.fields.gender value=system.traits.gender}}
    {{formGroup systemFields.traits.fields.age value=system.traits.age}}
    {{formGroup systemFields.traits.fields.birthday value=system.traits.birthday}}
    {{formGroup systemFields.traits.fields.religion value=system.traits.religion}}
    {{formGroup systemFields.traits.fields.height value=system.traits.height}}
    {{formGroup systemFields.traits.fields.weight value=system.traits.weight}}
    {{formGroup systemFields.traits.fields.sizemod value=system.traits.sizemod}}
    {{formGroup systemFields.traits.fields.techlevel value=system.traits.techlevel}}
    {{formGroup systemFields.traits.fields.hair value=system.traits.hair}}
    {{formGroup systemFields.traits.fields.eyes value=system.traits.eyes}}
    {{formGroup systemFields.traits.fields.skin value=system.traits.skin}}
    {{formGroup systemFields.traits.fields.hand value=system.traits.hand}}
  </fieldset>

</section>
