{{#*inline "trait"}}
  <li class='item-entry' data-item-id='{{this.id}}'>
		<div class="item-info">
			<div class="item-name">
				<img src="{{this.img}}"/>
				{{#if this.system.contents.length}}
					{{#if this.system.open}}
					<a type="button" data-action="toggleOpen" class="fa-solid fa-caret-down"></a>
					{{else}}
					<a type="button" data-action="toggleOpen" class="fa-solid fa-caret-right"></a>
					{{/if}}
				{{/if}}
				{{this.system.component.name}}
			</div>
			{{> actor.parts.item-controls}}
		</div>
		{{#if (and this.system.contents.length this.system.open)}}
			<ul class='item-contents'>
			{{#each this.system.contents}}
			{{> "trait"}}
			{{/each}}
			</ul>
		{{/if}}
	</li>
{{/inline}}

<section class='tab {{tab.cssClass}}' data-group='primary' data-tab='traits'>

  <!-- Traits -->
	<div class="item-list">
		<header>
			<div class="item-name">{{localize 'GURPS.Actor.Character.Traits.Title'}}</div>
			<div class="item-controls"> </div>
		</header>
		<ul class="item-contents">
			{{#each traits}}
			{{> "trait"}}
			{{/each}}
		</ul>
	</div>

</section>
