<div id="melee" class="item-list table">
	<div class="header usage desc">{{localize "gurps.weapon.melee_header"}}</div>
	<div class="header parry">{{localize "gurps.character.melee.parry"}}</div>
	<div class="header block">{{localize "gurps.character.melee.block"}}</div>
	<div class="header damage">{{localize "gurps.character.melee.damage"}}</div>
	<div class="header reach">{{localize "gurps.character.melee.reach"}}</div>
	<div class="header st">{{localize "gurps.character.melee.st"}}</div>
	{{#each meleeWeapons}}
	<div class="usage desc item" data-uuid="{{this.key}}" data-type="Item">
		<div class="name">
			{{this.data.mode}}
		</div>
		{{>actor/character/sections/item-notes}}
	</div>
	<div data-uuid="{{this.key}}" class="parry rollable">{{this.data.parry}}</div>
	<div data-uuid="{{this.key}}" class="block rollable">{{this.data.parry}}</div>
	<div data-uuid="{{this.key}}" class="damage rollable"> {{this.data.damage}}</div>
	<div data-uuid="{{this.key}}" class="reach">{{this.data.reach}}</div>
	<div data-uuid="{{this.key}}" class="st">{{this.data.st}}</div>
	{{else}}
	<div class="usage item desc"></div>
	<div class="parry rollable"></div>
	<div class="block rollable"></div>
	<div class="damage rollable"></div>
	<div class="reach"></div>
	<div class="st"></div>
	{{/each}}
</div>
