<div id="ranged" class="item-list table static">
	<div class="header usage desc">{{localize "gurps.weapon.ranged_header"}}</div>
	<div class="header accuracy">{{localize "gurps.character.ranged.accuracy"}}</div>
	<div class="header damage">{{localize "gurps.character.ranged.damage"}}</div>
	<div class="header range">{{localize "gurps.character.ranged.range"}}</div>
	<div class="header rate-of-fire">{{localize "gurps.character.ranged.rate_of_fire"}}</div>
	<div class="header shots">{{localize "gurps.character.ranged.shots"}}</div>
	<div class="header bulk">{{localize "gurps.character.ranged.bulk"}}</div>
	<div class="header recoil">{{localize "gurps.character.ranged.recoil"}}</div>
	<div class="header st">{{localize "gurps.character.ranged.st"}}</div>
	{{#each ranged}}
	<div class="usage desc item" data-item-id="{{this.key}}" data-type="Item">
		<div class="name">
			{{this.data.mode}}
		</div>
		{{>actor/character/sections/item-notes}}
	</div>
	<div data-item-id="{{this.key}}" class="accuracy">
		{{signed this.data.acc}}</div>
	<div data-item-id="{{this.key}}" class="damage">
		{{this.data.damage}}</div>
	<div data-item-id="{{this.key}}" class="range">{{this.data.range}}</div>
	<div data-item-id="{{this.key}}" class="rate-of-fire">{{this.data.rof}}</div>
	<div data-item-id="{{this.key}}" class="shots">{{this.data.shots}}</div>
	<div data-item-id="{{this.key}}" class="bulk">{{this.data.bulk}}
	</div>
	<div data-item-id="{{this.key}}" class="recoil">{{this.data.rcl}}</div>
	<div data-item-id="{{this.key}}" class="st">{{this.data.st}}</div>
	{{/each}}
</div>
