<form class="{{ cssClass }}" autocomplete="off">
    {{#unless (eq deprecation "acknowledged")}}
    <div class="deprecation">
		<p>{{{localize "gurps.static.deprecated_item" type=(localize "ITEM.TypeEquipment")}}}</p>
        <a class="gcs-circled-x"></a>
    </div>
	{{/unless}}
    <div id="sheet">
        <div id="details">
			<div class="label">{{localize "gurps.item.name"}}</div>
			<div class="field">
				<input type="text" name="name" value="{{item.name}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.item.notes"}}</div>
			<div class="field">
				<input type="text" name="system.notes" value="{{system.notes}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.item.tech_level"}}</div>
			<div class="field">
				<input type="text" name="system.tech_level" value="{{system.tech_level}}" data-dtype="String" />
			</div>
            <div class="label">{{ localize "gurps.item.quantity" }}</div>
            <div class="field no-stretch">
			<input type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number"/>
                {{#if document.actor }}
                    <label class="label checkbox-label">
                        <input type="checkbox" {{ checked system.equipped }} />
                        {{ localize "gurps.item.equipped" }}
                    </label>
                {{/if }}
            </div>
            <div class="label">{{ localize "gurps.item.value" }}</div>
            <div class="field no-stretch">
				<input type="text" name="system.eqt.cost" value="{{system.eqt.cost}}" data-dtype="Number"/>
                <div class="label">{{ localize "gurps.item.extended_value" }}</div>
				<input type="text" name="system.eqt.costsum" value="{{system.eqt.costsum}}" data-dtype="Number"/>
            </div>
            <div class="label">{{ localize "gurps.item.weight" }}</div>
            <div class="field no-stretch">
				<input type="text" name="system.weight" value="{{document.weightString}}" data-dtype="String" />
                <div class="label">{{ localize "gurps.item.extended_weight" }}</div>
				<input type="text" value="{{system.eqt.weightsum}}" data-dtype="String" readonly tabIndex="-1"/>
            </div>
            <div class="label">{{ localize "gurps.item.uses" }}</div>
            <div class="field no-stretch">
				<input type="text" name="system.eqt.uses" value="{{system.eqt.uses}}" data-dtype="Number" />
            </div>
			<div class="label">{{localize "gurps.item.reference"}}</div>
			<div class="field">
				<input type="text" name="system.reference" value="{{system.reference}}" data-dtype="String" />
			</div>
		</div>
		<div id="melee" class="weapon-list table">
			<div class="header usage">{{localize "gurps.character.melee.usage"}}</div>
			<div class="header level">{{localize "gurps.character.melee.level"}}</div>
			<div class="header parry">{{localize "gurps.character.melee.parry"}}</div>
			<div class="header block">{{localize "gurps.character.melee.block"}}</div>
			<div class="header damage">{{localize "gurps.character.melee.damage"}}</div>
			<div class="header reach">{{localize "gurps.character.melee.reach"}}</div>
			<div class="header st">{{localize "gurps.character.melee.st"}}</div>
			{{#each meleeWeapons}}
			<div class="usage" data-uuid="{{this.id}}">
				<div class="name">
					{{this.usage}}
				</div>
			</div>
			<div data-uuid="{{this.id}}" class="level">{{this.level}}</div>
			<div data-uuid="{{this.id}}" class="parry rollable">{{this.fastResolvedParry}}</div>
			<div data-uuid="{{this.id}}" class="block rollable">{{this.fastResolvedBlock}}</div>
			<div data-uuid="{{this.id}}" class="damage rollable"> {{this.fastResolvedDamage}}</div>
			<div data-uuid="{{this.id}}" class="reach">{{this.reach}}</div>
			<div data-uuid="{{this.id}}" class="st">{{this.strength}}</div>
			{{else}}
			<div class="usage"></div>
			<div class="level filler"></div>
			<div class="parry rollable"></div>
			<div class="block rollable"></div>
			<div class="damage rollable"></div>
			<div class="reach"></div>
			<div class="st"></div>
			{{/each}}
		</div>
	</div>
</form>
