<div class='ms-attr-badge rollable' data-otf='{{attr}}' title='{{localize titleKey}} [{{points}}]'>
  <span class='ms-attr-value'>{{value}}</span>
  <span class='ms-attr-label'>{{attr}}</span>
</div>
