<div id='description'>
  <div class='header'>{{localize 'GURPS.description'}}</div>
  {{#unless document.limited}}
    <div class='fieldblock'>
      <div class='label'>{{localize 'GURPS.descriptionGender'}}:</div>
      <div class='field'><input name='system.profile.gender' class='gcs-input' type='text' value='{{system.profile.gender}}'
          {{disabled (not isEditing)}} /></div>
      <div class='label'>{{localize 'GURPS.descriptionAge'}}:</div>
      <div class='field'><input name='system.profile.age' class='gcs-input' type='text' value='{{system.profile.age}}'
          {{disabled (not isEditing)}} /></div>
      <div class='label'>{{localize 'GURPS.descriptionBirthday'}}:</div>
      <div class='field'><input name='system.profile.birthday' class='gcs-input' type='text'
          value='{{system.profile.birthday}}' {{disabled (not isEditing)}} /></div>
      <div class='label'>{{localize 'GURPS.descriptionReligion'}}:</div>
      <div class='field'><input name='system.profile.religion' class='gcs-input' type='text'
          value='{{system.profile.religion}}' {{disabled (not isEditing)}} /></div>
      <div class='label'>&nbsp;</div>
      <div class='label'></div>
    </div>
  {{/unless}}
  <div class='fieldblock'>
    {{#if document.limited}}
      <div class='label'>{{localize 'GURPS.descriptionGender'}}:</div>
      <div class='field'>
        <input name='system.profile.gender' class='gcs-input' type='text' value='{{system.profile.gender}}'
          {{disabled (not isEditing)}} />
      </div>
    {{/if}}
    <div class='label'>{{localize 'GURPS.descriptionHeight'}}:</div>
    <div class='field'>
      <input name='system.profile.height' class='gcs-input' type='text' value='{{system.profile.height}}'
        {{disabled (not isEditing)}}>
    </div>
    <div class='label'>{{localize 'GURPS.weight'}}:</div>
    <div class='field'>
      <input name='system.profile.weight' class='gcs-input' type='text' value='{{system.profile.weight}}'
        {{disabled (not isEditing)}} />
    </div>
    <div class='label'>{{localize 'GURPS.descriptionSizeModifier'}}:</div>
    <div class='field'>
      <input name='system.profile.sizemod' class='gcs-input' type='text' value='{{system.profile.sizemod}}'
        {{disabled (not isEditing)}} />
    </div>
    {{#unless document.limited}}
      <div class='label'>{{localize 'GURPS.descriptionTechLevel'}}:</div>
      <div class='field'>
        <input name='system.profile.techlevel' class='gcs-input' type='text' value='{{system.profile.techlevel}}'
          {{disabled (not isEditing)}} />
      </div>
    {{/unless}}
    <div class='label'>{{localize 'GURPS.descriptionBodyPlan'}}:</div>

    <div class='field'>
      {{#if isEditing}}
        <select id='body-plan' name='system.bodyplan' {{disabled (not isEditing)}}>
          {{#each (listAllBodyPlans)}}
            <option value='{{this}}' {{select-if ../system.bodyplan this}}>
              {{localize (concat 'GURPS.BODYPLAN' this)}}
            </option>
          {{/each}}
        </select>
      {{else}}
        {{i18nFallback (concat 'GURPS.BODYPLAN' system.bodyplan) system.bodyplan}}
      {{/if}}
    </div>
  </div>
  <div class='fieldblock hairEyesSkinHandBlock'>
    {{#if system.profile.eyes}}
      <div class='label'>{{localize 'GURPS.descriptionHair'}}:</div>
      <div class='field'>
        <input name='system.profile.hair' class='gcs-input' type='text' value='{{system.profile.hair}}'
          {{disabled (not isEditing)}} />
      </div>
      <div class='label'>{{localize 'GURPS.descriptionEyes'}}:</div>
      <div class='field'>
        <input name='system.profile.eyes' class='gcs-input' type='text' value='{{system.profile.eyes}}'
          {{disabled (not isEditing)}} />
      </div>
      <div class='label'>{{localize 'GURPS.descriptionSkin'}}:</div>
      <div class='field'>
        <input name='system.profile.skin' class='gcs-input' type='text' value='{{system.profile.skin}}'
          {{disabled (not isEditing)}} />
      </div>
      <div class='label'>{{localize 'GURPS.descriptionHand'}}:</div>
      <div class='field'>
        <input name='system.profile.hand' class='gcs-input' type='text' value='{{system.profile.hand}}'
          {{disabled (not isEditing)}} />
      </div>
    {{else}}
      <div class='label textarea'>{{localize 'GURPS.descriptionAppearance'}}:</div>
      <div class='label'></div>

      <div class='field' style='border: none; grid-column: 1 / span 2;'>
        <textarea rows='4' name='system.profile.appearance'
          {{disabled (not isEditing)}}>{{system.profile.appearance}}</textarea>
      </div>
    {{/if}}
  </div>
</div>
