<div id='miscellaneous'>
  <div class='header'>{{localize 'GURPS.sheet.personal.miscellaneous'}}</div>
  <div class='fieldblock'>
    <div class='label'>{{localize 'GURPS.sheet.personal.created'}}:</div>
    <div class='field'>
      <input
        name='system.profile.createdon'
        class='gcs-input'
        type='text'
        value='{{system.profile.createdon}}'
        {{disabled (not isEditing)}}
      />
    </div>
    <div class='label'>{{localize 'GURPS.sheet.personal.modified'}}:</div>
    <div class='field'><input
        name='system.profile.modifiedon'
        class='gcs-input'
        type='text'
        value='{{system.profile.modifiedon}}'
        {{disabled (not isEditing)}}
      /></div>
    <div class='label'>{{localize 'GURPS.sheet.personal.options'}}:</div>
    <div class='field'><input
        name='system.profile.options'
        class='gcs-input'
        type='text'
        value='{{system.profile.options}}'
        {{disabled (not isEditing)}}
      /></div>
  </div>
</div>
