<div id='portrait'>
  <div class='header'>{{localize 'GURPS.sheet.personal.portrait'}}</div>
  <div class='img-display' style='background-image: url({{actor.img}});'>
    <img class='profile-img' src='{{actor.img}}' data-edit='img' title='{{actor.name}}' />
  </div>
  {{#if isGM}}<button class='sharebutton' data-operation='share-portrait'>{{localize 'GURPS.share'}}</button>{{/if}}
</div>