<form class='{{cssClass}}' autocomplete='off'>
  <div class='modern-sheet'>
    {{!-- PERSISTENT HEADER - Always visible --}}
    <header class='ms-header'>
      {{!-- Portrait with HP overlay --}}
      <div class='ms-portrait-wrapper'>
        <div class='ms-portrait'>
          <img src='{{actor.img}}' data-edit='img' title='Total: {{system.totalpoints.total}}&#10;Unspent: {{system.totalpoints.unspent}}&#10;&#10;Attributes: {{system.totalpoints.attributes}}&#10;Advantages: {{system.totalpoints.ads}}&#10;Disadvantages: {{system.totalpoints.disads}}&#10;Quirks: {{system.totalpoints.quirks}}&#10;Skills: {{system.totalpoints.skills}}&#10;Spells: {{system.totalpoints.spells}}&#10;Race: {{system.totalpoints.race}}' />
          <div class='ms-hp-overlay' style='height: calc(100% - {{percent system.HP.value system.HP.max}}%);'></div>
        </div>
        <div class='ms-points-badge'>
          <span class='ms-points-positive'>{{positivePoints}}</span>
          <span class='ms-points-separator'>/</span>
          <span class='ms-points-negative'>{{negativePoints}}</span>
        </div>
      </div>

      {{!-- Identity: Name, Tagline, Attributes, HP/FP --}}
      <div class='ms-identity'>
        <div class='ms-name-container'>
          <h1 class='ms-name ms-name-display'>{{actor.name}}</h1>
          <input type='text' form='none' value='{{actor.name}}' class='ms-name-input' data-field='name'/>
        </div>
        <div class='ms-tagline'>
          {{#if system.traits.race}}
          <span class='ms-tag ms-tag-race'>
            <span class='ms-tag-display'>{{system.traits.race}}</span>
            <input type='text' form='none' value='{{system.traits.race}}' class='ms-tag-input' data-field='system.traits.race' placeholder='Race'/>
          </span>
          {{/if}}
          {{#if system.traits.gender}}
          <span class='ms-tag ms-tag-gender'>
            <span class='ms-tag-display'>{{system.traits.gender}}</span>
            <input type='text' form='none' value='{{system.traits.gender}}' class='ms-tag-input' data-field='system.traits.gender' placeholder='Gender'/>
          </span>
          {{/if}}
          {{#if system.traits.age}}
          <span class='ms-tag ms-tag-age'>
            <span class='ms-tag-display'>{{system.traits.age}} years</span>
            <input type='text' form='none' value='{{system.traits.age}}' class='ms-tag-input' data-field='system.traits.age' placeholder='Age'/>
          </span>
          {{/if}}
          {{#if system.traits.techlevel}}
          <span class='ms-tag ms-tag-tl'>
            <span class='ms-tag-display'>TL{{system.traits.techlevel}}</span>
            <input type='text' form='none' value='{{system.traits.techlevel}}' class='ms-tag-input' data-field='system.traits.techlevel' placeholder='TL'/>
          </span>
          {{/if}}
        </div>
        {{!-- Primary Attributes Row --}}
        <div class='ms-attrs-row'>
          <div class='ms-attr-badge rollable' data-otf='ST' title='{{localize "GURPS.attributesST"}} [{{system.attributes.ST.points}}]'>
            <span class='ms-attr-value'>{{system.attributes.ST.value}}</span>
            <span class='ms-attr-label'>ST</span>
          </div>
          <div class='ms-attr-badge rollable' data-otf='DX' title='{{localize "GURPS.attributesDX"}} [{{system.attributes.DX.points}}]'>
            <span class='ms-attr-value'>{{system.attributes.DX.value}}</span>
            <span class='ms-attr-label'>DX</span>
          </div>
          <div class='ms-attr-badge rollable' data-otf='IQ' title='{{localize "GURPS.attributesIQ"}} [{{system.attributes.IQ.points}}]'>
            <span class='ms-attr-value'>{{system.attributes.IQ.value}}</span>
            <span class='ms-attr-label'>IQ</span>
          </div>
          <div class='ms-attr-badge rollable' data-otf='HT' title='{{localize "GURPS.attributesHT"}} [{{system.attributes.HT.points}}]'>
            <span class='ms-attr-value'>{{system.attributes.HT.value}}</span>
            <span class='ms-attr-label'>HT</span>
          </div>
          <div class='ms-attr-badge rollable' data-otf='WILL' title='{{localize "GURPS.attributesWILL"}} [{{system.attributes.WILL.points}}]'>
            <span class='ms-attr-value'>{{system.attributes.WILL.value}}</span>
            <span class='ms-attr-label'>WILL</span>
          </div>
          <div class='ms-attr-badge rollable' data-otf='PER' title='{{localize "GURPS.attributesPER"}} [{{system.attributes.PER.points}}]'>
            <span class='ms-attr-value'>{{system.attributes.PER.value}}</span>
            <span class='ms-attr-label'>PER</span>
          </div>
        </div>
        {{!-- HP/FP Row --}}
        <div class='ms-hp-fp-row'>
          <div class='ms-resource ms-hp'>
            <div class='ms-resource-display' data-edit-target='hp' title='{{localize "GURPS.attributesHPNAME"}}'>
              <div class='ms-resource-bar'>
                <div class='ms-resource-fill' style='width: {{percent system.HP.value system.HP.max}}%;'></div>
              </div>
              <span class='ms-resource-text'>{{system.HP.value}}/{{system.HP.max}}</span>
            </div>
            <div class='ms-resource-edit'>
              <input type='number' name='system.HP.value' value='{{system.HP.value}}' class='ms-resource-input'/>
              <span class='ms-resource-separator'>/</span>
              <input type='number' name='system.HP.max' value='{{system.HP.max}}' class='ms-resource-input'/>
            </div>
            <button type='button' class='ms-resource-reset' data-action='reset-hp' title='Reset to max'>
              <i class='fas fa-rotate-left'></i>
            </button>
            {{#if system.conditions.reeling}}<span class='ms-condition-badge' title='{{localize "GURPS.HP.reeling"}}'>R</span>{{/if}}
          </div>
          <div class='ms-resource ms-fp'>
            <div class='ms-resource-display' data-edit-target='fp' title='{{localize "GURPS.attributesFPNAME"}}'>
              <div class='ms-resource-bar'>
                <div class='ms-resource-fill' style='width: {{percent system.FP.value system.FP.max}}%;'></div>
              </div>
              <span class='ms-resource-text'>{{system.FP.value}}/{{system.FP.max}}</span>
            </div>
            <div class='ms-resource-edit'>
              <input type='number' name='system.FP.value' value='{{system.FP.value}}' class='ms-resource-input'/>
              <span class='ms-resource-separator'>/</span>
              <input type='number' name='system.FP.max' value='{{system.FP.max}}' class='ms-resource-input'/>
            </div>
            <button type='button' class='ms-resource-reset' data-action='reset-fp' title='Reset to max'>
              <i class='fas fa-rotate-left'></i>
            </button>
            {{#if system.conditions.exhausted}}<span class='ms-condition-badge' title='{{localize "GURPS.FP.tired"}}'>T</span>{{/if}}
          </div>
        </div>
      </div>

      {{!-- Secondary Stats: Speed, Move, Dodge, Thrust, Swing, Senses --}}
      <div class='ms-secondary-stats'>
        <fieldset class='ms-stat-box'>
          <legend>{{localize 'GURPS.attributesSecondary'}}</legend>
          <div class='ms-stat'>
            <span class='ms-stat-label'>{{localize 'GURPS.basicspeed'}}</span>
            <span class='ms-stat-value'>{{system.basicspeed.value}}</span>
          </div>
          <div class='ms-stat'>
            <span class='ms-stat-label'>{{localize 'GURPS.basicmove'}}</span>
            <span class='ms-stat-value'>{{system.basicmove.value}}</span>
          </div>
          <div class='ms-stat'>
            <span class='ms-stat-label'>{{localize 'GURPS.dodge'}}</span>
            {{>dice-button otf='Dodge' level=system.currentdodge}}
          </div>
          <div class='ms-stat'>
            <span class='ms-stat-label'>{{localize 'GURPS.thrust'}}</span>
            {{>dice-button otf=(concat system.thrust ' dmg') level=system.thrust damage=true}}
          </div>
          <div class='ms-stat'>
            <span class='ms-stat-label'>{{localize 'GURPS.swing'}}</span>
            {{>dice-button otf=(concat system.swing ' dmg') level=system.swing damage=true}}
          </div>
        </fieldset>
        <fieldset class='ms-stat-box'>
          <legend>{{localize 'GURPS.effectPicker.senses'}}</legend>
          <div class='ms-stat'>
            <span class='ms-stat-label'>{{localize 'GURPS.vision'}}</span>
            {{>dice-button otf='Vision' level=system.vision}}
          </div>
          <div class='ms-stat'>
            <span class='ms-stat-label'>{{localize 'GURPS.hearing'}}</span>
            {{>dice-button otf='Hearing' level=system.hearing}}
          </div>
          <div class='ms-stat'>
            <span class='ms-stat-label'>{{localize 'GURPS.tastesmell'}}</span>
            {{>dice-button otf='Taste/Smell' level=system.tastesmell}}
          </div>
          <div class='ms-stat'>
            <span class='ms-stat-label'>{{localize 'GURPS.touch'}}</span>
            {{>dice-button otf='Touch' level=system.touch}}
          </div>
          <div class='ms-stat'>
            <span class='ms-stat-label'>{{localize 'GURPS.frightcheck'}}</span>
            {{>dice-button otf='Fright Check' level=system.frightcheck}}
          </div>
        </fieldset>
      </div>
    </header>

    {{!-- STATUS BAR (outside tabs) --}}
    <div class='ms-status-bar'>
      <div class='ms-status-item ms-posture-dropdown'>
        <div class='ms-posture-selected' data-posture='{{system.conditions.posture}}'>
          {{#if (eq system.conditions.posture 'prone')}}<span>{{localize 'GURPS.status.Prone'}}</span>
          {{else if (eq system.conditions.posture 'kneel')}}<span>{{localize 'GURPS.status.Kneel'}}</span>
          {{else if (eq system.conditions.posture 'crouch')}}<span>{{localize 'GURPS.status.Crouch'}}</span>
          {{else if (eq system.conditions.posture 'sit')}}<span>{{localize 'GURPS.status.Sit'}}</span>
          {{else if (eq system.conditions.posture 'crawl')}}<span>{{localize 'GURPS.status.Crawling'}}</span>
          {{else}}<span>{{localize 'GURPS.status.Standing'}}</span>
          {{/if}}
          <span class='ms-posture-icons'>
            {{#if (eq system.conditions.posture 'prone')}}<img src='systems/gurps/icons/statuses/dd-condition-prone.webp' />
            {{else if (eq system.conditions.posture 'kneel')}}<img src='systems/gurps/icons/statuses/condition-kneel.webp' />
            {{else if (eq system.conditions.posture 'crouch')}}<img src='systems/gurps/icons/statuses/condition-crouch.webp' />
            {{else if (eq system.conditions.posture 'sit')}}<img src='systems/gurps/icons/statuses/condition-sit.webp' />
            {{else if (eq system.conditions.posture 'crawl')}}<img src='systems/gurps/icons/statuses/condition-crawl.webp' />
            {{else}}<img src='systems/gurps/icons/statuses/dd-condition-standing.webp' />
            {{/if}}
            <i class='fas fa-caret-down'></i>
          </span>
        </div>
        <div class='ms-posture-options'>
          <div class='ms-posture-option' data-value='standing'>
            <span>{{localize 'GURPS.status.Standing'}}</span>
            <img src='systems/gurps/icons/statuses/dd-condition-standing.webp' />
          </div>
          {{#each (listAllPostures) as |this key|}}
          <div class='ms-posture-option' data-value='{{key}}'>
            <span>{{localize this.name}}</span>
            <img src='{{this.img}}' />
          </div>
          {{/each}}
        </div>
      </div>
      {{#if (ne system.conditions.maneuver 'undefined')}}
      <div class='ms-status-item'>
        <label>{{localize 'GURPS.maneuver'}}:</label>
        <select name='system.conditions.maneuver' {{disabled (not (inCombat this))}}>
          <option value='undefined' {{select-if system.conditions.maneuver 'undefined'}}>{{localize 'GURPS.none'}}</option>
          {{#with system.conditions.maneuver as |maneuver|}}
            {{#each (listAllManeuvers) as |this key|}}
              <option value='{{key}}' {{select-if maneuver key}}>{{localize this.label}}</option>
            {{/each}}
          {{/with}}
        </select>
      </div>
      {{/if}}
      <div class='ms-status-item'>
        <span>{{localize 'GURPS.conditionsCombatMove'}}: <strong>{{system.conditions.move}}</strong></span>
      </div>
      {{!-- ACTIVE EFFECTS TAGS (enabled only) --}}
      {{#each effects}}
      {{#unless this.disabled}}
      <span class='ms-effect-tag {{effectTagClass this}}' data-effect-id='{{this.id}}' title='{{this.name}}'>
        <span class='ms-effect-icon-wrapper'>
          {{#if this.icon}}<img src='{{this.icon}}' class='ms-effect-icon' />{{/if}}
          <button class='ms-effect-delete' data-action='delete-effect' data-effect-id='{{this.id}}' title='Delete'>
            <i class='fas fa-trash'></i>
          </button>
        </span>
        <span class='ms-tag-text'>{{this.name}}</span>
      </span>
      {{/unless}}
      {{/each}}
      <button type='button' class='ms-effect-add' data-action='add-effect' title='Add Effect'>
        <i class='fas fa-plus'></i>
      </button>
    </div>

    {{!-- TAB NAVIGATION --}}
    <nav class='ms-tabs' data-group='modern-tabs'>
      <a class='ms-tab-item' data-tab='character' title='{{localize "GURPS.basic"}}'>
        <i class='fas fa-user'></i>
        <span>{{localize "GURPS.basic"}}</span>
      </a>
      <a class='ms-tab-item' data-tab='combat' title='{{localize "GURPS.combatTab"}}'>
        <i class='fas fa-swords'></i>
        <span>{{localize "GURPS.combatTab"}}</span>
      </a>
      <a class='ms-tab-item' data-tab='equipment' title='{{localize "GURPS.equipmentTab"}}'>
        <i class='fas fa-backpack'></i>
        <span>{{localize "GURPS.equipmentTab"}}</span>
      </a>
      <a class='ms-tab-item' data-tab='notes' title='{{localize "GURPS.notes"}}'>
        <i class='fas fa-book'></i>
        <span>{{localize "GURPS.notes"}}</span>
      </a>
    </nav>

    {{!-- TAB CONTENT --}}
    <section class='ms-body'>
      {{!-- Tab 1: Character (Main) - Single column layout --}}
      <div class='tab' data-tab='character' data-group='modern-tabs'>
        {{!-- Quick Notes --}}
        <div class='ms-quicknotes'>
          <div class='ms-quicknotes-content'>
            {{#if system.additionalresources.qnotes}}
              {{{gurpslink system.additionalresources.qnotes}}}
            {{else}}
              <span class='ms-quicknotes-placeholder'>Double click to edit Quick Note</span>
            {{/if}}
          </div>
          <i class='fas fa-pen-to-square ms-quicknotes-edit'></i>
        </div>

        {{!-- Modifiers (Reactions & Conditional Modifiers) --}}
        <div class='ms-section' data-section='modifiers'>
          <h3 class='ms-section-header ms-collapsible'>
            <i class='fas fa-caret-down ms-collapse-icon'></i>
            <i class='fas fa-balance-scale'></i>
            {{localize 'GURPS.modifier'}}s
            <span class='ms-section-count'>({{modifierCount}})</span>
          </h3>
          <div class='ms-section-content'>
            <div class='ms-modifiers-table'>
              <div class='ms-modifiers-header'>
                <span></span>
                <span>{{localize 'GURPS.description'}}</span>
                <span>{{localize 'GURPS.modifier'}}</span>
                <span></span>
              </div>
              {{#each (flatlist system.reactions)}}
              <div class='ms-modifiers-row' data-key='system.reactions.{{@key}}'>
                <span class='ms-col-type'><span class='ms-type-badge ms-type-reaction' title='{{localize "GURPS.reaction"}}'>R</span></span>
                <span class='ms-col-situation'>{{{gurpslink this.situation}}}</span>
                <span class='ms-col-modifier'>{{>dice-button otf=(concat (displayNumber this.modifier) ' ' this.situation) level=this.modifier color=(modifierColor this.modifier)}}</span>
                <span class='ms-row-actions'>
                  <i class='fas fa-pen-to-square ms-action-btn' data-action='edit-reaction' data-key='system.reactions.{{@key}}'></i>
                  <i class='fas fa-trash ms-action-btn ms-delete' data-action='delete-reaction' data-key='system.reactions.{{@key}}'></i>
                </span>
              </div>
              {{/each}}
              {{#each (flatlist system.conditionalmods)}}
              <div class='ms-modifiers-row' data-key='system.conditionalmods.{{@key}}'>
                <span class='ms-col-type'><span class='ms-type-badge ms-type-conditional' title='{{localize "GURPS.conditionalModifier"}}'>C</span></span>
                <span class='ms-col-situation'>{{{gurpslink this.situation}}}</span>
                <span class='ms-col-modifier'>{{>dice-button otf=(concat (displayNumber this.modifier) ' ' this.situation) level=this.modifier color=(modifierColor this.modifier)}}</span>
                <span class='ms-row-actions'>
                  <i class='fas fa-pen-to-square ms-action-btn' data-action='edit-conditional' data-key='system.conditionalmods.{{@key}}'></i>
                  <i class='fas fa-trash ms-action-btn ms-delete' data-action='delete-conditional' data-key='system.conditionalmods.{{@key}}'></i>
                </span>
              </div>
              {{/each}}
              <div class='ms-add-row'>
                <span class='ms-add-btn' data-action='add-reaction'><i class='fas fa-plus'></i> {{localize 'GURPS.reaction'}}</span>
                <span class='ms-add-btn' data-action='add-conditional'><i class='fas fa-plus'></i> {{localize 'GURPS.conditionalModifier'}}</span>
              </div>
            </div>
          </div>
        </div>

        {{!-- Skills --}}
        <div class='ms-section' data-section='skills'>
          <h3 class='ms-section-header ms-collapsible'>
            <i class='fas fa-caret-down ms-collapse-icon'></i>
            <i class='fas fa-graduation-cap'></i>
            {{localize 'GURPS.skills'}}
            <span class='ms-section-count'>({{skillCount}})</span>
          </h3>
          <div class='ms-section-content'>
            <div class='ms-skills-table'>
              <div class='ms-skills-header'>
                <span>{{localize 'GURPS.name'}}</span>
                <span>{{localize 'GURPS.level'}}</span>
                <span>RSL</span>
                <span></span>
              </div>
              {{#each (flatlist system.skills)}}
              {{#unless isCollapsed}}
              <div class='ms-skills-row' data-key='system.skills.{{@key}}'>
                <span class='ms-col-name indent{{indent}}'>
                  <span class='ms-col-name-text'>{{this.name}}</span>
                </span>
                <span class='ms-col-level'>{{>dice-button otf=(concat 'Sk:"' this.name '"') level=this.level}}</span>
                <span class='ms-col-rsl'>{{this.relativelevel}}</span>
                <span class='ms-row-actions'>
                  <i class='fas fa-pen-to-square ms-action-btn' data-action='edit-skill' data-key='system.skills.{{@key}}'></i>
                  <i class='fas fa-trash ms-action-btn ms-delete' data-action='delete-skill' data-key='system.skills.{{@key}}'></i>
                </span>
                {{#if this.notes}}
                <div class='ms-row-notes'>{{{gurpslinkbr this.notes}}}</div>
                {{/if}}
              </div>
              {{/unless}}
              {{else}}
              <div class='ms-empty'>{{localize 'GURPS.none'}}</div>
              {{/each}}
              <div class='ms-add-row'>
                <span class='ms-add-btn' data-action='add-skill'><i class='fas fa-plus'></i> {{localize 'GURPS.skill'}}</span>
              </div>
            </div>
          </div>
        </div>

        {{!-- Advantages, Disadvantages, Perks & Quirks --}}
        <div class='ms-section' data-section='traits'>
          <h3 class='ms-section-header ms-collapsible'>
            <i class='fas fa-caret-down ms-collapse-icon'></i>
            <i class='fas fa-sparkles'></i>
            {{localize 'GURPS.advDisadvPerkQuirks'}}
            <span class='ms-section-count'>({{traitCount}})</span>
          </h3>
          <div class='ms-section-content'>
            <div class='ms-traits-table'>
              <div class='ms-traits-header'>
                <span>{{localize 'GURPS.name'}}</span>
                <span>OTF</span>
                <span>CP</span>
                <span>{{localize 'GURPS.pdfRef'}}</span>
                <span></span>
              </div>
              {{#each (flatlist system.ads)}}
              {{#unless isCollapsed}}
              <div class='ms-traits-row {{pointsClass this.points}}' data-key='system.ads.{{@key}}'>
                <span class='ms-col-name indent{{indent}}'>
                  <span class='ms-col-name-text'>{{stripOtfs this.name}}</span>
                </span>
                <span class='ms-col-otf'>
                  {{#each (extractOtfs this.name this.notes)}}
                  {{>dice-button otf=this.formula text=this.text encodedAction=this.encodedAction}}
                  {{/each}}
                </span>
                <span class='ms-col-points {{pointsClass this.points}}'>[{{this.points}}]</span>
                <span class='ms-col-ref'>{{{pdflinkext this}}}</span>
                <span class='ms-row-actions'>
                  <i class='fas fa-pen-to-square ms-action-btn' data-action='edit-trait' data-key='system.ads.{{@key}}'></i>
                  <i class='fas fa-trash ms-action-btn ms-delete' data-action='delete-trait' data-key='system.ads.{{@key}}'></i>
                </span>
                {{#if this.notes}}
                <div class='ms-row-notes'>{{{gurpslinkbr this.notes}}}</div>
                {{/if}}
              </div>
              {{/unless}}
              {{else}}
              <div class='ms-empty'>{{localize 'GURPS.none'}}</div>
              {{/each}}
              <div class='ms-add-row'>
                <span class='ms-add-btn' data-action='add-trait'><i class='fas fa-plus'></i> {{localize 'GURPS.advantage'}}</span>
              </div>
            </div>
          </div>
        </div>

        {{!-- Spells --}}
        <div class='ms-section' data-section='spells'>
          <h3 class='ms-section-header ms-collapsible'>
            <i class='fas fa-caret-down ms-collapse-icon'></i>
            <i class='fas fa-hat-wizard'></i>
            {{localize 'GURPS.spells'}}
          </h3>
          <div class='ms-section-content'>
            <div class='ms-spells-table'>
              <div class='ms-spells-header'>
                <span>{{localize 'GURPS.name'}}</span>
                <span>{{localize 'GURPS.spellCollege'}}</span>
                <span>{{localize 'GURPS.level'}}</span>
                <span>RSL</span>
                <span></span>
              </div>
              {{#each (flatlist system.spells)}}
              <div class='ms-spells-row' data-key='system.spells.{{@key}}'>
                <span class='ms-col-name indent{{indent}}'>
                  <span class='ms-col-name-text'>{{this.name}}</span>
                </span>
                <span class='ms-col-college'>{{this.college}}</span>
                <span class='ms-col-level'>{{>dice-button otf=(concat 'Sp:"' this.name '"') level=this.level}}</span>
                <span class='ms-col-rsl'>{{this.relativelevel}}</span>
                <span class='ms-row-actions'>
                  <i class='fas fa-pen-to-square ms-action-btn' data-action='edit-spell' data-key='system.spells.{{@key}}'></i>
                  <i class='fas fa-trash ms-action-btn ms-delete' data-action='delete-spell' data-key='system.spells.{{@key}}'></i>
                </span>
                {{#if this.notes}}
                <div class='ms-row-notes'>{{{gurpslinkbr this.notes}}}</div>
                {{/if}}
              </div>
              {{else}}
              <div class='ms-empty'>{{localize 'GURPS.none'}}</div>
              {{/each}}
              <div class='ms-add-row'>
                <span class='ms-add-btn' data-action='add-spell'><i class='fas fa-plus'></i> {{localize 'GURPS.spell'}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      {{!-- Tab 2: Combat --}}
      <div class='tab' data-tab='combat' data-group='modern-tabs'>
        <div class='ms-combat-layout'>
          {{!-- Left column: Attacks (70%) --}}
          <div class='ms-combat-left'>
            <div class='ms-attacks-section'>
              {{!-- Melee Attacks --}}
              <div class='ms-section' data-section='melee'>
                <h3 class='ms-section-header ms-collapsible'>
                  <i class='fas fa-caret-down ms-collapse-icon'></i>
                  <i class='fas fa-sword'></i>
                  {{localize 'GURPS.melee'}}
                  <span class='ms-section-count'>({{meleeCount}})</span>
                </h3>
                <div class='ms-section-content'>
                  <div class='ms-attacks-list ms-melee-attacks'>
                    <div class='ms-attack-header'>
                      <span class='ms-attack-name'>{{localize 'GURPS.melee'}}</span>
                      <span class='ms-attack-usage'>{{localize 'GURPS.usage'}}</span>
                      <span class='ms-attack-level'>{{localize 'GURPS.level'}}</span>
                      <span class='ms-attack-damage'>{{localize 'GURPS.damage'}}</span>
                      <span class='ms-attack-reach'>{{localize 'GURPS.reach'}}</span>
                      <span class='ms-attack-parry'>{{localize 'GURPS.parry'}}</span>
                      <span></span>
                    </div>
                    {{#each (attackflatlist system.melee)}}
                    <div class='ms-attack-row' data-key='system.melee.{{@key}}'>
                      <span class='ms-attack-name'>{{>dice-button otf=(quotedAttackName "M" this) text=this.name}}</span>
                      <span class='ms-attack-usage'>{{this.mode}}</span>
                      <span class='ms-attack-level'>{{this.level}}</span>
                      <span class='ms-attack-damage'>{{>dice-button otf=this.damage level=null text=this.damage damage=true color='var(--ms-hp)'}}</span>
                      <span class='ms-attack-reach'>{{this.reach}}</span>
                      <span class='ms-attack-parry'>{{#if this.parry}}{{>dice-button otf=(quotedAttackName "P" this) level=null text=this.parry color='var(--ms-text-muted)'}}{{/if}}</span>
                      <span class='ms-row-actions'>
                        <i class='fas fa-pen-to-square ms-action-btn' data-action='edit-melee' data-key='system.melee.{{@key}}'></i>
                        <i class='fas fa-trash ms-action-btn ms-delete' data-action='delete-melee' data-key='system.melee.{{@key}}'></i>
                      </span>
                    </div>
                    {{else}}
                    <div class='ms-empty'>{{localize 'GURPS.none'}}</div>
                    {{/each}}
                    <div class='ms-add-row'>
                      <span class='ms-add-btn' data-action='add-melee'><i class='fas fa-plus'></i> {{localize 'GURPS.melee'}}</span>
                    </div>
                  </div>
                </div>
              </div>

              {{!-- Ranged Attacks --}}
              <div class='ms-section' data-section='ranged'>
                <h3 class='ms-section-header ms-collapsible'>
                  <i class='fas fa-caret-down ms-collapse-icon'></i>
                  <i class='fas fa-crosshairs'></i>
                  {{localize 'GURPS.ranged'}}
                  <span class='ms-section-count'>({{rangedCount}})</span>
                </h3>
                <div class='ms-section-content'>
                  <div class='ms-attacks-list ms-ranged-attacks'>
                    <div class='ms-attack-header'>
                      <span class='ms-attack-name'>{{localize 'GURPS.ranged'}}</span>
                      <span class='ms-attack-usage'>{{localize 'GURPS.usage'}}</span>
                      <span class='ms-attack-level'>{{localize 'GURPS.level'}}</span>
                      <span class='ms-attack-damage'>{{localize 'GURPS.damage'}}</span>
                      <span class='ms-attack-acc'>{{localize 'GURPS.acc'}}</span>
                      <span class='ms-attack-range'>{{localize 'GURPS.range'}}</span>
                      <span></span>
                    </div>
                    {{#each (attackflatlist system.ranged)}}
                    <div class='ms-attack-row' data-key='system.ranged.{{@key}}'>
                      <span class='ms-attack-name'>{{>dice-button otf=(quotedAttackName "R" this) text=this.name}}</span>
                      <span class='ms-attack-usage'>{{this.mode}}</span>
                      <span class='ms-attack-level'>{{this.level}}</span>
                      <span class='ms-attack-damage'>{{>dice-button otf=this.damage level=null text=this.damage damage=true color='var(--ms-hp)'}}</span>
                      <span class='ms-attack-acc'>{{this.acc}}</span>
                      <span class='ms-attack-range'>{{this.range}}</span>
                      <span class='ms-row-actions'>
                        <i class='fas fa-pen-to-square ms-action-btn' data-action='edit-ranged' data-key='system.ranged.{{@key}}'></i>
                        <i class='fas fa-trash ms-action-btn ms-delete' data-action='delete-ranged' data-key='system.ranged.{{@key}}'></i>
                      </span>
                    </div>
                    {{else}}
                    <div class='ms-empty'>{{localize 'GURPS.none'}}</div>
                    {{/each}}
                    <div class='ms-add-row'>
                      <span class='ms-add-btn' data-action='add-ranged'><i class='fas fa-plus'></i> {{localize 'GURPS.ranged'}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          {{!-- Right column: Hit Locations + Encumbrance (30%) --}}
          <div class='ms-combat-right'>
            {{!-- Hit Locations --}}
            <div class='ms-section'>
              <h3 class='ms-section-header'>
                <i class='fas fa-person'></i>
                {{localize 'GURPS.hitLocation'}}
              </h3>
              <div class='ms-locations-table'>
                <div class='ms-loc-header'>
                  <span>{{localize 'GURPS.roll'}}</span>
                  <span>{{localize 'GURPS.hitLocationWhere'}}</span>
                  <span>{{localize 'GURPS.hitLocationPenalty'}}</span>
                  <span>{{localize 'GURPS.hitLocationDR'}}</span>
                </div>
                {{#each system.hitlocations}}
                <div class='ms-loc-row'>
                  <span class='ms-loc-roll'>{{hitlocationroll where roll ../parent}}</span>
                  <span class='ms-loc-where'>{{localize (concat 'GURPS.hitLocation' where) where}}</span>
                  <span class='ms-loc-penalty {{gmod penalty}}' data-name='to hit {{where}}' data-otf='{{penalty}} to hit {{where}}'>{{{displayNumber (hitlocationpenalty where penalty ../parent)}}}</span>
                  <div class='ms-loc-dr {{#if (DRisModified this)}}ms-modified{{/if}}'>
                    {{#if ../document.limited}}
                      ??
                    {{else}}
                      <span class='ms-dr-display'>{{dr}}{{#each split as |value key|}}<span title='{{localize key}}'>/{{value}}{{#if (ne key 'cr')}}*{{/if}}</span>{{/each}}</span>
                      <input type='text' class='ms-dr-input' name='system.hitlocations.{{@key}}.import' value='{{import}}'/>
                    {{/if}}
                  </div>
                </div>
                {{/each}}
              </div>
            </div>

            {{!-- Encumbrance --}}
            <div class='ms-section'>
              <h3 class='ms-section-header'>
                <i class='fas fa-weight-hanging'></i>
                {{localize 'GURPS.encumbranceMoveDodge'}}
                {{#if (automaticEncumbrance)}}
                  <i class='fas fa-lock ms-lock-icon' title='{{localize "GURPS.autoEncumbrance"}}: ON'></i>
                {{else}}
                  <i class='fas fa-unlock ms-lock-icon ms-unlocked' title='{{localize "GURPS.autoEncumbrance"}}: OFF'></i>
                {{/if}}
              </h3>
              <div class='ms-encumbrance-table'>
                <div class='ms-enc-header'>
                  <span></span>
                  <span>{{localize 'GURPS.level'}}</span>
                  <span>{{localize 'GURPS.maxload'}}</span>
                  <span>{{localize 'GURPS.move'}}</span>
                  <span>{{localize 'GURPS.dodge'}}</span>
                </div>
                {{#each system.encumbrance}}
                <div class='ms-enc-row {{#if current}}ms-current{{/if}} {{#unless (automaticEncumbrance)}}ms-clickable{{/unless}}' data-key='{{@key}}'>
                  <span class='ms-enc-marker'>{{#if current}}▶{{/if}}</span>
                  <span class='ms-enc-level'>{{{localizeKey (concat 'GURPS.encumbranceLevel-' @key)}}}</span>
                  <span class='ms-enc-load'>{{displayDecimal weight number=1 removeZeros=true}}</span>
                  <span class='ms-enc-move'>{{currentmovedisplay}}</span>
                  <span class='ms-enc-dodge {{#if current}}rollable{{/if}}' {{#if current}}data-otf='Dodge'{{/if}}>
                    {{currentdodge}}
                    {{#if ../system.defenses.dodge.bonus}}
                      <span class='ms-dodge-bonus {{#if current}}rollable{{/if}}' {{#if current}}data-otf='Dodge {{{displayNumber ../system.defenses.dodge.bonus}}} DB'{{/if}}>
                        {{{displayNumber ../system.defenses.dodge.bonus}}}
                      </span>
                    {{/if}}
                  </span>
                </div>
                {{/each}}
                <div class='ms-enc-mode'>
                  <label for='move-mode'>{{localize 'GURPS.moveMode'}}:</label>
                  <select id='move-mode' {{disabled (lt (length system.move) 2)}}>
                    {{#each system.move as |this key|}}
                      <option value='{{@key}}' {{select-if this.default true}}>{{localize this.mode}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {{!-- Tab 3: Equipment --}}
      <div class='tab' data-tab='equipment' data-group='modern-tabs'>
        <div class='ms-section'>
          <h3 class='ms-section-header'>
            <i class='fas fa-briefcase'></i>
            {{localize 'GURPS.equipmentCarried'}} ({{toLocaleString eqtsummary.eqtlbs}} {{localize 'GURPS.lbs'}}; ${{toLocaleString eqtsummary.eqtcost}})
          </h3>
          <div class='ms-equipment-table'>
            <div class='ms-eqt-header'>
              <span class='ms-eqt-equipped'>{{localize 'GURPS.equipmentEquipped'}}</span>
              <span class='ms-eqt-qty'>{{localize 'GURPS.equipmentQuantity'}}</span>
              <span class='ms-eqt-name'>{{localize 'GURPS.equipment'}}</span>
              <span class='ms-eqt-cost'>$</span>
              <span class='ms-eqt-weight'><i class='fas fa-weight-hanging'></i></span>
              <span class='ms-eqt-ref'>{{localize 'GURPS.pdfRef'}}</span>
              <span class='ms-eqt-actions'></span>
            </div>
            {{#each (flatlist system.equipment.carried)}}
            {{#unless isCollapsed}}
            <div class='ms-eqt-row equipmenucarried' data-key='system.equipment.carried.{{@key}}'>
              <span class='ms-eqt-equipped changeequip' data-key='system.equipment.carried.{{@key}}'>
                {{#if this.equipped}}
                  <i class='fas fa-circle-check'></i>
                {{else}}
                  <i class='far fa-circle ms-inactive'></i>
                {{/if}}
              </span>
              <span class='ms-eqt-qty'>
                <i class='fa-solid fa-circle-minus equipmentbutton' data-key='system.equipment.carried.{{@key}}' data-operation='equipment-dec'></i>
                <span>{{count}}</span>
                <i class='fa-solid fa-circle-plus equipmentbutton' data-key='system.equipment.carried.{{@key}}' data-operation='equipment-inc'></i>
              </span>
              <span class='ms-eqt-name indent{{indent}}'>
                {{#if hasContains}}<i class='fas fa-caret-down expandcollapseicon' data-key='system.equipment.carried.{{@key}}'></i>{{/if}}
                {{#if hasCollapsed}}<i class='fas fa-caret-right expandcollapseicon' data-key='system.equipment.carried.{{@key}}'></i>{{/if}}
                {{{gurpslink name}}}
                {{#if notes}}<div class='ms-eqt-notes'>{{{gurpslinkbr notes}}}</div>{{/if}}
              </span>
              <span class='ms-eqt-cost'>{{toLocaleString (toNumber cost)}}</span>
              <span class='ms-eqt-weight'>{{toLocaleString (toNumber weight)}}</span>
              <span class='ms-eqt-ref'>{{{pdflinkext this}}}</span>
              <span class='ms-eqt-actions'>
                <i class='fas fa-pen-to-square ms-action-btn' data-action='edit-equipment' data-key='system.equipment.carried.{{@key}}' title='Edit'></i>
                <i class='fas fa-trash ms-action-btn ms-delete' data-action='delete-equipment' data-key='system.equipment.carried.{{@key}}' title='Delete'></i>
              </span>
            </div>
            {{/unless}}
            {{else}}
            <div class='ms-empty'>{{localize 'GURPS.none'}}</div>
            {{/each}}
            <div class='ms-add-row'>
              <span class='ms-add-btn' data-action='add-equipment' data-container='carried'><i class='fas fa-plus'></i> {{localize 'GURPS.equipment'}}</span>
            </div>
          </div>
        </div>

        <div class='ms-section'>
          <h3 class='ms-section-header'>
            <i class='fas fa-archive'></i>
            {{localize 'GURPS.equipmentOther'}} (${{toLocaleString eqtsummary.othercost}})
          </h3>
          <div class='ms-equipment-table'>
            <div class='ms-eqt-header'>
              <span class='ms-eqt-equipped'></span>
              <span class='ms-eqt-qty'>{{localize 'GURPS.equipmentQuantity'}}</span>
              <span class='ms-eqt-name'>{{localize 'GURPS.equipment'}}</span>
              <span class='ms-eqt-cost'>$</span>
              <span class='ms-eqt-weight'><i class='fas fa-weight-hanging'></i></span>
              <span class='ms-eqt-ref'>{{localize 'GURPS.pdfRef'}}</span>
              <span class='ms-eqt-actions'></span>
            </div>
            {{#each (flatlist system.equipment.other)}}
            {{#unless isCollapsed}}
            <div class='ms-eqt-row equipmenuother' data-key='system.equipment.other.{{@key}}'>
              <span class='ms-eqt-equipped'></span>
              <span class='ms-eqt-qty'>
                <i class='fa-solid fa-circle-minus equipmentbutton' data-key='system.equipment.other.{{@key}}' data-operation='equipment-dec'></i>
                <span>{{count}}</span>
                <i class='fa-solid fa-circle-plus equipmentbutton' data-key='system.equipment.other.{{@key}}' data-operation='equipment-inc'></i>
              </span>
              <span class='ms-eqt-name indent{{indent}}'>
                {{#if hasContains}}<i class='fas fa-caret-down expandcollapseicon' data-key='system.equipment.other.{{@key}}'></i>{{/if}}
                {{#if hasCollapsed}}<i class='fas fa-caret-right expandcollapseicon' data-key='system.equipment.other.{{@key}}'></i>{{/if}}
                {{{gurpslink name}}}
                {{#if notes}}<div class='ms-eqt-notes'>{{{gurpslinkbr notes}}}</div>{{/if}}
              </span>
              <span class='ms-eqt-cost'>{{toLocaleString (toNumber cost)}}</span>
              <span class='ms-eqt-weight'>{{toLocaleString (toNumber weight)}}</span>
              <span class='ms-eqt-ref'>{{{pdflinkext this}}}</span>
              <span class='ms-eqt-actions'>
                <i class='fas fa-pen-to-square ms-action-btn' data-action='edit-equipment' data-key='system.equipment.other.{{@key}}' title='Edit'></i>
                <i class='fas fa-trash ms-action-btn ms-delete' data-action='delete-equipment' data-key='system.equipment.other.{{@key}}' title='Delete'></i>
              </span>
            </div>
            {{/unless}}
            {{else}}
            <div class='ms-empty'>{{localize 'GURPS.none'}}</div>
            {{/each}}
            <div class='ms-add-row'>
              <span class='ms-add-btn' data-action='add-equipment' data-container='other'><i class='fas fa-plus'></i> {{localize 'GURPS.equipment'}}</span>
            </div>
          </div>
        </div>
      </div>

      {{!-- Tab 4: Notes (Redesigned) --}}
      <div class='tab' data-tab='notes' data-group='modern-tabs'>
        {{!-- Identity & Description Card --}}
        <div class='ms-section ms-identity-card'>
          <h3 class='ms-section-header'>
            <i class='fas fa-id-card'></i>
            {{localize 'GURPS.sheet.personal.identity'}} & {{localize 'GURPS.description'}}
          </h3>
          <div class='ms-identity-grid'>
            <div class='ms-field'>
              <label>{{localize 'GURPS.name'}}</label>
              <input type='text' name='name' value='{{actor.name}}'/>
            </div>
            <div class='ms-field'>
              <label>{{localize 'GURPS.sheet.personal.title'}}</label>
              <input type='text' name='system.traits.title' value='{{system.traits.title}}'/>
            </div>
            <div class='ms-field'>
              <label>{{localize 'GURPS.sheet.personal.player'}}</label>
              <input type='text' name='system.traits.player' value='{{system.traits.player}}'/>
            </div>
            <div class='ms-field'>
              <label>{{localize 'GURPS.descriptionGender'}}</label>
              <input type='text' name='system.traits.gender' value='{{system.traits.gender}}'/>
            </div>
            <div class='ms-field'>
              <label>{{localize 'GURPS.descriptionAge'}}</label>
              <input type='text' name='system.traits.age' value='{{system.traits.age}}'/>
            </div>
            <div class='ms-field'>
              <label>{{localize 'GURPS.descriptionHeight'}}</label>
              <input type='text' name='system.traits.height' value='{{system.traits.height}}'/>
            </div>
            <div class='ms-field'>
              <label>{{localize 'GURPS.weight'}}</label>
              <input type='text' name='system.traits.weight' value='{{system.traits.weight}}'/>
            </div>
            <div class='ms-field'>
              <label>{{localize 'GURPS.pointsRace'}}</label>
              <input type='text' name='system.traits.race' value='{{system.traits.race}}'/>
            </div>
            <div class='ms-field'>
              <label>{{localize 'GURPS.descriptionSizeModifier'}}</label>
              <input type='text' name='system.traits.sizemod' value='{{system.traits.sizemod}}'/>
            </div>
            <div class='ms-field'>
              <label>{{localize 'GURPS.descriptionTechLevel'}}</label>
              <input type='text' name='system.traits.techlevel' value='{{system.traits.techlevel}}'/>
            </div>
            <div class='ms-field'>
              <label>{{localize 'GURPS.descriptionHair'}}</label>
              <input type='text' name='system.traits.hair' value='{{system.traits.hair}}'/>
            </div>
            <div class='ms-field'>
              <label>{{localize 'GURPS.descriptionEyes'}}</label>
              <input type='text' name='system.traits.eyes' value='{{system.traits.eyes}}'/>
            </div>
            <div class='ms-field'>
              <label>{{localize 'GURPS.descriptionSkin'}}</label>
              <input type='text' name='system.traits.skin' value='{{system.traits.skin}}'/>
            </div>
            <div class='ms-field'>
              <label>{{localize 'GURPS.descriptionHand'}}</label>
              <input type='text' name='system.traits.hand' value='{{system.traits.hand}}'/>
            </div>
          </div>
        </div>

        {{!-- Points Summary Bar --}}
        <div class='ms-section ms-points-bar'>
          <h3 class='ms-section-header'>
            <i class='fas fa-chart-pie'></i>
            {{localize 'GURPS.points'}}
          </h3>
          <div class='ms-points-row'>
            <span class='ms-points-item'><strong>{{system.totalpoints.total}}</strong> {{localize 'GURPS.pointsTotal'}}</span>
            <span class='ms-points-item'><strong>{{system.totalpoints.unspent}}</strong> {{localize 'GURPS.pointsUnspent'}}</span>
            <span class='ms-points-item'><strong>{{system.totalpoints.attributes}}</strong> {{localize 'GURPS.pointsAttributes'}}</span>
            <span class='ms-points-item'><strong>{{system.totalpoints.ads}}</strong> {{localize 'GURPS.pointsAdvantages'}}</span>
            <span class='ms-points-item'><strong>{{system.totalpoints.disads}}</strong> {{localize 'GURPS.pointsDisadvantages'}}</span>
            <span class='ms-points-item'><strong>{{system.totalpoints.skills}}</strong> {{localize 'GURPS.pointsSkills'}}</span>
            <span class='ms-points-item'><strong>{{system.totalpoints.spells}}</strong> {{localize 'GURPS.pointsSpells'}}</span>
          </div>
        </div>

        {{!-- Notes + Lifting --}}
        <div class='ms-notes-columns'>
          <div class='ms-section'>
            <h3 class='ms-section-header'>
              <i class='fas fa-sticky-note'></i>
              {{localize 'GURPS.notes'}}
            </h3>
            <div class='ms-notes-list'>
              {{#each (flatlist system.notes)}}
              {{#unless isCollapsed}}
              <div class='ms-note-row' data-key='system.notes.{{@key}}'>
                <div class='ms-note-content indent{{indent}}'>
                  {{#if hasContains}}<i class='fas fa-caret-down expandcollapseicon' data-key='system.notes.{{@key}}'></i>{{/if}}
                  {{#if hasCollapsed}}<i class='fas fa-caret-right expandcollapseicon' data-key='system.notes.{{@key}}'></i>{{/if}}
                  {{#if this.notes}}
                    {{#if title}}<strong>{{{gurpslinkbr this.title}}}</strong> {{/if}}{{{gurpslinkbr this.notes}}}
                  {{else}}
                    {{localize "GURPS.noteBlank"}}<i class='far fa-laugh-wink'></i>
                  {{/if}}
                  {{#if (isUserCreated this)}}
                    <i class='fas fa-bookmark ms-user-created' title='{{localize "GURPS.equipmentUserCreated"}}'></i>
                  {{/if}}
                </div>
                <span class='ms-note-ref'>{{{pdflinkext this}}}</span>
                <span class='ms-note-actions'>
                  <i class='fas fa-pen-to-square ms-action-btn' data-action='edit-note' data-key='system.notes.{{@key}}' title='Edit'></i>
                  <i class='fas fa-trash ms-action-btn ms-delete' data-action='delete-note' data-key='system.notes.{{@key}}' title='Delete'></i>
                </span>
              </div>
              {{/unless}}
              {{else}}
              <div class='ms-empty'>{{localize 'GURPS.none'}}</div>
              {{/each}}
              <div class='ms-add-row'>
                <span class='ms-add-btn' data-action='add-note'><i class='fas fa-plus'></i> {{localize 'GURPS.notes'}}</span>
              </div>
            </div>
          </div>

          <div class='ms-section'>
            <h3 class='ms-section-header'>
              <i class='fas fa-dumbbell'></i>
              {{localize 'GURPS.liftingAndMovingThings'}}
            </h3>
            <div class='ms-lifting-list'>
              <span class='ms-lift-value'>{{displayDecimal system.liftingmoving.basiclift number=1 removeZeros=true}}</span>
              <span class='ms-lift-label'>{{localize 'GURPS.basicLift'}}</span>
              <span class='ms-lift-value'>{{displayDecimal system.liftingmoving.onehandedlift number=1 removeZeros=true}}</span>
              <span class='ms-lift-label'>{{localize 'GURPS.oneHandLift'}}</span>
              <span class='ms-lift-value'>{{displayDecimal system.liftingmoving.twohandedlift number=1 removeZeros=true}}</span>
              <span class='ms-lift-label'>{{localize 'GURPS.twoHandLift'}}</span>
              <span class='ms-lift-value'>{{displayDecimal system.liftingmoving.shove number=1 removeZeros=true}}</span>
              <span class='ms-lift-label'>{{localize 'GURPS.shoveAndKnockOver'}}</span>
              {{#if system.liftingmoving.runningshove}}
              <span class='ms-lift-value'>{{displayDecimal system.liftingmoving.runningshove number=1 removeZeros=true}}</span>
              <span class='ms-lift-label'>{{localize 'GURPS.runningShoveAndKnockOver'}}</span>
              {{/if}}
              <span class='ms-lift-value'>{{displayDecimal system.liftingmoving.carryonback number=1 removeZeros=true}}</span>
              <span class='ms-lift-label'>{{localize 'GURPS.carryOnBack'}}</span>
              <span class='ms-lift-value'>{{displayDecimal system.liftingmoving.shiftslightly number=1 removeZeros=true}}</span>
              <span class='ms-lift-label'>{{localize 'GURPS.shiftSlightly'}}</span>
            </div>
          </div>
        </div>

        {{!-- Trackers --}}
        {{#if system.additionalresources.tracker.length}}
        <div class='ms-section'>
          <h3 class='ms-section-header'>
            <i class='fas fa-heartbeat'></i>
            {{localize 'GURPS.resourceTrackers'}}
            <i class='fas fa-plus ms-add-icon' data-action='add-tracker'></i>
          </h3>
          <div class='ms-trackers-list'>
            {{#each system.additionalresources.tracker}}
            {{>resource-tracker
                label=name
                resource=this
                name=(concat 'additionalresources.tracker.' (zeroFill @index 4))
                editable=true
              }}
            {{/each}}
          </div>
        </div>
        {{else}}
        <div class='ms-section'>
          <h3 class='ms-section-header'>
            <i class='fas fa-heartbeat'></i>
            {{localize 'GURPS.resourceTrackers'}}
            <i class='fas fa-plus ms-add-icon' data-action='add-tracker'></i>
          </h3>
          <div class='ms-empty'>{{localize 'GURPS.none'}}</div>
        </div>
        {{/if}}
      </div>
    </section>
  </div>
  <div class='ms-footer'>
    {{localize 'GURPS.sheet.gcs.copyright'}}
    <a href='https://gurpscharactersheet.com'>gurpscharactersheet.com</a>
  </div>
</form>
