<form class='{{cssClass}}' autocomplete='off' style='scroll-padding-top: 5px;'>
  <div id='sheet-tab' class='gurpsactorsheet'>
    <div id='stats-tab'>
      {{>portrait}}
      <div id='attributes-tab'>
        {{>basic-attributes}}
        {{>secondary-attributes}}
      </div>
      <div id='hp-fp-tab'>
        {{#if useCI}}
          {{>conditional-injury}}
        {{else}}
          {{>hpfp-tracker
            name='HP'
            resource=system.HP
            label='GURPS.attributesHPNAME'
            editable=false
            condition='reeling'
            testcondition=system.conditions.reeling
          }}
        {{/if}}
        {{>hpfp-tracker
          name='FP'
          resource=system.FP
          label='GURPS.attributesFPNAME'
          editable=false
          condition='exhausted'
          testcondition=system.conditions.exhausted
        }}
      </div>
      {{>encumbrance}}
      {{>quicknote}}
    </div>

    <nav id='nav-tabs' class='gurps-sheet-tabs' data-group='primary-tabs'>
      <li><a class='tab-item' data-tab='personal'>{{i18n 'gurps.sheet.personal.tab'}}</a></li>
      <li><a class='tab-item' data-tab='stats'>{{i18n 'GURPS.resourcesModsTab'}}</a></li>
      <li><a class='tab-item' data-tab='combat'>{{i18n 'GURPS.combatTab'}}</a></li>
      <li><a class='tab-item' data-tab='advantages'>{{i18n 'GURPS.advantagesTab'}}</a></li>
      <li><a class='tab-item' data-tab='skills'>{{i18n 'GURPS.skillsTab'}}</a></li>
      {{#if (notEmpty system.spells)}}
        <li><a class='tab-item' data-tab='spells'>{{i18n 'GURPS.spellsTab'}}</a></li>
      {{/if}}
      <li><a class='tab-item' data-tab='equipment'>{{i18n 'GURPS.equipmentTab'}}</a></li>
    </nav>
    <section class='sheet-body tabbed-sheet'>
      <div class='tab' data-tab='personal' data-group='primary-tabs'>
        <div id='personal-tab'>
          {{>identity}}
          {{>miscellaneous}}
          {{>description}}
          {{>points}}
          {{>lifting}}
          {{>notes}}
        </div>
      </div>
 
      <div class='tab' data-tab='stats' data-group='primary-tabs'>
        {{>trackers}}
        {{#if (or (notEmpty system.reactions) (notEmpty system.conditionalmods))}}
          <div id='other' style='display: flex; flex-flow: row nowrap;'>
            {{#if (notEmpty system.reactions)}}{{>reactions}}{{/if}}
            {{#if (notEmpty system.conditionalmods)}}{{>conditionalmods}}{{/if}}
          </div>
        {{/if}}

      </div>

      <div class='tab' data-tab='combat' data-group='primary-tabs'>
        <div id='combat-tab'>
          {{>conditions view='condensed'}}

          {{#if (notEmpty system.melee)}}
            {{>melee}}
          {{/if}}
          {{>speed-range-table}}
          {{#if (notEmpty system.ranged)}}
            {{>ranged}}
          {{/if}}
          <div id='combat-sidebar'>
            {{>locations parent=../data}}
          </div>
        </div>
      </div>

      <div class='tab' data-tab='advantages' data-group='primary-tabs'>
        {{>advantages}}
      </div>
      <div class='tab' data-tab='skills' data-group='primary-tabs'>
        {{>skills}}
      </div>
      {{#if (notEmpty system.spells)}}
        <div class='tab' data-tab='spells' data-group='primary-tabs'>
          {{>spells}}
        </div>
      {{/if}}
      <div class='tab' data-tab='equipment' data-group='primary-tabs'>
        {{>equipment container='carried' data=this.data}}
        {{>equipment container='other' data=this.data}}
      </div>
    </section>
  </div>
  {{>footer}}
</form>
