<form class='{{cssClass}}' autocomplete='off' style='scroll-padding-top: 5px;'>
  <div id='sheet' class='gurpsactorsheet'>
    <div id='personal'>
      {{log "personal"}}
      {{>portrait}}
      {{>identity}}
      {{>miscellaneous}}
      {{>description}}
      {{>points}}
    </div>
    <div id='stats'>
      {{log "stats"}}
      <div id='attributes'>
        {{log "attributes"}}
        {{>basic-attributes}}
        {{>secondary-attributes}}
      </div>
      {{>encumbrance}}
      {{log "encumbrance"}}
      {{>quicknote}}
      {{log "quicknote"}}
      {{>lifting}}
      {{log "lifting"}}
      {{>locations parent=../data}}
      {{log "locations"}}

      <div id='hp-fp'>
        {{#if useCI}}
          {{>conditional-injury}}
        {{else}}
          {{>hpfp-tracker
            name='HP'
            resource=data.HP
            label='GURPS.attributesHPNAME'
            editable=false
            condition='isReeling'
            testcondition=data.additionalresources.isReeling
          }}
        {{/if}}
        {{>hpfp-tracker
          name='FP'
          resource=data.FP
          label='GURPS.attributesFPNAME'
          editable=false
          condition='isTired'
          testcondition=data.additionalresources.isTired
        }}
      {{log "hp/fp"}}
      </div>

      {{>conditions}}
      {{log "conditions"}}
    </div> 
    {{!-- end of stats --}}

    {{#if (or (notEmpty data.reactions) (notEmpty data.conditionalmods))}}
      <div id='other' style='display: flex; flex-flow: row nowrap;'>
        {{#if (notEmpty data.reactions)}}{{>reactions}}{{log "reactions"}}{{/if}}
        {{#if (notEmpty data.conditionalmods)}}{{>conditionalmods}}{{log "conditional modifiers"}}{{/if}}
      </div>
    {{/if}}

    {{#if (notEmpty data.additionalresources.tracker)}}
      {{>trackers}}
      {{log "trackers"}}
    {{/if}}

    {{#if (notEmpty data.melee)}}
      {{>melee}}
      {{log "melee"}}
    {{/if}}

    {{#if (notEmpty data.ranged)}}
      {{>ranged}}
      {{log "ranged"}}
    {{/if}}

    {{#if (or (notEmpty data.skills) (notEmpty data.ads))}}
      <div id='ads-skills'>
        {{#if (notEmpty data.ads)}}{{>advantages}}{{log "advantages"}}{{/if}}
        {{#if (notEmpty data.skills)}}{{>skills}}{{log "skills"}}{{/if}}
      </div>
    {{/if}}

    {{#if (notEmpty data.spells)}}
      {{>spells}}
      {{log "spells"}}
    {{/if}}

    {{#if (notEmpty data.equipment.carried)}}
      {{>equipment container='carried' data=this.data}}
      {{log "carried"}}
    {{/if}}

    {{#if (notEmpty data.equipment.other)}}
      {{>equipment container='other' data=this.data}}
      {{log "other"}}
    {{/if}}

    {{>notes}}
    {{log "notes"}}
  </div>
  {{>footer}}
  {{#if navigateVisible}}
    <div class='navigate-area'>
      <input id='navigate-toggle' class='toggle offscreen-only' type='checkbox' />
      <div class='navigate-bar'>
        <label class='navigation-view' for='navigate-toggle'><span class='icon'></span></label>
        <div class='navigate-container'>
          <div class='navigation-link' data-value='personal'>TOP</div>
          <div class='navigation-link' data-value='stats'>STATS</div>
          <div class='navigation-link' data-value='melee'>MELEE</div>
          <div class='navigation-link' data-value='ranged'>RANGED</div>
          <div class='navigation-link' data-value='advantages'>ADVANTAGES</div>
          <div class='navigation-link' data-value='skills'>SKILLS</div>
          <div class='navigation-link' data-value='equipment'>EQUIPMENT</div>
          <div class='navigation-link' data-value='other_equipment'>OTHER</div>
          <div class='navigation-link' data-value='notes'>NOTES</div>
        </div>
      </div>
    </div>
  {{/if}}
</form>