<div class='gga-popup-window'>
  <table class='modifier-list me-info'>
    <tbody>
      {{#each selfmodifiers}}
        <tr class='me-line'>
          <td class='me-link' data-item-id='{{this.itemId}}' data-type='{{this.itemType}}'>{{{this.link}}}</td>
          <td class='me-at {{{this.itemType}}}'><span>{{{this.itemName}}}</span></td>
          <td class='me-tag'>
            {{#each tags}}
              <span>{{this}}</span>
            {{/each}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  {{#if targetmodifiers}}
    <div class='heading me-head' style='border: none; margin-top: 8px;'>{{localize 'GURPS.targetedModifiers'}}</div>
    <ul class='modifier-list'>
      {{#each targetmodifiers}}
        <li class='me-link sm'>{{{this.link}}}
          {{#each tags}}
            <span class='me-other-tags'>{{{this}}}</span>
          {{/each}}
        </li>
      {{/each}}
    </ul>
  {{/if}}
  {{#each targets}}
    <div
      class='heading me-head'
      style='color: orange; border-top: 1px solid dimgrey; border-bottom: none; margin-top: 4px; padding-top: 4px;'
    >{{localize 'GURPS.targetModifiers'}}&ensp;{{name}}</div>
    <ul class='modifier-list'>
      {{#each targetmodifiers}}
        <li class='me-link sm'>{{{this.link}}}
          {{#each tags}}
            <span class='me-other-tags'>{{{this}}}</span>
          {{/each}}
        </li>
      {{/each}}
    </ul>
  {{/each}}
</div>