<div class='tracked-resource {{#unless name}}inactive{{/unless}}' data-gurps-resource='{{name}}'>
<div class='header'>{{#if label}}{{i18n label}}{{else}}{{i18n "GURPS.resource" "Resource"}} {{@index}}{{/if}}</div>
<div class='spinner'>
  <button data-operation='resource-dec'><i class="fas fa-minus"></i></button>
  <details>
  <summary>
  <input class="gcs-attr-input" name="{{name}}" type="text" value="{{resource.value}}"
    placeholder="{{resource.max}}" data-dtype="Number" />
  </summary>
  <div class='popup button-ribbon'>
    <button data-operation='resource-update' data-value='-10'>-10</button>
    <button data-operation='resource-update' data-value='-5'>-5</button>
    <button data-operation='resource-update' data-value='-1'>-1</button>
    <button data-operation='resource-update' data-value='0'>0</button>
    <button class='restore' data-operation='resource-update' data-value=''></button>
    <button data-operation='resource-update' data-value='+1'>+1</button>
    <button data-operation='resource-update' data-value='+5'>+5</button>
    <button data-operation='resource-update' data-value='+10'>+10</button>
  </div>
  </details>
  <button data-operation='resource-inc'><i class="fas fa-plus"></i></button>
  <button data-operation='resource-reset'><i class="fas fa-undo"></i></button>
</div>

<div class='condition-block tooltip-wrapper'>
  <div class='tooltip condition {{hpFpCondition name resource "style"}}'>{{hpFpCondition name resource 'label'}}
    &nbsp; <i class='fas fa-heart-broken {{optionSetStyle data.additionalresources.isReeling}}'
      data-onethird='isReeling'></i>
    <span class="tooltiptext">
    <div class="fieldblock">
      {{#hpFpBreakpoints name resource}}
      <div class="field condensed noedit">{{breakpoint}}</div>
      <div class="label {{style}}">{{label}}</div>
      {{/hpFpBreakpoints}}
    </div>
    </span>
  </div>
  </div>
  <div class='basic-value fieldblock3'>
    <div class="points">{{#unless compact}}[{{resource.points}}]{{/unless}}</div>
    <div class='field'>{{resource.max}}</div>
    <div class='label'>{{localize "GURPS.basic"}}</div>
</div>
</div> <!-- end of combat-hit --> 