<div class='tracked-resource {{#unless name}} inactive {{/unless}}' data-gurps-resource='{{name}}'>
  {{> resource-controls}}
  <div class='condition-block tooltip-wrapper'>
    <div class='tooltip condition {{hpFpCondition name resource "style" }}'>{{i18n (hpFpCondition name resource 'label')}}
      &nbsp; <i class='fas fa-heart-broken {{optionSetStyle testcondition}}' data-onethird='{{condition}}'></i>
      <span class="tooltiptext">
        <div class="fieldblock">
          {{#hpFpBreakpoints name resource}}
            <div class="field condensed noedit">{{breakpoint}}</div>
            <div class="label {{style}}">{{label}}</div>
          {{/hpFpBreakpoints}}
        </div>
      </span>
    </div>
  </div>
  <div class='basic-value fieldblock3'>
    <div class="points">{{#unless compact}}[{{resource.points}}]{{/unless}}</div>
    <div class='field'>{{resource.max}}</div>
    <div class='label'>{{localize "GURPS.basic"}}</div>
  </div>
</div> <!-- end of combat-hit -->