<form class="{{cssClass}} gcs" autocomplete="off">
	<div id="sheet">
		<div id="details">
			{{>sections/input-text field="field" label="gurps.item.name" name="name" data=item.name type="String"}}
			{{>sections/input-text field="field" label="gurps.item.specialization" name="system.specialization"
			data=system.specialization type="String"}}
			<div class="label">{{localize "gurps.item.tech_level"}}</div>
			<div class="field no-stretch">
				{{#if system.tech_level_required}}
				{{>sections/input-text name="system.tech_level"
				data=system.tech_level type="String"}}
				{{else}}
				{{>sections/input-text name="system.tech_level"
				data=system.tech_level type="String" class="disabled"}}
				{{/if}}
				<label class="label checkbox-label">
					<input class="input" type="checkbox" name="system.tech_level_required" data-dtype="Boolean"
						{{checked system.tech_level_required}} />
					{{localize "gurps.item.tech_level_required"}}
				</label>
			</div>
			{{>sections/textarea field="field" label="gurps.item.notes" name="system.notes" data=system.notes
			type="String"}}
			{{>sections/textarea field="field" label="gurps.item.vtt_notes" name="system.vtt_notes"
			data=system.vtt_notes
			type="String"}}
			{{>sections/input-text field="field" label="gurps.item.tags" name="system.tags" data=(join system.tags ", ")
			type="String"}}
			<div class="label">{{localize "gurps.item.difficulty"}}</div>
			<div class="field no-stretch">
				<select name="attribute" data-dtype="String">
					{{#select document.attribute}}
					{{#each attributes as |v k|}}
					<option value="{{k}}">{{localize (concat v)}}</option>
					{{/each}}
					{{/select}}
				</select>
				<div class="label">{{localize "gurps.item.slash"}}</div>
				<select name="difficulty" data-dtype="String">
					{{#select document.difficulty}}
					{{#each config.select.difficulty as |v k|}}
					<option value="{{k}}">{{localize (concat v)}}</option>
					{{/each}}
					{{/select}}
				</select>
			</div>
			<div class="label">{{localize "gurps.item.epm_before"}}</div>
			<div class="field no-stretch">
				{{>sections/input-text name="NUMBER.system.encumbrance_penalty_multiplier"
				data=system.encumbrance_penalty_multiplier type="String"}}
				<div class="label">{{localize "gurps.item.epm_after"}}</div>
			</div>
			{{#if document.actor}}
			<div class="label">{{localize "gurps.item.points"}}</div>
			<div class="field no-stretch">
				{{>sections/input-text name="NUMBER.system.points" data=system.points type="String"}}
				<div class="label">{{localize "gurps.item.level"}}</div>
				{{>sections/input-text data=(concat document.skillLevel "/" document.relativeLevel) class="readonly
				tabIndex='-1'"}}
			</div>
			{{/if}}
			{{>sections/input-text field="field" label="gurps.item.reference" name="system.reference"
			data=system.reference
			type="String"}}
		</div>
		{{>item/sections/prerequisites}}
		{{>item/sections/defaults attributes=attributes sysPrefix=sysPrefix}}
		{{>item/sections/features}}
		{{>item/sections/melee}}
		{{>item/sections/ranged}}
	</div>
</form>
