<div id="details">
	<div>
		{{#if (ne system.additionalresources.importname "")}}
			<button class="quick-import">
				<i class="fas fa-arrows-rotate"></i>
				{{localize "gurps.character.settings.import.reimport" file=system.additionalresources.importname}}
			</button>
		{{else}}
			<button class="quick-import" disabled>
				<i class="fas fa-arrows-rotate"></i>
				{{localize
					"gurps.character.settings.import.reimport"
					file=(localize "gurps.character.settings.import.none")
				}}
			</button>
		{{/if}}
	</div>
	<div>
		<label for="file-upload" class="button">
			<i class="fas fa-file"></i>
			{{localize "gurps.character.settings.import.file"}}
			<input id="file-upload" type="file" accept=".gcs" style="display: none;" />
		</label>
		{{#if (ne filename "")}}
			<button class="import-confirm">
				<i class="fas fa-file-import"></i>
				{{localize "gurps.character.settings.import.import" file=filename}}
			</button>
		{{else}}
			<button class="import-confirm" disabled>
				<i class="fas fa-file-import"></i>
				{{localize
					"gurps.character.settings.import.import"
					file=(localize "gurps.character.settings.import.none")
				}}
			</button>
		{{/if}}
	</div>
	<div>
		{{#if (eq deprecation "manu")}}
			<button class="easy-update" disabled>
				<i class="fas fa-arrow-up-from-bracket"></i>
				{{localize "gurps.character.settings.easy_update"}}
			</button>
		{{else}}
			<button class="easy-update">
				<i class="fas fa-arrow-up-from-bracket"></i>
				{{localize "gurps.character.settings.easy_update"}}
			</button>
		{{/if}}
	</div>
</div>
