<form class="{{cssClass}} gcs" autocomplete="off">
	<div id="sheet">
		<div id="details">
			<label class="label"></label>
			<div class="field">
				<label class="checkbox-label">
					<input class="input" name="system.disabled" type="checkbox" data-dtype="Boolean" {{checked (not
						system.disabled)}} />
					{{localize "gurps.item.enabled"}}
				</label>
			</div>
			{{>sections/input-text field="field" label="gurps.item.name" name="name" data=item.name type="String"}}
			{{>sections/textarea field="field" label="gurps.item.notes" name="system.notes" data=system.notes
			type="String"}}
			{{>sections/textarea field="field" label="gurps.item.vtt_notes" name="system.vtt_notes"
			data=system.vtt_notes
			type="String"}}
			{{>sections/textarea field="field" label="gurps.item.user_description" name="system.user_description"
			data=system.user_description type="String"}}
			{{>sections/input-text field="field" label="gurps.item.tags" name="system.tags" data=(join system.tags ", ")
			type="String"}}
			<div class="label">{{localize "gurps.item.point_cost"}}</div>
			<div class="field no-stretch">
				{{>sections/input-text data=document.adjustedPoints class="readonly tabIndex='-1'"}}
				<label class="label checkbox-label">
					<input class="input" type="checkbox" checked />
					{{localize "gurps.item.round_down"}}
				</label>
			</div>
			<div class="label">{{localize "gurps.item.base_cost"}}</div>
			<div class="field no-stretch">
				{{numberInput system.base_points name="NUMBER.system.base_points"}}
				<div class="label">{{localize "gurps.item.points_per_level"}}</div>
				{{numberInput system.points_per_level name="NUMBER.system.points_per_level"}}
				<div class="label">{{localize "gurps.item.levels"}}</div>
				{{>sections/input-text name="NUMBER.system.levels" data=system.levels
				type="String"
				class=(input_lock system.points_per_level)}}
			</div>
			<div class="label">{{localize "gurps.item.cr"}}</div>
			<div class="field">
				<select name="NUMBER.system.cr" data-dtype="String">
					{{#select system.cr}}
					{{#each config.select.cr_level as |v k|}}
					<option value="{{k}}">{{localize v}}</option>
					{{/each}}
					{{/select}}
				</select>
			</div>
			<div class="label">{{localize "gurps.item.cr_adj"}}</div>
			<div class="field">
				<select name="system.cr_adj" data-dtype="String" {{input_lock (neq system.cr 0 )}}>
					{{#select system.cr_adj}}
					{{#each config.select.cr_adj as |v k|}}
					<option value="{{k}}">{{localize v}}</option>
					{{/each}}
					{{/select}}
				</select>
			</div>
			{{>sections/input-text field="field" label="gurps.item.reference" name="system.reference"
			data=system.reference
			type="String"}}
		</div>
		{{>item/sections/prerequisites}}
		{{>item/sections/features}}
		<div id="trait-modifiers" class="item-list">
			<div class="header enabled"><i class="gcs-checkmark"></i></div>
			<div class="header desc">{{localize "gurps.item.modifier_desc"}}</div>
			<div class="header cost">{{localize "gurps.item.modifier_point_cost"}}</div>
			<div class="header tags">{{localize "gurps.item.tags"}}</div>
			<div class="header reference"><i class="gcs-bookmark"></i></div>
			{{#each (sort modifiers "sort")}}
			{{>item/sections/trait-mod}}
			{{/each}}
		</div>
		{{>item/sections/melee}}
		{{>item/sections/ranged}}
	</div>
</form>
