<select name="{{path}}.quantity.compare">
	{{#select this.quantity.compare}}
		{{#each config.select.number_compare_strict as |v k|}}
			<option value="{{k}}">{{localize v}}</option>
		{{/each}}
	{{/select}}
</select>
<div class="field">
	<input type="text" name="{{path}}.quantity.qualifier" value="{{this.quantity.qualifier}}" data-dtype="Number" />
</div>
