<div>
	<div class="placeholder"> </div>
	<select name="{{path}}.name.compare">
		{{#select this.name.compare}}
			{{#each config.select.string_compare as |v k|}}
				<option value="{{k}}">{{localize "gurps.field_prefix.name"}} {{localize v}}</option>
			{{/each}}
		{{/select}}
	</select>
	<div class="field">
		<input
			type="text"
			name="{{path}}.name.qualifier"
			value="{{this.name.qualifier}}"
			data-dtype="String"
			{{input_lock (neq this.name.compare "none")}}
		/>
	</div>
</div>
<div>
	<div class="placeholder"> </div>
	<select name="{{path}}.specialization.compare">
		{{#select this.specialization.compare}}
			{{#each config.select.string_compare as |v k|}}
				<option value="{{k}}">{{localize "gurps.field_prefix.specialization"}} {{localize v}}</option>
			{{/each}}
		{{/select}}
	</select>
	<div class="field">
		<input
			type="text"
			name="{{path}}.specialization.qualifier"
			value="{{this.specialization.qualifier}}"
			data-dtype="String"
			{{input_lock (neq this.specialization.compare "none")}}
		/>
	</div>
</div>
<div>
	<div class="placeholder"> </div>
	<select name="{{path}}.level.compare">
		{{#select this.level.compare}}
			{{#each config.select.number_compare as |v k|}}
				<option value="{{k}}">{{localize "gurps.field_prefix.level"}} {{localize v}}</option>
			{{/each}}
		{{/select}}
	</select>
	<div class="field">
		<input
			type="text"
			name="{{path}}.level.qualifier"
			value="{{this.level.qualifier}}"
			data-dtype="Number"
			{{input_lock (neq this.level.compare "none")}}
		/>
	</div>
</div>
