<div class="spell-prereq">
	<div class="placeholder"> </div>
	<select name="{{path}}.sub_type">
		{{#select this.sub_type}}
			{{#each config.select.spell_sub_type as |v k|}}
				<option value="{{k}}">{{localize v}}</option>
			{{/each}}
		{{/select}}
	</select>
	<select
		name="{{path}}.qualifier.compare"
		{{disabled (or (eq this.sub_type "college_count") (eq this.sub_type "any"))}}
	>
		{{#select this.qualifier.compare}}
			{{#each config.select.string_compare as |v k|}}
				<option value="{{k}}">{{localize v}}</option>
			{{/each}}
		{{/select}}
	</select>
	<div class="field">
		<input
			type="text"
			name="{{path}}.qualifier.qualifier"
			value="{{this.qualifier.qualifier}}"
			data-dtype="String"
			{{disabled (eq this.qualifier.compare "none")}}
		/>
	</div>
</div>
