<div>
	<div class="placeholder"> </div>
	<select name="{{path}}.name.compare">
		{{#select this.name.compare}}
		{{#each config.select.string_compare as |v k|}}
		<option value="{{k}}">{{localize "gurps.field_prefix.trait_name"}} {{localize v}}</option>
		{{/each}}
		{{/select}}
	</select>
	{{>sections/input-text field="field" name=(concat path ".name.qualifier") data=this.name.qualifier type="String"
	class=(input_lock (neq this.name.compare "none"))}}
</div>
<div>
	<div class="placeholder"> </div>
	<select name="{{path}}.notes.compare">
		{{#select this.notes.compare}}
		{{#each config.select.string_compare as |v k|}}
		<option value="{{k}}">{{localize "gurps.field_prefix.notes"}} {{localize v}}</option>
		{{/each}}
		{{/select}}
	</select>
	{{>sections/input-text field="field" name=(concat path ".notes.qualifier") data=this.notes.qualifier type="String"
	class=(input_lock (neq this.notes.compare "none"))}}
</div>
<div>
	<div class="placeholder"> </div>
	<select name="{{path}}.level.compare">
		{{#select this.level.compare}}
		{{#each config.select.number_compare as |v k|}}
		<option value="{{k}}">{{localize "gurps.field_prefix.level"}} {{localize v}}</option>
		{{/each}}
		{{/select}}
	</select>
	{{>sections/input-text field="field" name=(concat "NUMBER." path ".level.qualifier") data=this.levels.qualifier type="String"
	class=(input_lock (neq this.level.compare "none"))}}
</div>
