<p>{{{description}}}</p>
<div class='form-group'>
  <label for='data' style='white-space: nowrap;'>{{source}}:</label>
  <input type='file' name='data' accept='{{fileTypes}}' />
</div>
{{#if note}}
  <p>{{{note}}}</p>
{{/if}}
{{#if warning}}
  <div>{{{warning}}}</div>
{{/if}}
