<div id="modifier-app-list" class="{{cssClass}}" autocomplete="off">
	{{#if mods}}
	{{#each mods}}
	<div data-index="{{@index}}" class="entry{{#if (eq ../selection @index)}} selected{{/if}}">{{signed this.modifier}}:
		{{this.name}}{{#if
		this.pinned}}<i class="fas fa-thumbtack"></i>{{/if}}</div>
	{{/each}}
	{{else}}
	{{#if pinnedMods}}
	<div>{{localize "gurps.system.modifier_stack.pin_prompt"}}</div>
	{{else}}
	<div>{{{localize "gurps.system.modifier_stack.make_pin_prompt"}}}</div>
	{{/if}}
	{{/if}}
</div>
