<form class="{{cssClass}}" autocomplete="off">
	<div id="sheet">
		<div id="details">
			<div class="label">{{localize "gurps.item.name"}}</div>
			<div class="field">
				<input type="text" name="name" value="{{item.name}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.item.duration"}}</div>
			<div class="field no-stretch">
				<input
					type="text"
					name="duration"
					value="{{duration}}"
					data-dtype="String"
					{{input_lock (neq system.duration.type "none")}}
				/>
                <select name="system.duration.type" data-dtype="String">
                    {{#select system.duration.type }}
                    {{#each config.select.duration_type as |v k| }}
                    <option value="{{k}}">
                        {{ localize v }}
                    </option>
                    {{/each }}
                    {{/select }}
                </select>
			</div>
		</div>
	</div>
    {{>item/sections/features }}
    {{>item/sections/modifiers }}
</form


