<p class='notes'>{{title}}</p>
<div class='form-group'>
  <label for='data'>{{source}}</label>
  <input type='file' accept='.xml,.txt,.gcs' name='data' />
</div>
<p class='notes'>{{describeAction}}</p>
<ul style='margin: 0'>
  <li>{{overwriteAction}}</li>
  <li>{{itemAction}}</li>
</ul>
<div><span class='fas fa-exclamation-triangle'></span>&nbsp;<b>{{note}}</b></div>