<!-- Added to color the rollable parts of the character sheet. Stevil... -->
<form id='color-character-sheet-settings' autocomplete='off' class='gga-app'>
  <h3>{{ i18n 'GURPS.settingColorSheetMenuTitle' }}</h3>
  <aside>{{ i18n 'GURPS.settingColorSheetMenuHint' }}</aside>
  <div class='section'>
    <div id='entry-list' class='gurps-sheet-colors overflowy'>
      <header>{{ i18n 'GURPS.colorSheetMenuOverride' }}</header>
      <header>{{ i18n 'GURPS.colorSheetMenuCustomColors' }}</header>
      <header>{{ i18n 'GURPS.colorSheetMenuColorAreas' }}</header>
      {{#each allColors}}
        <hr />
        <div class='override-color'><input type='checkbox' id='{{ rollable_css }}' {{#if color_override}}
            checked='checked' {{/if}} /></div>
        <div class='the-colors'>
          <!-- Color for Background -->
          <div for='{{ rollable_css }}' class='{{ rollable_css }} pick-colors'>
            <div id='colorPicker'>
              <a class='color'>
                <div class='colorInner'></div>
              </a>
              <div class='track'></div>
              <ul class='dropdown'>
                <li></li>
              </ul>
              <input type='hidden' class='default-{{ rollable_css }}' value='{{ default_color_background }}' />
              <input type='hidden' class='colorInput' value='{{ color_background }}' />
            </div>
          </div>
          <div class='area-colors'>
            {{#switch area}}
              {{#case 'Attributes'}}
                {{ i18n 'GURPS.colorSheet.AttributesColor' }}
              {{/case}}
              {{#case 'Dodge'}}
                {{ i18n 'GURPS.colorSheet.DodgeColor' }}
              {{/case}}
              {{#case 'Damage'}}
                {{ i18n 'GURPS.colorSheet.DamageColor' }}
              {{/case}}
              {{#case 'Block'}}
                {{ i18n 'GURPS.colorSheet.BlockColor' }}
              {{/case}}
              {{#case 'Parry'}}
                {{ i18n 'GURPS.colorSheet.ParryColor' }}
              {{/case}}
              {{#case 'Weapons'}}
                {{ i18n 'GURPS.colorSheet.WeaponsColor' }}
              {{/case}}
              {{#case 'Skills'}}
                {{ i18n 'GURPS.colorSheet.SkillsColor' }}
              {{/case}}
              {{#case 'Spells'}}
                {{ i18n 'GURPS.colorSheet.SpellsColor' }}
              {{/case}}
              {{#case 'OtF-Notes'}}
                {{ i18n 'GURPS.colorSheet.OtfNotesColor' }}
              {{/case}}
              {{#case 'Ads/Disads'}}
                {{ i18n 'GURPS.colorSheet.AdsDisadsColor' }}
              {{/case}}
            {{/switch}}
          </div>
          <br />
          <!-- Color for Text -->
          <div for='{{ rollable_css }}' class='{{ rollable_css }}-text pick-colors'>
            <div id='colorPicker'>
              <a class='color'>
                <div class='colorInner'></div>
              </a>
              <div class='track'></div>
              <ul class='dropdown'>
                <li></li>
              </ul>
              <input type='hidden' class='default-{{ rollable_css }}-text' value='{{ default_color_text }}' />
              <input type='hidden' class='colorInput' value='{{ color_text }}' />
            </div>
          </div>
          <div class='area-colors'>
            {{#switch area}}
              {{#case 'Attributes'}}
                {{ i18n 'GURPS.colorSheet.AttributesTextColor' }}
              {{/case}}
              {{#case 'Dodge'}}
                {{ i18n 'GURPS.colorSheet.DodgeTextColor' }}
              {{/case}}
              {{#case 'Damage'}}
                {{ i18n 'GURPS.colorSheet.DamageTextColor' }}
              {{/case}}
              {{#case 'Block'}}
                {{ i18n 'GURPS.colorSheet.BlockTextColor' }}
              {{/case}}
              {{#case 'Parry'}}
                {{ i18n 'GURPS.colorSheet.ParryTextColor' }}
              {{/case}}
              {{#case 'Weapons'}}
                {{ i18n 'GURPS.colorSheet.WeaponsTextColor' }}
              {{/case}}
              {{#case 'Skills'}}
                {{ i18n 'GURPS.colorSheet.SkillsTextColor' }}
              {{/case}}
              {{#case 'Spells'}}
                {{ i18n 'GURPS.colorSheet.SpellsTextColor' }}
              {{/case}}
              {{#case 'OtF-Notes'}}
                {{ i18n 'GURPS.colorSheet.OtfNotesTextColor' }}
              {{/case}}
              {{#case 'Ads/Disads'}}
                {{ i18n 'GURPS.colorSheet.AdsDisadsTextColor' }}
              {{/case}}
            {{/switch}}
          </div>
          <br />
          <!-- Color for Background Hover -->
          <div for='{{ rollable_css }}' class='{{ rollable_css }}-hover pick-colors'>
            <div id='colorPicker'>
              <a class='color'>
                <div class='colorInner'></div>
              </a>
              <div class='track'></div>
              <ul class='dropdown'>
                <li></li>
              </ul>
              <input type='hidden' class='default-{{ rollable_css }}-hover' value='{{ default_color_hover }}' />
              <input type='hidden' class='colorInput' value='{{ color_hover }}' />
            </div>
          </div>
          <div class='area-colors'>
            {{#switch area}}
              {{#case 'Attributes'}}
                {{ i18n 'GURPS.colorSheet.AttributesHoverColor' }}
              {{/case}}
              {{#case 'Dodge'}}
                {{ i18n 'GURPS.colorSheet.DodgeHoverColor' }}
              {{/case}}
              {{#case 'Damage'}}
                {{ i18n 'GURPS.colorSheet.DamageHoverColor' }}
              {{/case}}
              {{#case 'Block'}}
                {{ i18n 'GURPS.colorSheet.BlockHoverColor' }}
              {{/case}}
              {{#case 'Parry'}}
                {{ i18n 'GURPS.colorSheet.ParryHoverColor' }}
              {{/case}}
              {{#case 'Weapons'}}
                {{ i18n 'GURPS.colorSheet.WeaponsHoverColor' }}
              {{/case}}
              {{#case 'Skills'}}
                {{ i18n 'GURPS.colorSheet.SkillsHoverColor' }}
              {{/case}}
              {{#case 'Spells'}}
                {{ i18n 'GURPS.colorSheet.SpellsHoverColor' }}
              {{/case}}
              {{#case 'OtF-Notes'}}
                {{ i18n 'GURPS.colorSheet.OtfNotesHoverColor' }}
              {{/case}}
              {{#case 'Ads/Disads'}}
                {{ i18n 'GURPS.colorSheet.AdsDisadsHoverColor' }}
              {{/case}}
            {{/switch}}
          </div>
          <br />
          <!-- Color for Hover Text -->
          <div for='{{ rollable_css }}' class='{{ rollable_css }}-hover-text pick-colors'>
            <div id='colorPicker'>
              <a class='color'>
                <div class='colorInner'></div>
              </a>
              <div class='track'></div>
              <ul class='dropdown'>
                <li></li>
              </ul>
              <input type='hidden' class='default-{{ rollable_css }}-hover-text'
                value='{{ default_color_hover_text }}' />
              <input type='hidden' class='colorInput' value='{{ color_hover_text }}' />
            </div>
          </div>
          <div class='area-colors'>
            {{#switch area}}
              {{#case 'Attributes'}}
                {{ i18n 'GURPS.colorSheet.AttributesHoverTextColor' }}
              {{/case}}
              {{#case 'Dodge'}}
                {{ i18n 'GURPS.colorSheet.DodgeHoverTextColor' }}
              {{/case}}
              {{#case 'Damage'}}
                {{ i18n 'GURPS.colorSheet.DamageHoverTextColor' }}
              {{/case}}
              {{#case 'Block'}}
                {{ i18n 'GURPS.colorSheet.BlockHoverTextColor' }}
              {{/case}}
              {{#case 'Parry'}}
                {{ i18n 'GURPS.colorSheet.ParryHoverTextColor' }}
              {{/case}}
              {{#case 'Weapons'}}
                {{ i18n 'GURPS.colorSheet.WeaponsHoverTextColor' }}
              {{/case}}
              {{#case 'Skills'}}
                {{ i18n 'GURPS.colorSheet.SkillsHoverTextColor' }}
              {{/case}}
              {{#case 'Spells'}}
                {{ i18n 'GURPS.colorSheet.SpellsHoverTextColor' }}
              {{/case}}
              {{#case 'OtF-Notes'}}
                {{ i18n 'GURPS.colorSheet.OtfNotesHoverTextColor' }}
              {{/case}}
              {{#case 'Ads/Disads'}}
                {{ i18n 'GURPS.colorSheet.AdsDisadsHoverTextColor' }}
              {{/case}}
            {{/switch}}
          </div>
          <br />
          <!-- End of Colors -->
        </div>
      {{/each}}
    </div>
  </div>
  <div class='section'>
    <button id='update'>
      <i class='fas fa-save'></i>Update Colors</button>
  </div>
</form>
