<form class="{{cssClass}}" autocomplete="off">
	<div id="sheet">
		<div id="details">
			<div class="label">{{localize "gurps.item.img"}}</div>
			<div class="field">
				<div class="img-display" style="background-image: url({{document.img}});">
					<img src="{{document.img}}" data-edit="img" title="{{document.name}}" />
				</div>
			</div>
			<div class="label">{{localize "gurps.item.name"}}</div>
			<div class="field">
				<input type="text" name="name" value="{{item.name}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.item.notes"}}</div>
			<div class="field">
				<input type="text" name="system.notes" value="{{system.notes}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.item.vtt_notes"}}</div>
			<div class="field">
				<input type="text" name="system.vtt_notes" value="{{system.vtt_notes}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.item.tags"}}</div>
			<div class="field">
				<input type="text" name="system.tags" value="{{join system.tags ', '}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.item.reference"}}</div>
			<div class="field">
				<input type="text" name="system.reference" value="{{system.reference}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.item.reference_highlight"}}</div>
			<div class="field">
					<input type="text" name="system.reference_highlight" value="{{system.reference_highlight}}" data-dtype="String" />
			</div>
		</div>
	</div>
</form>
