<div class='gurps-chat-message'>
  <div class='prefix'>
    {{localize "GURPS.chatShock" name=name modifier=modifier}}<span
      class='pdflink'>([PDF:{{localize "GURPS.pdfShock"}}])</span>.
  </div>
  <hr />
  <div class='roll-result'>
    ["{{{localize "GURPS.shockPenaltyNextTurnOnly" name=name modifier=modifier}}}" {{button}}]
    <ul class='modifier-list'>
      <li>{{localize "GURPS.highPainThresholdNoPenalty"}} <span class='pdflink'>([PDF:{{i18n "GURPS.pdfHPT"}}])</span>.
      </li>
      <li>{{{localize "GURPS.lowPainThresholdDoubles"}}} <span class='pdflink'>([PDF:{{i18n "GURPS.pdfLPT"}}])</span>.
      </li>
    </ul>

    <div class='aside'>
      {{localize "GURPS.effectsNotApplicableDefenses"}}
      {{localize "GURPS.effectsTemporaryAttributePenalties"}} <span
        class='pdflink'>([PDF:{{i18n "GURPS.pdfTempAttribPenalties"}}])</span>.
    </div>
  </div>
</div>