<div class='gga-chat-message'>
  <div class='prefix'>
    {{localize 'GURPS.chatShock' name=name modifier=modifier}}
    ([PDF:{{localize 'GURPS.pdfShock'}}]).
  </div>
  <hr />
  <div class='roll-result'>
    ["{{localize 'GURPS.shockPenaltyNextTurnOnly' name=name modifier=modifier}}"
    {{button}}]
    <ul class='modifier-list'>
      <li>{{{localize 'GURPS.highPainThresholdNoPenalty'}}} ([PDF:{{localize 'GURPS.pdfHPT'}}]).</li>
      <li>{{{localize 'GURPS.lowPainThresholdDoubles'}}} ([PDF:{{localize 'GURPS.pdfLPT'}}]).</li>
    </ul>

    <div class='aside'>
      {{{localize 'GURPS.effectsNotApplicableDefenses'}}}
      {{{localize 'GURPS.effectsTemporaryAttributePenalties'}}}
      ([PDF:{{localize 'GURPS.pdfTempAttribPenalties'}}]).
    </div>
  </div>
</div>