<div class='gurps-chat-message'>
  <div class='prefix'>
    {{localize "GURPS.suffersAMajorWound" name=name}} <span
      class='pdflink'>([PDF:{{i18n "GURPS.pdfMajorWound"}}])</span>.
  </div>
  <hr />
  <div class='roll-result'>
    ["{{localize "GURPS.majorWoundEffectLabel" name=name htCheck=htCheck}}" {{button}}]
    <ul class='modifier-list'>
      <li>[{{localize "GURPS.forLowPainThreshold" mod="-4"}}]</li>
      <li>[{{localize "GURPS.forHighPainThreshold" mod="+3"}}]</li>
    </ul>
  </div>
</div>