<li name='result-effect'>
  <div>
    <div>
      <header>{{localize 'GURPS.crippling'}}{{detail}}</header>
      <aside>{{#if reduceInjury}}{{localize 'GURPS.damageAbove'}}{{amount}}{{localize 'GURPS.hpIgnored'}}{{/if}}</aside>
      {{#if (eq detail 'Tail')}}
        <aside>
          {{localize 'GURPS.groundCreatures'}}: -1 DX.<br />{{localize 'GURPS.swimmerFlyer'}}: -2 DX
          {{localize 'GURPS.andHalfMove' this}}
        </aside>
      {{/if}}
    </div>
    <div id='test-crippling' class='with-send-button'>
      <button name='test-major' data-effect='{{jsonStringify this}}'>
        <span class='fa fa-dice' title='{{testTitle}}'></span>
      </button>
    </div>
    {{#each buttons as |button|}}
      <div id='add-crippling' class='with-send-button'>
        <button name='add-major' data-effect='{{jsonStringify this}}'>
          <span class='fa {{spanClass}} {{effectName}}' data-actor='{{actorId}}' title='{{effectTitle}}'></span>
        </button>
      </div>
    {{/each}}
    <div class='with-send-button'>
      <button name='send-wound' data-struct='{{jsonStringify this}}'><span class='fa fa-comment-alt'></span></button>
    </div>

    <div><span class='pdflink'>{{localize 'GURPS.pdfCrippling'}}</span></div>
  </div>
</li>