<button type='button' class='ms-use-button rollable' data-otf='{{otf}}' {{#if encodedAction}}data-action='{{encodedAction}}'{{/if}} title='{{otf}}' {{#if damage}}data-damage{{/if}}>
  <i class='fas fa-dice'></i>
  {{#if level}}<span class='ms-btn-level' {{#if color}}style='color: {{color}}'{{/if}}>{{level}}</span>{{/if}}
  {{#if text}}<span class='ms-btn-text' {{#if color}}style='color: {{color}}'{{/if}}>{{text}}</span>{{/if}}
</button>
