<div class='roll-message gga-chat-message'>
  <div class='prefix'>
    {{prefix}}
    {{chatthing}}{{#if (not (eq origtarget -1))}} ({{origtarget}}){{/if}}
  </div>
  {{#if optlabel}}&nbsp;&nbsp;{{{optlabel}}}{{/if}}
  {{#if targetmods}}
    <div>
      <ul class='modifier-list'>
        {{#each targetmods}}
          <li>[{{{displayNumber mod}}}{{#if desc}} {{desc}}{{/if}}]</li>
        {{/each}}
      </ul>
    </div>
    {{#if (gt finaltarget 0)}}
      {{localize 'GURPS.rollNewTarget' target=finaltarget}}
    {{/if}}
  {{/if}}
  <div class='roll-result'>
    {{#if (not (eq origtarget -1))}}
      <div>
        <span class='roll-value'>{{rtotal}}</span>
        <span class='roll-detail'>
          {{#if isCritSuccess}}
            <span class='crit success'>{{localize 'GURPS.rollCriticalSuccess'}}</span>
          {{else if isCritFailure}}
            <span class='crit failure'>{{localize 'GURPS.rollCriticalFailure'}}</span>
          {{else if failure}}
            <span class='failure'>{{localize 'GURPS.rollFailure'}}</span>
          {{else if (not failure)}}
            <span class='success'>{{localize 'GURPS.rollSuccess'}}</span>
          {{/if}}
          <span class='aside'>
            {{#if seventeen}}
              {{localize 'GURPS.rollFail17'}}
            {{else}}
              {{#if (eq margin 0)}}{{localize 'GURPS.rollJustMadeIt'}}{{/if}}
              {{#if (gt margin 0)}}["{{localize 'GURPS.rollMadeBy' margin=margin}}"{{otf}}]{{/if}}
              {{#if (lt margin 0)}}["{{localize 'GURPS.rollMissedBy' margin=margin}}"{{otf}}]{{/if}}
            {{/if}}
          </span>
        </span>
      </div>
    {{/if}}
    <div>
      <hr />
      {{#if (gt rofrcl 1)}}
        <div>
          <span class='fa fa-bullseye'></span>
          <span class='note'>
            {{{localize 'GURPS.rollTotalHits' link=(gurpslink '[PDF:B373]') rof=rof rcl=rcl rofrcl=rofrcl}}}
          </span>
        </div>
        <hr />
      {{/if}}
      {{#each multiples}}
        <div class='aside'>
          {{#if loaded}}<i style='color:darkred' class='fas fa-user'></i>{{else}}<i class='fas fa-dice'></i>{{/if}}
          <i class='fas fa-long-arrow-alt-right' style='color:dimgray'></i>
          <span class='aside-text'>{{localize 'GURPS.rollTotal' rolls=rolls rtotal=rtotal}}</span>
        </div>
      {{/each}}
      {{#if followon}}{{#if (not failure)}}
          <hr />
          {{i18n 'GURPS.damage'}}:
          {{followon}}
        {{/if}}{{/if}}
    </div>
  </div>
</div>