<div class='notes'>{{title}}</div>
<div class='form-group'>
  <label for='data'>{{source}}</label>
  <input type='file' accept='.xml,.txt,.gcs' name='data' />
</div>
<div class='notes'>{{describeAction}}</div>
<ul>
  <li>{{overwriteAction}}</li>
  <li>{{itemAction}}</li>
</ul>
<div><span class='fas fa-exclamation-triangle'></span>&nbsp;<strong>{{note}}</strong></div>