<p class='notes'>{{title}}</p><hr>
<div class='form-group'>
  <label for='data'>{{source}}:</label>
  {{{inputElement}}}
</div>
<br>
<p class='notes'>{{describeAction}}</p>
<ul>
  <li>{{overwriteAction}}</li>
  <li>{{itemAction}}</li>
</ul>
<br>
<p><span class='fas fa-exclamation-triangle' ></span>&nbsp;<b>{{note}}</b></p>
