<p class='notes'>{{title}}</p>
<div class='form-group'>
  <label for='data' style='white-space: nowrap;'>{{source}}:</label>
  {{{inputElement}}}
</div>
<p class='notes'>{{describeAction}}</p>
<ul style='margin: 0'>
  <li>{{overwriteAction}}</li>
  <li>{{itemAction}}</li>
</ul>
<div><span class='fas fa-exclamation-triangle'></span>&nbsp;<b>{{note}}</b></div>