<div class='collapsible-wrapper'>
  <input id='collapsible-hud' class='toggle offscreen-only' type='checkbox' />
  <label for='collapsible-hud' class='label-toggle'><i class='fas fa-user-shield'></i></label>
  <div class='collapsible-content maneuver-content'>
    <div class='status-maneuvers'>
      {{debug maneuvers}}
      {{debug effects}}
      {{#each maneuvers}}
        <img class='effect-control {{#if (includes ../effects this.icon)}}active{{/if}}' src='{{this.icon}}' title='{{i18n this.label}}' data-status-id='{{@key}}' />
      {{/each}}
    </div>
  </div>
</div>