<div class='gga-app {{classes}}'>
  <div
    class='gurps-3col'
    style='width: 100%; justify-items: end; align-items: center; grid-template-columns: auto min-content auto;"'
  >
    {{#each diceTerm}}
      <div>{{#if this.term.flavor}}{{this.term.flavor}}:{{/if}}</div>
      <label for='{{this.term.id}}' style='padding: 0 4px;'>{{this.term.baseExpression}}</label>
      <input id='{{this.term.id}}' type='text' class='gurps-invalid' value='{{this.text}}' />
    {{/each}}
  </div>
  <div class='button-bar gurps-2col' style='grid-template-columns: 1fr 1fr;'>
    <button id='roll'><i class='fas fa-dice'></i> {{i18n 'GURPS.rollForMe'}}</button>
    <button id='apply' class='default' disabled><i class='fas fa-check'></i> {{i18n 'GURPS.addApply'}}</button>
  </div>
</div>