<form class="{{cssClass}} flexcol" autocomplete="off">
	{{> journalEntryPageHeader}}

	{{#if document.src}}
	<iframe src="scripts/pdfjs/web/viewer.html?{{params}}#page={{sum document.system.offset 5}}"></iframe>
	{{/if}}

	<div class="form-group picker">
		<label>{{localize "JOURNALENTRYPAGE.PDFSource"}}</label>
		<div class="form-fields">
			{{filePicker target="src" type="text"}}
			<input class="image" type="text" name="src" placeholder="path/document.pdf" value="{{document.src}}">
		</div>
	</div>
	<div class="form-group">
		<label>{{localize "gurps.pdf.offset"}}</label>
		<div class="form-fields">
			<input type="number" name="system.offset" placeholder="Offset (e.g. -5, 0, 2)"
				value="{{document.system.offset}}">
		</div>
	</div>
	<div class="form-group">When changing this value, the PDF will automatically adjust to what should be page 5</div>
	<div class="form-group">
		<label>{{localize "gurps.pdf.code"}}</label>
		<div class="form-fields">
			<input type="text" name="system.code" placeholder="PDF Code (e.g. 'B')" value="{{document.system.code}}">
		</div>
	</div>

	{{> journalEntryPageFooter}}
</form>
