<div class="flexcol">
  {{#if title.show}}
    <header class="journal-page-header" style="flex: none;">
      <h{{title.level}}>{{name}}</h{{title.level}}>
    </header>
  {{/if}}

  {{#if src}}
    <iframe src='scripts/pdfjs/web/viewer.html?{{params}}#page={{pageNumber}}'></iframe>
  {{/if}}
</div>