<div id='advantages' class='gurpstable'>
  <div class='itemmenu header' style='padding: 0; {{#unless isEditing}}border-right: none;{{/unless}}'></div>
  <div class='header desc'>
    <div class='adshead' data-key='data.ads'>
      <span>{{i18n 'GURPS.advDisadvPerkQuirks'}}</span>
      <i class='fas fa-caret-square-down'></i>
    </div>
  </div>
  <div class='pts header'>{{i18n 'GURPS.abbrevPoints' 'Pts'}}</div>
  <div class='ref header'>{{i18n 'GURPS.abbrevReference' 'Ref'}}</div>

  {{#listeqt data.ads}}
    {{#if ../isEditing}}
      <div class='itemmenu adsmenu' data-key='data.ads.{{@key}}'>
        <i class='fas fa-times'></i>
      </div>
      <div class='desc indent0' data-key='data.ads.{{@key}}'>
        <input name='data.ads.{{@key}}.name' class='gcs-input' type='text' value='{{this.name}}' />
        <div class='list_note'>
          <textarea name='data.ads.{{@key}}.notes' class='gcs-input-ta' type='text'>{{this.notes}}</textarea>
        </div>
      </div>
      <div class='pts' data-key='data.ads.{{@key}}'>
        <input name='data.ads.{{@key}}.points' class='gcs-input-sm3' type='text' value='{{this.points}}' />
      </div>
      <div class='ref' data-key='data.ads.{{@key}}'>
        <input name='data.ads.{{@key}}.pageref' class='gcs-input-sm5' type='text' value='{{this.pageref}}' />
      </div>
    {{else}}
      <div class='itemmenu gurpsrow' style='padding: 0;'></div>
      <div class='desc gurpsrow indent{{@indent}} adsdraggable dblclkedit tooltip-manager' data-key='data.ads.{{@key}}'>
        <div style='display: flex; flex-flow: row nowrap;'>
          {{#if (notEmpty this.contains)}}<i class='fas fa-caret-down expandcollapseicon'></i>{{/if}}
          {{#if (notEmpty this.collapsed)}}<i class='fas fa-caret-right expandcollapseicon'></i>{{/if}}
          {{{gurpslink this.name}}}
          {{#if (isFoundryItem this)}}
            <i class='far fas fa-star' style='float: right; color: olivedrab; font-weight: 900; padding-top: 3px;'></i>
          {{/if}}
          {{#if (displayItemHover this)}}
            <div class='tooltippic'><img src='{{this.img}}' /></div>
          {{/if}}
        </div>
        <div class='list_note gurpsrow adsdraggable'
          {{#if (or (notEmpty this.contains) (notEmpty this.collapsed))}}
            style='padding-left: 1em;'
          {{/if}}
          data-key='data.ads.{{@key}}'>{{{gurpslinkbr this.notes}}}</div>
      </div>
      <div class='pts gurpsrow flex-center'>{{this.points}}</div>
      <div class='ref gurpsrow flex-center'>{{{pdflink this.pageref}}}</div>
    {{/if}}
  {{/listeqt}}
</div>