<div id='attributes'>
  <div class='header'>{{localize 'GURPS.attributes'}}</div>
  <div class='fieldblock3'>
    <div class='points'>[{{data.attributes.ST.points}}]</div>
    <div class='field rollable' data-path='attributes.ST.value' data-otf='ST'>
      {{data.attributes.ST.value}}
    </div>
    <div class='label'>{{localize 'GURPS.attributesSTNAME'}} ({{localize 'GURPS.attributesST'}})</div>
    <div class='points'>[{{data.attributes.DX.points}}]</div>
    <div class='field rollable' data-path='attributes.DX.value' data-otf='DX'>
      {{data.attributes.DX.value}}
    </div>
    <div class='label'>{{localize 'GURPS.attributesDXNAME'}} ({{localize 'GURPS.attributesDX'}})</div>
    <div class='points'>[{{data.attributes.IQ.points}}]</div>
    <div class='field rollable' data-path='attributes.IQ.value' data-otf='IQ'>
      {{data.attributes.IQ.value}}
    </div>
    <div class='label'>{{localize 'GURPS.attributesIQNAME'}} ({{localize 'GURPS.attributesIQ'}})</div>
    <div class='points'>[{{data.attributes.HT.points}}]</div>
    <div class='field rollable' data-path='attributes.HT.value' data-otf='HT'>
      {{data.attributes.HT.value}}
    </div>
    <div class='label'>{{localize 'GURPS.attributesHTNAME'}} ({{localize 'GURPS.attributesHT'}})</div>
    <hr />
    <div class='points'>[{{data.attributes.WILL.points}}]</div>
    <div class='field rollable' data-path='attributes.WILL.value' data-otf='WILL'>
      {{data.attributes.WILL.value}}
    </div>
    <div class='label'>{{localize 'GURPS.attributesWILLNAME'}}</div>
    <div class='points'></div>
    <div class='field noedit rollable' data-path='frightcheck' data-otf='Fright Check'>
      {{data.frightcheck}}
    </div>
    <div class='label'>{{localize 'GURPS.frightcheck'}}</div>
    <hr />
    <div class='points'>[{{data.basicspeed.points}}]</div>
    <div class='field'>{{data.basicspeed.value}}</div>
    <div class='label'>{{localize 'GURPS.basicspeed'}}</div>
    <div class='points'>[{{data.basicmove.points}}]</div>
    <div class='field'>{{data.basicmove.value}}</div>
    <div class='label'>{{localize 'GURPS.basicmove'}}</div>
    <hr />
    <div class='points'>[{{data.attributes.PER.points}}]</div>
    <div class='field rollable' data-path='attributes.PER.value' data-otf='PER'>
      {{data.attributes.PER.value}}
    </div>
    <div class='label'>{{localize 'GURPS.attributesPERNAME'}} ({{localize 'GURPS.attributesPER'}})</div>
    <div class='points'></div>
    <div class='field noedit rollable' data-path='vision' data-otf='Vision'>{{data.vision}}</div>
    <div class='label'>{{localize 'GURPS.vision'}}</div>
    <div class='points'></div>
    <div class='field noedit rollable' data-path='hearing' data-otf='Hearing'>{{data.hearing}}</div>
    <div class='label'>{{localize 'GURPS.hearing'}}</div>
    <div class='points'></div>
    <div class='field noedit rollable' data-path='tastesmell' data-otf='Taste Smell'>{{data.tastesmell}}
    </div>
    <div class='label'>{{localize 'GURPS.tastesmell'}}</div>
    <div class='points'></div>
    <div class='field noedit rollable' data-path='touch' data-otf='Touch'>{{data.touch}}</div>
    <div class='label'>{{localize 'GURPS.touch'}}</div>
    <hr />
    <div class='points'></div>
    <div class='field noedit rollable' data-damage data-otf='{{data.thrust}} dmg'>{{data.thrust}}</div>
    <div class='label'>{{localize 'GURPS.thrust'}}</div>
    <div class='points'></div>
    <div class='field noedit rollable' data-damage data-otf='{{data.swing}} dmg'>{{data.swing}}</div>
    <div class='label'>{{localize 'GURPS.swing'}}</div>
  </div>
</div>