<div id='basic-attributes'>
  <div class='header'>{{i18n 'GURPS.attributesPrimary'}}</div>
  <div class='fieldblock3'>

    <div class='points'>
      {{#if isEditing}}
        [<input
          name='system.attributes.ST.points'
          class='gcs-input-sm2'
          type='number'
          value='{{system.attributes.ST.points}}'
        />]
      {{else}}
        [{{system.attributes.ST.points}}]
      {{/if}}
    </div>
    {{#if isEditing}}
      <div class='field'>
        <input
          name='system.attributes.ST.import'
          class='gcs-input'
          type='number'
          value='{{system.attributes.ST.import}}'
        />
      </div>
    {{else}}
      <div class='field rollable' data-path='attributes.ST.value' data-otf='ST'>{{system.attributes.ST.value}}</div>
    {{/if}}
    <div class='label'>{{i18n 'GURPS.attributesSTNAME'}} ({{i18n 'GURPS.attributesST'}})</div>

    <div class='points'>
      {{#if isEditing}}
        [<input
          name='system.attributes.DX.points'
          class='gcs-input-sm2'
          type='number'
          value='{{system.attributes.DX.points}}'
        />]
      {{else}}
        [{{system.attributes.DX.points}}]
      {{/if}}
    </div>
    {{#if isEditing}}
      <div class='field'>
        <input
          name='system.attributes.DX.import'
          class='gcs-input'
          type='number'
          value='{{system.attributes.DX.import}}'
        />
      </div>
    {{else}}
      <div class='field rollable' data-path='attributes.DX.value' data-otf='DX'>{{system.attributes.DX.value}}</div>
    {{/if}}
    <div class='label'>{{i18n 'GURPS.attributesDXNAME'}} ({{i18n 'GURPS.attributesDX'}})</div>

    <div class='points'>
      {{#if isEditing}}
        [<input
          name='system.attributes.IQ.points'
          class='gcs-input-sm2'
          type='number'
          value='{{system.attributes.IQ.points}}'
        />]
      {{else}}
        [{{system.attributes.IQ.points}}]
      {{/if}}
    </div>
    {{#if isEditing}}
      <div class='field'>
        <input
          name='system.attributes.IQ.import'
          class='gcs-input'
          type='number'
          value='{{system.attributes.IQ.import}}'
        />
      </div>
    {{else}}
      <div class='field rollable' data-path='attributes.IQ.value' data-otf='IQ'>{{system.attributes.IQ.value}}</div>
    {{/if}}
    <div class='label'>{{i18n 'GURPS.attributesIQNAME'}} ({{i18n 'GURPS.attributesIQ'}})</div>

    <div class='points'>
      {{#if isEditing}}
        [<input
          name='system.attributes.HT.points'
          class='gcs-input-sm2'
          type='number'
          value='{{system.attributes.HT.points}}'
        />]
      {{else}}
        [{{system.attributes.HT.points}}]
      {{/if}}
    </div>
    {{#if isEditing}}
      <div class='field'>
        <input
          name='system.attributes.HT.import'
          class='gcs-input'
          type='text'
          value='{{system.attributes.HT.import}}'
        />
      </div>
    {{else}}
      <div class='field rollable' data-path='attributes.HT.value' data-otf='HT'>{{system.attributes.HT.value}}</div>
    {{/if}}
    <div class='label'>{{i18n 'GURPS.attributesHTNAME'}} ({{i18n 'GURPS.attributesHT'}})</div>
    {{#if useQN}}
      <div class='points'>
        {{#if isEditing}}
          [<input
            name='system.attributes.QN.points'
            class='gcs-input-sm2'
            type='number'
            value='{{system.attributes.QN.points}}'
          />]
        {{else}}
          [{{system.attributes.QN.points}}]
        {{/if}}
      </div>
      {{#if isEditing}}
        <div class='field'>
          <input
            name='system.attributes.QN.import'
            class='gcs-input'
            type='text'
            value='{{system.attributes.QN.import}}'
          />
        </div>
      {{else}}
        <div class='field rollable' data-path='attributes.QN.value' data-otf='QN'>{{system.attributes.QN.value}}</div>
      {{/if}}
      <div class='label'>{{i18n 'GURPS.attributesQNNAME'}} ({{i18n 'GURPS.attributesQN'}})</div>
    {{/if}}
    <hr />

    <div class='points'></div>
    {{#if isEditing}}
      <div class='field'>
        <input name='system.thrust' class='gcs-input' type='text' value='{{system.thrust}}' />
      </div>
    {{else}}
      <div
        class='field noedit {{rollable (not isEditing)}}'
        data-damage
        data-otf='{{system.thrust}} dmg'
      >{{system.thrust}}
      </div>
    {{/if}}
    <div class='label'>{{i18n 'GURPS.thrust'}}</div>

    <div class='points'></div>
    {{#if isEditing}}
      <div class='field'>
        <input name='system.swing' class='gcs-input' type='text' value='{{system.swing}}' />
      </div>
    {{else}}
      <div
        class='field noedit {{rollable (not isEditing)}}'
        data-damage
        data-otf='{{system.swing}} dmg'
      >{{system.swing}}
      </div>
    {{/if}}
    <div class='label'>{{i18n 'GURPS.swing'}}</div>

    <div class='points'>
      {{#if isEditing}}
        [<input
          name='system.basicspeed.points'
          class='gcs-input-sm2'
          type='number'
          value='{{system.basicspeed.points}}'
        />]
      {{else}}
        [{{system.basicspeed.points}}]
      {{/if}}
    </div>
    {{#if isEditing}}
      <div class='field'>
        <input name='system.basicspeed.value' class='gcs-input' type='number' value='{{system.basicspeed.value}}' />
      </div>
    {{else}}
      <div class='field'>{{system.basicspeed.value}}</div>
    {{/if}}
    <div class='label'>{{i18n 'GURPS.basicspeed'}}</div>

    <div class='points'>
      {{#if isEditing}}
        [<input
          name='system.basicmove.points'
          class='gcs-input-sm2'
          type='number'
          value='{{system.basicmove.points}}'
        />]
      {{else}}
        [{{system.basicmove.points}}]
      {{/if}}
    </div>
    {{#if isEditing}}
      <div class='field'>
        <input name='system.basicmove.value' class='gcs-input' type='number' value='{{system.basicmove.value}}' />
      </div>
    {{else}}
      <div class='field'>{{system.basicmove.value}}</div>
    {{/if}}
    <div class='label'>{{i18n 'GURPS.basicmove'}}</div>
  </div>
</div>