<div id='combat-info' class='gga-table' style='grid-column: span 2'>
  <div class='header'>{{localize 'GURPS.combatInfo'}}</div>
  <div class='field-block'>
    <div class='label-field-pair'>
      <div class='label'>{{localize 'GURPS.conditionsCombatMove'}}:</div>
      <div class='field' name='system.conditions.combatmove'><span>{{system.conditions.move}}</span></div>
    </div>

    <div class='label-field-pair'>
      <div class='label'>{{localize 'GURPS.maxActionsPerTurn'}}:</div>
      <div class='field' name='system.conditions.actions.maxActions'><span
        >{{system.conditions.actions.maxActions}}</span></div>
    </div>

    <div class='label-field-pair'>
      <div class='label'>{{localize 'GURPS.maxBlocksPerTurn'}}:</div>
      <div class='field' name='system.conditions.actions.maxBlocks'><span
        >{{system.conditions.actions.maxBlocks}}</span></div>
    </div>
  </div>
</div>