<div id='condition'>
  <div class='header'>{{i18n 'GURPS.conditions'}}</div>
  <div class='fieldblock'>
    <div class='label'>{{i18n 'GURPS.maneuver'}}:</div>
    <div class='field' style='padding-top: 3px; border: none;'>
      <select id='maneuver' name='data.conditions.maneuver' style='font-size: 90%;' {{disabled isEditing}}>
        <option value='undefined' {{select-if ../data.conditions.maneuver 'undefined'}}>
          {{i18n "GURPS.none"}}
        </option>
        {{#each (listAllManeuvers) as |this key|}}
          <option value='{{key}}' {{select-if ../data.conditions.maneuver key}}>
            {{i18n this.label}}
          </option>
        {{/each}}
      </select>
    </div>
    <div class='label'>{{i18n 'GURPS.combatMove' 'Combat Move'}}:</div>
    <div class='field' name='data.conditions.combatmove'>{{data.conditions.move}}</div>
  </div>
</div>