<div id='description'>
  <div class='header'>{{localize 'GURPS.description'}}</div>
  <div class='fieldblock'>
    <div class='label'>{{localize 'GURPS.descriptionGender'}}:</div>
    <div class='field'>{{data.traits.gender}}</div>
    <div class='label'>{{localize 'GURPS.descriptionAge'}}:</div>
    <div class='field'>{{data.traits.age}}</div>
    <div class='label'>{{localize 'GURPS.descriptionBirthday'}}:</div>
    <div class='field'>{{data.traits.birthday}}</div>
    <div class='label'>{{localize 'GURPS.descriptionReligion'}}:</div>
    <div class='field'>{{data.traits.religion}}</div>
    <div class='label'>&nbsp;</div>
    <div class='field'></div>
  </div>
  <div class='fieldblock'>
    <div class='label'>{{localize 'GURPS.descriptionHeight'}}:</div>
    <div class='field'>{{data.traits.height}}</div>
    <div class='label'>{{localize 'GURPS.weight'}}:</div>
    <div class='field'>{{data.traits.weight}}</div>
    <div class='label'>{{localize 'GURPS.descriptionSizeModifier'}}:</div>
    <div class='field'>{{data.traits.sizemod}}</div>
    <div class='label'>{{localize 'GURPS.descriptionTechLevel'}}:</div>
    <div class='field'>{{data.traits.techlevel}}</div>
    <div class='label'>{{localize 'GURPS.descriptionBodyPlan'}}:</div>
    <div class='field'>{{localize (concat 'GURPS.BODYPLAN' data.additionalresources.bodyplan)}}</div>
  </div>
  <div class='fieldblock'>
    {{#if data.traits.eyes}}
      <div class='label'>{{localize 'GURPS.descriptionHair'}}:</div>
      <div class='field'>{{data.traits.hair}}</div>
      <div class='label'>{{localize 'GURPS.descriptionEyes'}}:</div>
      <div class='field'>{{data.traits.eyes}}</div>
      <div class='label'>{{localize 'GURPS.descriptionSkin'}}:</div>
      <div class='field'>{{data.traits.skin}}</div>
      <div class='label'>{{localize 'GURPS.descriptionHand'}}:</div>
      <div class='field'>{{data.traits.hand}}</div>
    {{else}}
      <div class='label textarea'>{{localize 'GURPS.descriptionAppearance'}}:</div>
      <div class='label'></div>

      <div class='field' style='border: none; grid-column: 1 / span 2;'>
        <textarea readonly rows='4'>{{data.traits.appearance}}</textarea>
      </div>
    {{/if}}
  </div>
</div>