<div style='text-align: left !important; font-size: 0.85em;'>
  <ul>
    <li>{{localize 'GURPS.baseDR'}}: {{drBase}}</li>
    <li>{{localize 'GURPS.fromItems'}}: {{drItem}}</li>
    <li>{{localize 'GURPS.fromModifiers'}}: {{drMod}}</li>
  </ul>
  {{#if drItemLines}}
    <p>{{localize 'GURPS.items'}}:</p>
    <ul>
      {{#each drItemLines as |line|}}
        <li>{{line}}</li>
      {{/each}}
    </ul>
  {{/if}}
</div>