<div id='encumbrance' class='gga-tableheader'>
  <div class='header encHeader'>
    {{#if isEditing}}
      <div class='enchead'>
        <span>{{i18n 'GURPS.encumbranceMoveDodge'}}</span>
      </div>
      <div class='option'>
        <input id='showflightmove' type='checkbox' {{checked system.additionalresources.showflightmove}} />
        <label for='showflightmove'>{{i18n "GURPS.showFlightMove"}}</label>
      </div>
    {{else}}
      <div>
        {{i18n 'GURPS.encumbranceMoveDodge'}}
      </div>
    {{/if}}
    <div style="margin-left: 5px">
      {{#if (automaticEncumbrance)}}
        <i class="fa fa-lock" title="{{localize 'GURPS.autoEncumbrance'}}: ON"></i>
      {{else}}
        <i class="fa fa-unlock" style="color: coral" title="{{localize 'GURPS.autoEncumbrance'}}: OFF"></i>
      {{/if}}
    </div>
  </div>

  <div class='encmarker header'></div>
  <div class='enc header'>{{i18n 'GURPS.level'}}</div>
  <div class='load header'>{{i18n 'GURPS.maxload'}}</div>
  <div class='move header'>{{i18n 'GURPS.move'}}</div>
  <div class='dodge header'>{{i18n 'GURPS.dodge'}}</div>

  {{#each system.encumbrance}}
    <div class='encmarker {{include-if current 'current'}}'></div>
    <div class='enc {{include-if current 'current'}} {{key}} {{include-if (not (automaticEncumbrance)) 'clickable'}}' data-key='{{@key}}'>
      {{{localizeKey (concat 'GURPS.encumbranceLevel-' @key)}}}
    </div>
    <div class='load gga-right {{include-if current 'current'}}'>
      {{#if ../isEditing}}
        <input name='system.encumbrance.{{@key}}.weight' class='gcs-input' type='text' value='{{weight}}' />
      {{else}}
        {{displayDecimal weight number=1 removeZeros=true }}
      {{/if}}
    </div>
    <div class='move flex-center {{include-if current 'current'}}'>
      {{#if ../isEditing}}
        <input name='system.encumbrance.{{@key}}.move' class='gcs-input' type='text' value='{{move}}' />
      {{else}}
        {{currentmovedisplay}}
      {{/if}}
    </div>
    {{#if ../isEditing}}
      <div class='dodge flex-center {{include-if current 'current'}}'>
        <input name='system.encumbrance.{{@key}}.dodge' class='gcs-input' type='text' value='{{dodge}}' />
      </div>
    {{else}}
      <div class='dodge flex-center {{include-if current 'current'}}' data-path='dodge'>
        <span class="flex-center {{include-if current 'rollable'}}" {{#if current}}data-otf='Dodge'{{/if}}>{{currentdodge}}</span>
        {{#if ../system.defenses.dodge.bonus}}
          <span class="flex-center bonus {{include-if current 'rollable'}}"
           {{#if current}}data-otf='Dodge {{{displayNumber ../system.defenses.dodge.bonus}}} DB'{{/if}}>
           {{{displayNumber ../system.defenses.dodge.bonus}}}</span>
        {{/if}}
      </div>
    {{/if}}
  {{/each}}
</div>