<div id='combat-fat' class='tracked-resource' data-gurps-resource='{{name}}'>
  <div class='header'>{{i18n label}}</div>
  <div class='fieldblock3'>
    <div class='points'></div>
    <div class='field'><input
        class='gcs-input'
        name='system.{{name}}.value'
        type='text'
        value='{{resource.value}}'
        data-dtype='Number'
      /></div>
    <div class='label'>{{i18n 'GURPS.current'}}</div>

    <div class='points'>
      [<input name='system.{{name}}.points' class='gcs-input-sm2' type='text' value='{{resource.points}}' />]
    </div>

    <div class='field'>
      <input class='gcs-input' name='system.{{name}}.max' type='text' value='{{resource.max}}' data-dtype='Number' />
    </div>
    <div class='label'>{{i18n 'GURPS.basic'}}</div>
  </div>
  <div class='tooltip-wrapper gentle-flex'>
    <div class='tooltip'>{{i18n 'GURPS.thresholds'}}
      <span class='tooltiptext'>
        <div class='fieldblock'>
          {{#if (eq name 'FP')}}
            {{#fpBreakpoints system.FP}}
              <div class='field condensed noedit'>{{breakpoint}}</div>
              <div class='label {{style}}'>{{label}}</div>
            {{/fpBreakpoints}}
          {{else}}
            {{#hpBreakpoints system.HP}}
              <div class='field condensed noedit'>{{breakpoint}}</div>
              <div class='label {{style}}'>{{label}}</div>
            {{/hpBreakpoints}}
          {{/if}}
        </div>
      </span>
    </div>
  </div>
</div>