<div id='identity'>
  <div class='header'>{{localize 'GURPS.identity'}}</div>
  <div class='fieldblock'>
    <div class='label'>{{localize 'GURPS.identityName'}}:</div>
    <div class='field'>{{{actor.name}}}</div>
    <div class='label'>{{localize 'GURPS.identityTitle'}}:</div>
    <div class='field'>{{data.traits.title}}</div>
    <div class='label'>{{localize 'GURPS.identityPlayer'}}:</div>
    <div class='field'>{{data.traits.player}}</div>
  </div>
</div>