<div id='identity'>
  <div class='header'>{{i18n 'gurps.sheet.personal.identity'}}</div>
  <div class='fieldblock'>
    <div class='label'>{{i18n 'gurps.sheet.personal.name'}}:</div>
    <div class='field'><input
        name='name'
        class='gcs-input'
        type='text'
        value='{{actor.name}}'
        {{disabled (not isEditing)}}
      /></div>
    <div class='label'>{{i18n 'gurps.sheet.personal.title'}}:</div>
    <div class='field'><input
        name='system.traits.title'
        class='gcs-input'
        type='text'
        value='{{system.traits.title}}'
        {{disabled (not isEditing)}}
      /></div>
    <div class='label'>{{i18n 'gurps.sheet.personal.player'}}:</div>
    <div class='field'><input
        name='system.traits.player'
        class='gcs-input'
        type='text'
        value='{{system.traits.player}}'
        {{disabled (not isEditing)}}
      /></div>
  </div>
</div>