<div id='location'>
  {{#if isEditing}}
    <div class='header hlhead'>{{localize 'GURPS.hitLocation'}}
      &nbsp;
      <i class='fas fa-caret-square-down' style='color: white;'></i>
      <div>
        <input
          id='ignoreinputbodyplan'
          type='checkbox'
          {{checked data.additionalresources.ignoreinputbodyplan}}
          style='zoom:0.5'
        />{{i18n 'GURPS.ignoreBodyPlan' 'Ignore Imported Body Plan'}}
      </div>
    </div>
  {{else}}
    <div class='header'>{{localize 'GURPS.hitLocation'}}</div>
  {{/if}}

  <div class='itemmenu header' style='padding: 0;'></div>
  <div class='roll header'>{{localize 'GURPS.roll'}}</div>
  <div class='where header'>{{localize 'GURPS.hitLocationWhere'}}</div>
  <div class='penalty header'>{{localize 'GURPS.hitLocationPenalty'}}</div>
  <div class='dr header'>{{localize 'GURPS.hitLocationDR'}}</div>

  {{#each data.hitlocations as |this key|}}
    {{#if ../isEditing}}
      <div class='itemmenu hlmenu' style='padding: 0 0.05in;' data-key='data.hitlocations.{{@key}}'><i
          class='fas fa-times'
        ></i></div>
    {{else}}
      <div class='itemmenu' style='padding: 0;'></div>
    {{/if}}
    <div class='roll'>
      {{#if ../isEditing}}
        <input
          name='data.hitlocations.{{@key}}.roll'
          class='gcs-input-4'
          type='text'
          value='{{hitlocationroll this.where this.roll parent}}'
        />
      {{else}}
        {{hitlocationroll this.where this.roll parent}}
      {{/if}}
    </div>
    <div class='where {{gurpstippable}}' data-tooltip='Eqt on {{this.where}}: {{this.equipment}}'>
      {{#if ../isEditing}}
        <input name='data.hitlocations.{{@key}}.where' class='gcs-input-5' type='text' value='{{this.where}}' />
      {{else}}
        {{i18n (concat 'GURPS.hitLocation' this.where) this.where}}
      {{/if}}
    </div>
    {{#if ../isEditing}}
      <div class='penalty'>
        <input
          name='data.hitlocations.{{@key}}.penalty'
          class='gcs-input'
          type='text'
          value='{{hitlocationpenalty this.where this.penalty parent}}'
        />
      </div>
    {{else}}
      <div class='penalty {{#if (ne this.penalty '0')}}gmod{{/if}}' data-name='to hit {{this.where}}' data-otf='{{this.penalty}} to hit {{this.where}}'>
        {{hitlocationpenalty this.where this.penalty parent}}
      </div>
    {{/if}}
    <div class='dr'>
      {{#if ../isEditing}}
        <input class='gcs-input' type='text' name='data.hitlocations.{{@key}}.import' value='{{this.import}}' />
      {{else}}
        {{this.dr}}
      {{/if}}
    </div>
  {{/each}}
</div>