<div id='melee' class='gga-table'>
  <div class='itemmenu header' readonly></div>
  <div class='desc header'>
    <div class='meleehead'>
      <span>{{i18n 'GURPS.meleeWeapons'}}</span>
      {{#if isEditing}}
        <i class='fas fa-caret-square-down'></i>
      {{/if}}
    </div>
  </div>
  <div class='usage header'>{{i18n 'GURPS.usage'}}</div>
  <div class='level header'>{{i18n 'GURPS.level'}}</div>
  <div class='parry header'>{{i18n 'GURPS.parry'}}</div>
  <div class='block header'>{{i18n 'GURPS.block'}}</div>
  <div class='damage header'>{{i18n 'GURPS.damage'}}</div>
  <div class='reach header'>{{i18n 'GURPS.reach'}}</div>
  <div class='st header'>{{i18n 'GURPS.attributesST'}}</div>

  {{#unless isEditing}}
    {{#listattack data 'melee'}}
      <div class='itemmenu' readonly></div>
      <div
        class='desc gcs-edit dblclkedit meleedraggable tooltip-manager'
        data-key='data.melee.{{@key}}'
        data-path='data.melee'
      >
        {{{gurpslink this.name}}}
        {{#if (isFoundryItem this)}}&nbsp;<i
            class='far fas fa-star'
            style='float: right; color: olivedrab; font-weight: 900; padding-top: 3px;'
          ></i>{{/if}}
        {{#if (displayItemHover this)}}
          <div class='tooltippic'><img src='{{this.img}}' /></div>
        {{/if}}
        <div class='list_note'>{{{gurpslink this.notes}}}</div>
      </div>

      <div class='usage flex-center'>{{this.mode}}</div>
      <div
        class='level rollable flex-center'
        data-name='{{this.name}} ({{this.mode}})'
        data-key='data.melee.{{@key}}'
        data-otf='A:"{{this.name}} ({{this.mode}})"'
      >{{this.level}}</div>
      <div class='parry rollable flex-center' data-otf='Parry'>{{this.parry}}</div>
      <div class='block rollable flex-center' data-otf='Block'>{{this.block}}</div>
      <div class='damage rollable flex-center' data-damage data-otf='{{this.damage}}'>{{this.damage}}</div>
      <div class='reach flex-center'>{{this.reach}}</div>
      <div class='st flex-center'>{{this.st}}</div>
    {{/listattack}}
  {{else}}
    {{#each data.melee as |this key|}}
      <div class='itemmenu meleemenu' data-key='data.melee.{{@key}}'>
        <i class='fas fa-times'></i>
      </div>
      <div class='desc' data-key='data.melee.{{key}}'>
        <input name='data.melee.{{key}}.name' class='gcs-input-25' type='text' value='{{this.name}}' />
        <div class='list_note'>
          <input name='data.melee.{{key}}.notes' class='gcs-input-25' type='text' value='{{this.notes}}' />
        </div>
      </div>
      <div class='usage' data-key='data.melee.{{key}}'>
        <input name='data.melee.{{key}}.mode' class='gcs-input' type='text' value='{{this.mode}}' /></div>
      <div class='level' data-key='data.melee.{{key}}'>
        <input name='data.melee.{{key}}.import' class='gcs-input-sm2' type='text' value='{{this.import}}' /></div>
      <div class='parry' data-key='data.melee.{{key}}'>
        <input name='data.melee.{{key}}.parry' class='gcs-input-sm4' type='text' value='{{this.parry}}' /></div>
      <div class='block' data-key='data.melee.{{key}}'>
        <input name='data.melee.{{key}}.block' class='gcs-input-sm4' type='text' value='{{this.block}}' /></div>
      <div class='damage' data-key='data.melee.{{key}}'>
        <input name='data.melee.{{key}}.damage' class='gcs-input' type='text' value='{{this.damage}}' /></div>
      <div class='reach' data-key='data.melee.{{key}}'>
        <input name='data.melee.{{key}}.reach' class='gcs-input-sm3' type='text' value='{{this.reach}}' /></div>
      <div class='st' data-key='data.melee.{{key}}'>
        <input name='data.melee.{{key}}.st' class='gcs-input-sm2' type='text' value='{{this.st}}' /></div>
    {{/each}}
  {{/unless}}
</div>