<div id='miscellaneous'>
  <div class='header'>{{i18n 'gurps.sheet.personal.miscellaneous'}}</div>
  <div class='fieldblock'>
    <div class='label'>{{i18n 'gurps.sheet.personal.created'}}:</div>
    <div class='field'>
      <input
        name='system.traits.createdon'
        class='gcs-input'
        type='text'
        value='{{system.traits.createdon}}'
        {{disabled (not isEditing)}}
      />
    </div>
    <div class='label'>{{i18n 'gurps.sheet.personal.modified'}}:</div>
    <div class='field'><input
        name='system.traits.modifiedon'
        class='gcs-input'
        type='text'
        value='{{system.traits.modifiedon}}'
        {{disabled (not isEditing)}}
      /></div>
    <div class='label'>{{i18n 'gurps.sheet.personal.options'}}:</div>
    <div class='field'><input
        name='system.traits.options'
        class='gcs-input'
        type='text'
        value='{{system.traits.options}}'
        {{disabled (not isEditing)}}
      /></div>
  </div>
</div>