<div id='notes' class='gga-table'>
  <div class='desc header' data-key='data.notes'>
    <span>{{i18n 'GURPS.notes'}}</span>
    <i class='fas fa-plus addnoteicon'></i>
  </div>
  <div class='ref header'>{{i18n 'GURPS.abbrevRef' 'Ref'}}</div>
  {{#listeqt data.notes}}
    <div class='desc indent{{@indent}} dblclkedit notesmenu notedraggable {{#if (isUserCreated this)}}user-created{{/if}}' data-key='data.notes.{{@key}}'>
      {{#if (notEmpty this.contains)}}<i class='fas fa-caret-down expandcollapseicon'></i>{{/if}}
      {{#if (notEmpty this.collapsed)}}<i class='fas fa-caret-right expandcollapseicon'></i>{{/if}}
      {{#if this.notes}}{{{gurpslinkbr this.notes}}}{{else}}this note was intentionally left blank ;-){{/if}}
    </div>
    <div class='ref'>{{{pdflink this.pageref}}}</div>
  {{/listeqt}}
</div>