<div id='notes' class='gga-table'>
  <div class='desc header' data-key='data.notes'>
    <span>{{i18n 'GURPS.notes'}}</span>
    <i class='fas fa-plus addnoteicon'></i>
  </div>
  <div class='ref header'>{{i18n 'GURPS.abbrevRef' 'Ref'}}</div>

  {{#each (flatlist (lookup data.equipment container)) }}
    {{#if ../isEditing}}
      <div class="desc indent{{indent}} notemenu" data-key="data.notes.{{@key}}">
        <textarea name="data.notes.{{@key}}.notes" class="gcs-input-ta" type="text" style="height:120px !important">{{this.notes}}</textarea>
      </div>
      <div class="ref" data-key="data.notes.{{@key}}">
        <input name="data.notes.{{@key}}.pageref" class="gcs-input-sm5" type="text" value="{{this.pageref}}" />
      </div>    
    {{else}}
      {{#unless isCollapsed}}
        <div class='desc indent{{indent}} dblclkedit notesmenu notedraggable {{#if (isUserCreated this)}}user-created{{/if}}' data-key='data.notes.{{@key}}'>
          <div class='gga-desc-text' style='display: flex; flex-flow: row nowrap; width: 100%;'>
            <div>
              {{#if hasContains}}<i class='fas fa-caret-down expandcollapseicon'></i>{{/if}}
              {{#if hasCollapsed}}<i class='fas fa-caret-right expandcollapseicon'></i>{{/if}}
            </div>
            <div style='width: 100%;'>
              {{#if this.notes}}
                {{{gurpslinkbr this.notes}}}
              {{else}}
                {{i18n 'GURPS.noteBlank' 'This note was intentionally left blank.'}}<i class="far fa-laugh-wink"></i>
              {{/if}}
            </div>
          </div>
        </div>
        <div class='ref'>{{{pdflink this.pageref}}}</div>
      {{/unless}}
    {{/if}}
  {{/each}}
</div>