    <div id="other_equipment" class="equipmentlist">
      <div class="qty header eqtdragtarget" data-key="data.equipment.other">
        {{i18n "GURPS.equipmentQuantity"}}
      </div>
      <div class="desc header eqtdragtarget dblclksort" data-key="data.equipment.other">
        <span>
          {{localize "GURPS.otherEquipment"}} (${{toLocaleString eqtsummary.othercost}}) &nbsp;
          <i class='fas fa-plus addequipmenticon'></i>
        </span>
      </div>
      <div class="uses header">{{i18n "GURPS.equipmentUses"}}</div>
      <div class="cost header">$</div>
      <div class="weight header"><i class="fas fa-weight-hanging"></i></div>
      <div class="sum_cost header">&sum; $</div>
      <div class="sum_weight header"><span>&sum; <i class="fas fa-weight-hanging"></i></span></div>
      <div class="ref header">{{i18n "GURPS.pdfRef"}}</div>
      <div></div>

      {{#listeqt data.equipment.other }}
        <div class="qty satisfiedY eqtdraggable equipmenuother" data-key="data.equipment.other.{{@key}}">
          <button class="equipmentbutton bold" data-operation='equipment-dec'>-</i></button>
          &nbsp; {{this.count}} &nbsp;
          <button class="equipmentbutton" data-operation='equipment-inc'>+</i></button>
        </div>
        <div class="desc indent{{@indent}} satisfiedY dblclkedit eqtdraggable equipmenuother tooltip-manager"
          data-key="data.equipment.other.{{@key}}">
          <span class="eqtdragtarget" data-key="data.equipment.other.{{@key}}">
            {{#if (notEmpty this.contains)}}<i class='fas fa-caret-down expandcollapseicon'></i>{{/if}}
            {{#if (notEmpty this.collapsed)}}<i class='fas fa-caret-right expandcollapseicon'></i>{{/if}}
            {{{gurpslink this.name}}}{{#if (isUserCreated this)}} &nbsp;<i class="far fa-bookmark"
                style="float: right; color: steelblue; font-weight: 900; padding-top: 3px;"></i>{{/if}}
            {{#if (isFoundryItem this)}}&nbsp;<i class="far fas fa-star"
                style="float: right; color: olivedrab; font-weight: 900; padding-top: 3px;"></i>{{/if}}
            {{#if (ignoreImportQty this)}}&nbsp;
              <i class="far fa-file" style="float: right; color: steelblue; font-weight: 900; padding-top: 3px;"></i>
            {{/if}}
          </span>
          {{#if (displayItemHover this)}}
            <div class="tooltippic"><img src="{{this.img}}" /></div>
          {{/if}}
          <div class="list_note satisfiedY eqtdraggable" data-key="data.equipment.other.{{@key}}">
            {{{gurpslink this.notes}}}
          </div>
        </div>
        <div class="uses satisfiedY equipmenuother" data-key="data.equipment.other.{{@key}}">{{#if (or (ne this.maxuses "0")
        (ne this.uses "0"))}}{{this.uses}}{{/if}}</div>
        <div class="cost satisfiedY equipmenuother" data-key="data.equipment.other.{{@key}}">{{this.cost}}          
        </div>
        <div class="weight satisfiedY equipmenuother" data-key="data.equipment.other.{{@key}}">
          {{this.weight}} lb
        </div>
        <div class="sum_cost satisfiedY equipmenuother" data-key="data.equipment.other.{{@key}}">
          {{round this.costsum}}
        </div>
        <div class="sum_weight satisfiedY equipmenuother" data-key="data.equipment.other.{{@key}}">
          {{round this.weightsum}}
          lb
        </div>
        <div class="ref satisfiedY equipmenuother" data-key="data.equipment.other.{{@key}}">{{{pdflinkext this.pageref
        this.externallink}}}</div>
        <div></div>
      {{/listeqt}}
    </div>
