<div id='points'>
  <div class='header'>{{data.totalpoints.total}} {{localize 'GURPS.points'}}</div>
  <div class='fieldblock'>
    <div class='field'>{{data.totalpoints.unspent}}</div>
    <div class='label'>{{localize 'GURPS.points'}}</div>
    <div class='field noedit'></div>
    <div class='label'>{{localize 'GURPS.pointsRace'}}</div>
    <div class='field noedit'>{{data.totalpoints.attributes}}</div>
    <div class='label'>{{localize 'GURPS.pointsAttributes'}}</div>
    <div class='field noedit'>{{data.totalpoints.ads}}</div>
    <div class='label'>{{localize 'GURPS.pointsAdvantages'}}</div>
    <div class='field noedit'>{{data.totalpoints.disads}}</div>
    <div class='label'>{{localize 'GURPS.pointsDisadvantages'}}</div>
    <div class='field noedit'>{{data.totalpoints.quirks}}</div>
    <div class='label'>{{localize 'GURPS.pointsQuirks'}}</div>
    <div class='field noedit'>{{data.totalpoints.skills}}</div>
    <div class='label'>{{localize 'GURPS.pointsSkills'}}</div>
    <div class='field noedit'>{{data.totalpoints.spells}}</div>
    <div class='label'>{{localize 'GURPS.pointsSpells'}}</div>
  </div>
</div>