<div id='secondary-attributes'>
  <div class='header'>{{i18n 'GURPS.attributesSecondary'}}</div>
  <div class='fieldblock3'>

    <div class='points'>
      {{#if isEditing}}
        [<input
          name='system.attributes.WILL.points'
          class='gcs-input-sm2'
          type='number'
          value='{{system.attributes.WILL.points}}'
        />]
      {{else}}
        [{{system.attributes.WILL.points}}]
      {{/if}}
    </div>
    {{#if isEditing}}
      <div class='field'>
        <input
          name='system.attributes.WILL.import'
          class='gcs-input'
          type='number'
          value='{{system.attributes.WILL.import}}'
        />
      </div>
    {{else}}
      <div class='field rollable' data-path='attributes.WILL.value' data-otf='WILL'>
        {{system.attributes.WILL.value}}
      </div>
    {{/if}}
    <div class='label'>{{i18n 'GURPS.attributesWILLNAME'}}</div>

    <div class='points'></div>
    <div class='field noedit {{rollable (not isEditing)}}' data-path='frightcheck' data-otf='Fright Check'>
      {{system.frightcheck}}
    </div>
    <div class='label'>{{i18n 'GURPS.frightcheck'}}</div>

    <hr />
    <div class='points'>
      {{#if isEditing}}
        [<input
          name='system.attributes.PER.points'
          class='gcs-input-sm2'
          type='number'
          value='{{system.attributes.PER.points}}'
        />]
      {{else}}
        [{{system.attributes.PER.points}}]
      {{/if}}
    </div>
    {{#if isEditing}}
      <div class='field'>
        <input
          name='system.attributes.PER.import'
          class='gcs-input'
          type='number'
          value='{{system.attributes.PER.import}}'
        />
      </div>
    {{else}}
      <div class='field rollable' data-path='attributes.PER.value' data-otf='PER'>
        {{system.attributes.PER.value}}
      </div>
    {{/if}}
    <div class='label'>{{i18n 'GURPS.attributesPERNAME'}} ({{i18n 'GURPS.attributesPER'}})</div>

    <div class='points'></div>
    <div class='field noedit {{rollable (not isEditing)}}' data-path='vision' data-otf='Vision'>{{system.vision}}</div>
    <div class='label'>{{i18n 'GURPS.vision'}}</div>

    <div class='points'></div>
    <div
      class='field noedit {{rollable (not isEditing)}}'
      data-path='hearing'
      data-otf='Hearing'
    >{{system.hearing}}</div>
    <div class='label'>{{i18n 'GURPS.hearing'}}</div>

    <div class='points'></div>
    <div
      class='field noedit {{rollable (not isEditing)}}'
      data-path='tastesmell'
      data-otf='Taste Smell'
    >{{system.tastesmell}}
    </div>
    <div class='label'>{{i18n 'GURPS.tastesmell'}}</div>

    <div class='points'></div>
    <div class='field noedit {{rollable (not isEditing)}}' data-path='touch' data-otf='Touch'>{{system.touch}}</div>
    <div class='label'>{{i18n 'GURPS.touch'}}</div>
  </div>
</div>