<div id='skills'>
  <div class='itemmenu header' style='padding: 0;'></div>
  <div class='desc header'>
    <div class='skillhead'>
      <span>{{i18n 'GURPS.skills'}}</span>
      <i class='fas fa-caret-square-down'></i>
    </div>
  </div>
  <div class='sl header'>{{i18n 'GURPS.sl'}}</div>
  <div class='rsl header'>{{i18n 'GURPS.rsl'}}</div>
  <div class='pts header'>{{i18n 'GURPS.abbrevPts' 'Pts'}}</div>
  <div class='ref header'>{{i18n 'GURPS.abbrevRef' 'Ref'}}</div>

  {{#if isEditing}}
    {{#listeqt data.skills}}
      <div class='itemmenu skillmenu' data-key='data.skills.{{@key}}'>
        <i class='fas fa-times'></i>
      </div>
      <div class='desc indent0 satisfiedY' data-key='data.skills.{{@key}}'>
        <input name='data.skills.{{@key}}.name' class='gcs-input' type='text' value='{{this.name}}' />
        <div class='list_note satisfiedY'>
          <input name='data.skills.{{@key}}.notes' class='gcs-input' type='text' value='{{this.notes}}' />
        </div>
        <div></div>
      </div>
      <div class='sl satisfiedY' data-key='data.skills.{{@key}}'><input
          name='data.skills.{{@key}}.import'
          class='gcs-input-sm3'
          type='text'
          value='{{this.import}}'
        /></div>
      <div class='rsl satisfiedY' data-key='data.skills.{{@key}}'><input
          name='data.skills.{{@key}}.relativelevel'
          class='gcs-input-sm4'
          type='text'
          value='{{this.relativelevel}}'
        />
      </div>
      <div class='pts satisfiedY' data-key='data.skills.{{@key}}'><input
          name='data.skills.{{@key}}.points'
          class='gcs-input-sm3'
          type='text'
          value='{{this.points}}'
        /></div>
      <div class='ref satisfiedY' data-key='data.skills.{{@key}}'><input
          name='data.skills.{{@key}}.pageref'
          class='gcs-input-sm5'
          type='text'
          value='{{this.pageref}}'
        /></div>
    {{/listeqt}}

  {{else}}
    {{#listeqt data.skills}}
      <div class='itemmenu header' style='padding: 0;'></div>
      <div
        class='desc indent{{@indent}} satisfiedY skldraggable dblclkedit tooltip-manager'
        data-key='data.skills.{{@key}}'
      >
        {{#if (notEmpty this.contains)}}<i class='fas fa-caret-down expandcollapseicon'></i>{{/if}}
        {{#if (notEmpty this.collapsed)}}<i class='fas fa-caret-right expandcollapseicon'></i>{{/if}}
        {{{gurpslink this.name}}}
        {{#if (isFoundryItem this)}}&nbsp;<i
            class='far fas fa-star'
            style='float: right; color: olivedrab; font-weight: 900; padding-top: 3px;'
          ></i>{{/if}}
        {{#if (displayItemHover this)}}
          <div class='tooltippic'><img src='{{this.img}}' /></div>
        {{/if}}
        <div class='list_note satisfiedY'></div>
        <div class='list_note satisfiedY skldraggable' data-key='data.ads.{{@key}}'>{{{gurpslink
            this.notes
            @root
          }}}</div>
      </div>
      <div
        class='sl satisfiedY {{rollable this.level}} center'
        data-name='{{this.name}}'
        data-key='data.skills.{{@key}}'
        data-otf='S:"{{this.name}}"'
      >{{this.level}}
      </div>
      <div class='rsl satisfiedY center'>{{this.relativelevel}}</div>
      <div class='pts satisfiedY center'>{{this.points}}</div>
      <div class='ref satisfiedY center'>{{{pdflink this.pageref}}}</div>
    {{/listeqt}}
  {{/if}}
</div>