<div id='skills' style='align-content: start'>
  <div class='desc header dblclksort' data-key='data.skills'>{{localize 'GURPS.skills'}}</div>
  <div class='sl header'>{{localize 'GURPS.sl'}}</div>
  <div class='rsl header'>{{localize 'GURPS.rsl'}}</div>
  <div class='pts header'>Pts</div>
  <div class='ref header'>Ref</div>

  {{#listeqt data.skills}}
    <div
      class='desc indent{{@indent}} satisfiedY skldraggable dblclkedit tooltip-manager'
      data-key='data.skills.{{@key}}'
    >
      {{#if (notEmpty this.contains)}}<i class='fas fa-caret-down expandcollapseicon'></i>{{/if}}
      {{#if (notEmpty this.collapsed)}}<i class='fas fa-caret-right expandcollapseicon'></i>{{/if}}
      {{{gurpslink this.name}}}
      {{#if (isFoundryItem this)}}&nbsp;<i
          class='far fas fa-star'
          style='float: right; color: olivedrab; font-weight: 900; padding-top: 3px;'
        ></i>{{/if}}
      {{#if (displayItemHover this)}}
        <div class='tooltippic'><img src='{{this.img}}' /></div>
      {{/if}}
      <div class='list_note satisfiedY'></div>
      <div class='list_note satisfiedY skldraggable' data-key='data.ads.{{@key}}'>{{{gurpslink this.notes @root}}}</div>
    </div>
    <div
      class='sl satisfiedY {{#if (ne this.level 0)}}rollable{{/if}} center'
      data-name='{{this.name}}'
      data-key='data.skills.{{@key}}'
      data-otf='S:"{{this.name}}"'
    >{{this.level}}
    </div>
    <div class='rsl satisfiedY center'>{{this.relativelevel}}</div>
    <div class='pts satisfiedY center'>{{this.points}}</div>
    <div class='ref satisfiedY center'>{{{pdflink this.pageref}}}</div>
  {{/listeqt}}
</div>
