<div id='speed-range-table'>
  <div class='header'>Speed/Range Table</div>
  <div id='range-table' style='--count: {{ranges.length}}'>
    <div class='label'>Measure (yd)</div>
    {{#each ranges}}
      <div class='label'>{{this.max}}</div>
    {{/each}}
    <div class='label'>Modifier</div>
    {{#each ranges}}
      <div
        class='label {{gmod this}}'
        data-name='{{this.moddesc}}'
        data-otf='{{i18n_f
          "GURPS.rangeModifier"
          (jsonToObject (replace '{ "penalty": "$1", "max": "$2" }' this.penalty this.max))
          "{penalty} for speed/range {max} yards"
        }}'
      >
        {{{displayNumber this.penalty}}}
      </div>
    {{/each}}
  </div>
</div>