<form class="{{cssClass}}" autocomplete="off">
	<div id="sheet" class="gurpsactorsheet">
		<div id="personal">
			{{>actor/static_character/sections/portrait}}
			{{>actor/static_character/sections/identity}}
			{{>actor/static_character/sections/miscellaneous}}
			{{>actor/static_character/sections/description}}
			{{>actor/static_character/sections/points}}
		</div>
		<div id="stats">
			<div id="attributes">
				{{>actor/static_character/sections/primary-attributes}}
				{{>actor/static_character/sections/basic-damage}}
				{{>actor/static_character/sections/secondary-attributes}}
				{{>actor/static_character/sections/pool-attributes}}
			</div>
			<div id="hit-locations">
				<div class="header body-plan">{{system.additionalresources.bodyplan}}</div>
				<div class="header roll">{{localize "gurps.character.body_type.roll"}}</div>
				<div class="header location">{{localize "gurps.character.body_type.location"}}</div>
				<div class="header dr">{{localize "gurps.character.body_type.dr"}}</div>
				{{#each system.hitlocations}}
				{{>actor/static_character/sections/hit-location tab=""}}
				{{/each}}
			</div>
			<div id="encumbrance-lifting">
				{{>actor/static_character/sections/encumbrance}}
				{{>actor/static_character/sections/lifting}}
			</div>
			<div id="resource-trackers">
				{{>actor/static_character/sections/resource-trackers}}
			</div>
			{{!-- <div id="macros"> --}}
				{{!-- {{>actor/character/sections/macros}} --}}
				{{!-- </div> --}}
			<div id="move">
				{{>actor/static_character/sections/move}}
			</div>
		</div>
		<div id="embeds" style="grid-template: {{staticBlockLayout this.system}};">
			{{#if (or (notEmpty system.reactions) (notEmpty system.conditionalmods))}}
			{{#if (notEmpty system.reactions)}}
			<div id="reactions">
				<div class="header modifier">{{localize "gurps.character.reactions.modifier"}}</div>
				<div class="header condition">{{localize "gurps.character.reactions.reaction"}}</div>
				{{#each reactions}}
				{{>actor/character/sections/reaction}}
				{{/each}}
			</div>
			{{/if}}
			{{#if (notEmpty system.conditionalmods)}}
			<div id="conditional-modifiers">
				<div class="header modifier">{{localize "gurps.character.conditional_modifiers.modifier"}}</div>
				<div class="header condition">{{localize "gurps.character.conditional_modifiers.reaction"}}</div>
				{{#each conditionalModifiers}}
				{{>actor/character/sections/conditional-modifier}}
				{{/each}}
			</div>
			{{/if}}
			{{/if}}

			{{#if (notEmpty system.melee)}}
			<div id="melee">
				<div class="header desc">{{localize "gurps.character.melee.desc"}}</div>
				<div class="header usage">{{localize "gurps.character.melee.usage"}}</div>
				<div class="header level">{{localize "gurps.character.melee.level"}}</div>
				<div class="header parry">{{localize "gurps.character.melee.parry"}}</div>
				<div class="header block">{{localize "gurps.character.melee.block"}}</div>
				<div class="header damage">{{localize "gurps.character.melee.damage"}}</div>
				<div class="header reach">{{localize "gurps.character.melee.reach"}}</div>
				<div class="header st">{{localize "gurps.character.melee.st"}}</div>
				{{#each system.melee}}
				{{>actor/static_character/sections/melee-attack}}
				{{/each}}
			</div>
			{{/if}}

			{{#if (notEmpty system.ranged)}}
			<div id="ranged">
				<div class="header desc">{{localize "gurps.character.ranged.desc"}}</div>
				<div class="header usage">{{localize "gurps.character.ranged.usage"}}</div>
				<div class="header level">{{localize "gurps.character.ranged.level"}}</div>
				<div class="header accuracy">{{localize "gurps.character.ranged.accuracy"}}</div>
				<div class="header damage">{{localize "gurps.character.ranged.damage"}}</div>
				<div class="header range">{{localize "gurps.character.ranged.range"}}</div>
				<div class="header rate-of-fire">{{localize "gurps.character.ranged.rate_of_fire"}}</div>
				<div class="header shots">{{localize "gurps.character.ranged.shots"}}</div>
				<div class="header bulk">{{localize "gurps.character.ranged.bulk"}}</div>
				<div class="header recoil">{{localize "gurps.character.ranged.recoil"}}</div>
				<div class="header st">{{localize "gurps.character.ranged.st"}}</div>
				{{#each system.ranged}}
				{{>actor/static_character/sections/ranged-attack}}
				{{/each}}
			</div>
			{{/if}}

			{{#if (notEmpty system.ads)}}
			<div id="traits" class="item-list">
				<div class="header desc">{{localize "gurps.character.traits.desc"}}</div>
				<div class="header points">{{localize "gurps.character.traits.points"}}</div>
				<div class="header reference"><i class="gcs-bookmark"></i></div>
				{{#each (flatlist system.ads)}}
				{{>actor/static_character/sections/trait}}
				{{/each}}
			</div>
			{{/if}}

			{{#if (notEmpty system.skills)}}
			<div id="skills" class="item-list">
				<div class="header desc">{{localize "gurps.character.skills.desc"}}</div>
				<div class="header level">{{localize "gurps.character.skills.level"}}</div>
				<div class="header rsl">{{localize "gurps.character.skills.rsl"}}</div>
				<div class="header points">{{localize "gurps.character.skills.points"}}</div>
				<div class="header reference"><i class="gcs-bookmark"></i></div>
				{{#each (flatlist system.skills)}}
				{{>actor/static_character/sections/skill}}
				{{/each}}
			</div>
			{{/if}}

			{{#if (notEmpty system.spells)}}
			<div id="spells" class="item-list">
				<div class="header desc">{{localize "gurps.character.spells.desc"}}</div>
				<div class="header college">{{localize "gurps.character.spells.college"}}</div>
				<div class="header level">{{localize "gurps.character.spells.level"}}</div>
				<div class="header rsl">{{localize "gurps.character.spells.rsl"}}</div>
				<div class="header points">{{localize "gurps.character.spells.points"}}</div>
				<div class="header reference"><i class="gcs-bookmark"></i></div>
				{{#each (flatlist system.spells)}}
				{{>actor/static_character/sections/spell}}
				{{/each}}
			</div>
			{{/if}}

			{{#if (notEmpty system.equipment.carried)}}
			<div id="equipment" class="item-list">
				<div class="header equipped"><i class="gcs-checkmark"></i></div>
				<div class="header quantity">{{localize "gurps.character.equipment.quantity"}}</div>
				<div class="header desc">{{localize "gurps.character.equipment.desc" weight=actor.fastWeightCarried
					value=actor.fastWealthCarried}}</div>
				<div class="header uses">{{localize "gurps.character.equipment.uses"}}</div>
				<div class="header tech-level">{{localize "gurps.character.equipment.tech_level"}}</div>
				<div class="header legality-class">{{localize "gurps.character.equipment.legality_class"}}</div>
				<div class="header value"><i class="gcs-coins"></i></div>
				<div class="header weight"><i class="gcs-weight"></i></div>
				<div class="header extended-value"><i class="gcs-stack"></i><i class="gcs-coins"></i></div>
				<div class="header extended-weight"><i class="gcs-stack"></i><i class="gcs-weight"></i></div>
				<div class="header reference"><i class="gcs-bookmark"></i></div>
				{{#each (flatlist system.equipment.carried)}}
				{{>actor/static_character/sections/equipment}}
				{{/each}}
			</div>
			{{/if}}

			{{#if (notEmpty system.equipment.other)}}
			<div id="other-equipment" class="item-list">
				<div class="header quantity">{{localize "gurps.character.other_equipment.quantity"}}</div>
				<div class="header desc">{{localize "gurps.character.other_equipment.desc" value=other_value}}</div>
				<div class="header uses">{{localize "gurps.character.other_equipment.uses"}}</div>
				<div class="header tech-level">{{localize "gurps.character.other_equipment.tech_level"}}</div>
				<div class="header legality-class">{{localize "gurps.character.other_equipment.legality_class"}}</div>
				<div class="header value"><i class="gcs-coins"></i></div>
				<div class="header weight"><i class="gcs-weight"></i></div>
				<div class="header extended-value"><i class="gcs-stack"></i><i class="gcs-coins"></i></div>
				<div class="header extended-weight"><i class="gcs-stack"></i><i class="gcs-weight"></i></div>
				<div class="header reference"><i class="gcs-bookmark"></i></div>
				{{#each (flatlist system.equipment.other)}}
				{{>actor/static_character/sections/other_equipment}}
				{{/each}}
			</div>
			{{/if}}
		</div>

		{{!-- {{#if (or (notEmpty system.reactions) (notEmpty system.conditionalmods))}} --}}
		{{!-- <div id='other' style='display: flex; flex-flow: row nowrap;'> --}}
			{{!-- {{#if (notEmpty system.reactions)}}{{>actor/static_character/sections/reactions}}{{/if}} --}}
			{{!-- {{#if (notEmpty system.conditionalmods)}}{{>actor/static_character/sections/conditionalmods}}{{/if}}
			--}}
			{{!-- </div> --}}
		{{!-- {{/if}} --}}

		{{!-- {{>actor/static_character/sections/trackers}} --}}


		{{!-- {{#if (notEmpty system.ranged)}} --}}
		{{!-- {{>actor/static_character/sections/ranged}} --}}
		{{!-- {{/if}} --}}

		{{!-- {{#if (or (notEmpty system.skills) (notEmpty system.ads))}} --}}
		{{!-- {{!-- <div id='ads-skills'> --}} --}}
			{{!-- {{#if (notEmpty system.ads)}}{{>actor/static_character/sections/advantages}}{{/if}} --}}
			{{!-- {{#if (notEmpty system.skills)}}{{>actor/static_character/sections/skills}}{{/if}} --}}
			{{!-- {{!-- </div> --}} --}}
		{{!-- {{/if}} --}}

		{{!-- {{#if (notEmpty system.spells)}} --}}
		{{!-- {{>actor/static_character/sections/spells}} --}}
		{{!-- {{/if}} --}}

		{{!-- {{#if (notEmpty system.equipment.carried)}} --}}
		{{!-- {{>actor/static_character/sections/equipment container='carried' data=this.data}} --}}
		{{!-- {{/if}} --}}

		{{!-- {{#if (notEmpty system.equipment.other)}} --}}
		{{!-- {{>actor/static_character/sections/equipment container='other' data=this.data}} --}}
		{{!-- {{/if}} --}}

		{{!-- {{>actor/static_character/sections/notes}} --}}
		{{!--
	</div> --}}
	{{!-- {{>actor/static_character/sections/footer}} --}}
	{{!-- {{#if navigateBar.visible}} --}}
	{{!-- <div class='navigate-area'> --}}
		{{!-- <input id='navigate-toggle-{{_id}}' class='toggle offscreen-only' type='checkbox' /> --}}
		{{!-- <div class='navigate-bar'> --}}
			{{!-- <label class='navigation-view' for='navigate-toggle-{{_id}}'><span class='icon'></span></label> --}}
			{{!-- <div class='navigate-container'> --}}
				{{!-- <div class='navigation-link' data-value='personal'>TOP</div> --}}
				{{!-- <div class='navigation-link' data-value='stats'>{{localize 'GURPS.statsTab'}}</div> --}}
				{{!-- {{#if navigateBar.hasMelee}} --}}
				{{!-- <div class='navigation-link' data-value='melee'>{{localize 'GURPS.melee'}}</div> --}}
				{{!-- {{/if}} --}}
				{{!-- {{#if navigateBar.hasRanged}} --}}
				{{!-- <div class='navigation-link' data-value='ranged'>{{localize 'GURPS.ranged'}}</div> --}}
				{{!-- {{/if}} --}}
				{{!-- <div class='navigation-link' data-value='advantages'>{{localize 'GURPS.pointsAdvantages'}}</div>
				--}}
				{{!-- <div class='navigation-link' data-value='skills'>{{localize 'GURPS.skillsTab'}}</div> --}}
				{{!-- {{#if navigateBar.hasSpells}} --}}
				{{!-- <div class='navigation-link' data-value='spells'>{{localize 'GURPS.spellsTab'}}</div> --}}
				{{!-- {{/if}} --}}
				{{!-- <div class='navigation-link' data-value='equipmentcarried'>{{localize 'GURPS.equipment'}}</div>
				--}}
				{{!-- {{#if navigateBar.hasOther}} --}}
				{{!-- <div class='navigation-link' data-value='equipmentother'>OTHER</div> --}}
				{{!-- {{/if}} --}}
				{{!-- <div class='navigation-link' data-value='notes'>{{localize 'GURPS.notes'}}</div> --}}
				{{!-- </div> --}}
			{{!-- </div> --}}
		{{!-- </div> --}}
	{{!-- {{/if}} --}}
</form>
