<div class='ms-section' data-section='{{section}}'>
  {{> "actor.modern.partials.section-header" icon=icon title=title count=count collapsible=true}}
  <div class='ms-section-content'>
    <div class='ms-attacks-list ms-{{attackType}}-attacks'>
      <div class='ms-attack-header'>
        <span class='ms-attack-name'>{{localize title}}</span>
        <span class='ms-attack-usage'>{{localize 'GURPS.usage'}}</span>
        <span class='ms-attack-level'>{{localize 'GURPS.level'}}</span>
        <span class='ms-attack-damage'>{{localize 'GURPS.damage'}}</span>
        {{#if isMelee}}
          <span class='ms-attack-reach'>{{localize 'GURPS.reach'}}</span>
          <span class='ms-attack-parry'>{{localize 'GURPS.parry'}}</span>
        {{else}}
          <span class='ms-attack-acc'>{{localize 'GURPS.acc'}}</span>
          <span class='ms-attack-range'>{{localize 'GURPS.range'}}</span>
        {{/if}}
        <span></span>
      </div>
      {{#each items}}
        <div class='ms-attack-row' data-key='{{../path}}.{{@key}}'>
          <span class='ms-attack-name'>{{> "actor.modern.partials.dice-button" otf=otf.level text=name damage=false}}</span>
          <span class='ms-attack-usage'>{{usage}}</span>
          <span class='ms-attack-level'>{{level}}</span>
          <span
            class='ms-attack-damage'>{{> "actor.modern.partials.dice-button" otf=otf.damage level=null text=damage damage=true color='var(--ms-hp)'}}</span>
          {{#if ../isMelee}}
            <span class='ms-attack-reach'>{{reach}}</span>
            <span
              class='ms-attack-parry'>{{#if otf.parry}}{{> "actor.modern.partials.dice-button" otf=otf.parry level=null text=parry damage=false color='var(--ms-text-muted)'}}{{/if}}</span>
          {{else}}
          <span class='ms-attack-acc {{gmod acc}}' data-name="{{localize 'GURPS.accForWeapon' weapon=fullName}}" data-otf='{{acc}} Acc'>{{acc}}</span>
            <span class='ms-attack-range'>{{range}}</span>
          {{/if}}
          {{> "actor.modern.partials.row-actions"}}
        </div>
      {{else}}
        <div class='ms-empty'>{{localize 'GURPS.none'}}</div>
      {{/each}}
      {{> "actor.modern.partials.add-row"}}
    </div>
  </div>
</div>
