<div class='ms-section' data-section='{{section}}'>
  {{>section-header icon=icon title=title count=count collapsible=true}}
  <div class='ms-section-content'>
    <div class='ms-{{entityType}}-table'>
      <div class='ms-{{entityType}}-header'>
        <span>{{localize 'GURPS.name'}}</span>
        {{#if hasCollege}}<span>{{localize 'GURPS.spellCollege'}}</span>{{/if}}
        <span>{{localize 'GURPS.level'}}</span>
        <span>RSL</span>
        <span></span>
      </div>
      {{#each items}}
      <div class='ms-{{../entityType}}-row' data-key='{{../path}}.{{@key}}' data-indent='{{indent}}' data-has-children='{{or hasContains hasCollapsed}}'>
        <span class='ms-col-name indent{{indent}}'>
          {{#if (or hasContains hasCollapsed)}}<i class='fas fa-caret-down ms-container-icon'></i>{{/if}}
          <span class='ms-col-name-text'>{{this.name}}</span>
        </span>
        {{#if ../hasCollege}}<span class='ms-col-college'>{{this.college}}</span>{{/if}}
        <span class='ms-col-level'>{{#if this.level}}{{>dice-button otf=(concat ../otfPrefix ':"' this.name '"') level=this.level}}{{/if}}</span>
        <span class='ms-col-rsl'>{{this.relativelevel}}</span>
        {{>row-actions editAction=../editAction deleteAction=../deleteAction key=(concat ../path '.' @key)}}
        {{>row-notes notes=this.notes}}
      </div>
      {{else}}
      <div class='ms-empty'>{{localize 'GURPS.none'}}</div>
      {{/each}}
      {{>add-row action=addAction label=addLabel}}
    </div>
  </div>
</div>
