{{#*inline ".equipment"}}
<div class='ms-eqt-row'
    data-uuid='{{uuid}}'
    data-indent='{{indent}}'
    data-has-children='{{hasChildren}}'
  >
    {{#if flags.equipped}}
    <span class='ms-eqt-equipped'>
      {{#if this.equipped}}
        <i class='fas fa-circle-check'></i>
      {{else}}
        <i class='far fa-circle ms-inactive'></i>
      {{/if}}
    </span>
    {{/if}}
    <span class='ms-eqt-qty'>
      <i class='fa-solid fa-circle-minus equipmentbutton' data-action='decrementQuantity'></i>
      <span>{{quantity}}</span>
      <i class='fa-solid fa-circle-plus equipmentbutton' data-action='incrementQuantity'></i>
    </span>
    <span class='ms-col-name indent{{indent}}'>
      {{#if hasChildren}}<i class='fas fa-caret-down ms-container-icon {{ifThen childrenOpen "" "container-collapsed"}}'></i>{{/if}}
      {{{gurpslink name}}}
    </span>
    <span class='ms-eqt-cost'>{{value}}</span>
    <span class='ms-eqt-weight'>{{weight.value}} {{weight.unit}}</span>
    <span class='ms-eqt-ref'>{{{pdfReference reference}}}</span>
      {{> "actor.modern.partials.row-actions"}}
      {{> "actor.modern.partials.row-notes"}}
  </div>
  {{#if (and hasChildren childrenOpen)}}
    {{#each children}}
      {{> ".equipment" section=../section flags=../flags}}
    {{/each}}
  {{/if}}
{{/inline}}


{{!-- Equipment Table Partial --}}
{{!-- Parameters: container (carried/other), items, showEquipped, title, icon --}}
<div class='ms-section'> <h3 class='ms-section-header'> <i class='fas {{icon}}'></i> {{{localize title}}}
  </h3>
  <div class='ms-equipment-table {{ifThen flags.carried "ms-equipment-carried" "ms-equipment-other"}}'>
    <div class='ms-eqt-header'>
      {{#if flags.equipped}}
        <span class='ms-eqt-equipped'>{{localize 'GURPS.equipmentEquipped'}}</span>
      {{/if}}
      <span class='ms-eqt-qty'>{{localize 'GURPS.equipmentQuantity'}}</span>
      <span class='ms-col-name'>{{localize 'GURPS.equipment'}}</span>
      <span class='ms-eqt-cost'>$</span>
      <span class='ms-eqt-weight'><i class='fas fa-weight-hanging'></i></span>
      <span class='ms-eqt-ref'>{{localize 'GURPS.pdfRef'}}</span>
      <span class='ms-eqt-actions'></span>
    </div>
    {{#each items}}
      {{> ".equipment" section=../section flags=../flags}}
    {{else}}
    <div class='ms-empty'>{{localize 'GURPS.none'}}</div>
    {{/each}}
    <div class='ms-add-row'>
      {{> "actor.modern.partials.add-row"}}
    </div>
  </div>
</div>
