<div class='ms-section' data-section='modifiers'>
  {{> "actor.modern.partials.section-header" icon="fa-balance-scale" title=(concat (localize "GURPS.modifier") "s") count=modifierCount collapsible=true}}
  <div class='ms-section-content'>
    <div class='ms-modifiers-table'>
      <div class='ms-modifiers-header'>
        <span></span>
        <span>{{localize 'GURPS.description'}}</span>
        <span>{{localize 'GURPS.modifier'}}</span>
        <span></span>
      </div>
      {{#each reactions}}
      <div class='ms-modifiers-row' data-uuid='{{uuid}}'>
        <span class='ms-col-type'><span class='ms-type-badge ms-type-reaction' title='{{localize "GURPS.reaction"}}'>R</span></span>
        <span class='ms-col-situation'>{{{gurpslink this.situation}}}</span>
        <span class='ms-col-modifier'>{{> "actor.modern.partials.modifier-button" modifier=modifier comment=condition level=(signed modifier) color=(modifierColor modifier)}}</span>
        {{> "actor.modern.partials.row-actions"}}
      </div>
      {{/each}}
      {{#each conditionalModifiers}}
      <div class='ms-modifiers-row' data-uuid='{{uuid}}'>
        <span class='ms-col-type'><span class='ms-type-badge ms-type-conditional' title='{{localize "GURPS.conditionalModifier"}}'>C</span></span>
        <span class='ms-col-situation'>{{{gurpslink this.situation}}}</span>
        <span class='ms-col-modifier'>{{> "actor.modern.partials.modifier-button" modifier=modifier comment=condition level=(signed modifier) color=(modifierColor modifier)}}</span>
        {{> "actor.modern.partials.row-actions"}}
      </div>
      {{/each}}
      <div class='ms-add-row'>
        <span class='ms-add-btn' data-action='createEmbedded' data-document-name='ReactionModifier'><i class='fas fa-plus'></i>{{ localize "DOCUMENT.New" type=(localize "DOCUMENT.ReactionModifier")}}</span>
        <span class='ms-add-btn' data-action='createEmbedded' data-document-name='ConditionalModifier'><i class='fas fa-plus'></i>{{ localize "DOCUMENT.New" type=(localize "DOCUMENT.ConditionalModifier")}}</span>
      </div>
    </div>
  </div>
</div>
