<div class='ms-name-container'>
  <h1 class='ms-name ms-name-display'>{{actor.name}}</h1>
  <input type='text' form='none' value='{{actor.name}}' class='ms-name-input' data-field='name' />
</div>
{{#if compact}}
  {{#if system.profile.title}}<div class='ms-title'>{{system.profile.title}}</div>{{/if}}
{{/if}}
<div class='ms-tagline'>
  {{#if system.profile.race}}
    <span class='ms-tag ms-tag-race'>
      <span class='ms-tag-display'>{{system.profile.race}}</span>
      <input
        type='text'
        form='none'
        value='{{system.profile.race}}'
        class='ms-tag-input'
        data-field='system.profile.race'
        placeholder='{{localize "GURPS.pointsRace"}}'
      />
    </span>
  {{/if}}
  {{#if system.profile.gender}}
    <span class='ms-tag ms-tag-gender'>
      <span class='ms-tag-display'>{{system.profile.gender}}</span>
      <input
        type='text'
        form='none'
        value='{{system.profile.gender}}'
        class='ms-tag-input'
        data-field='system.profile.gender'
        placeholder='{{localize "GURPS.descriptionGender"}}'
      />
    </span>
  {{/if}}
  {{#if system.profile.age}}
    <span class='ms-tag ms-tag-age'>
      <span class='ms-tag-display'>{{system.profile.age}} {{localize 'GURPS.years'}}</span>
      <input
        type='text'
        form='none'
        value='{{system.profile.age}}'
        class='ms-tag-input'
        data-field='system.profile.age'
        placeholder='{{localize "GURPS.descriptionAge"}}'
      />
    </span>
  {{/if}}
  {{#if system.profile.techlevel}}
    <span class='ms-tag ms-tag-tl'>
      <span class='ms-tag-display'>TL{{system.profile.techlevel}}</span>
      <input
        type='text'
        form='none'
        value='{{system.profile.techlevel}}'
        class='ms-tag-input'
        data-field='system.profile.techlevel'
        placeholder='{{localize "GURPS.TL"}}'
      />
    </span>
  {{/if}}
</div>
