<div class='ms-tracker' data-gurps-resource='system.additionalresources.tracker.{{id}}'>

  <div class='ms-tracker-header'>
    <label class='name'>{{name}}</label>
    <div class='actions'>
      <i class='fas fa-pen-to-square ms-action-btn' data-action='editTracker' data-key='{{id}}'
        title='{{localize 'GURPS.edit'}}'></i>
      <i class='fas fa-trash ms-delete ms-action-btn' data-action='deleteTracker' data-key='{{id}}'
        title='{{localize 'GURPS.delete'}}'></i>
    </div>
  </div>

  <div class='ms-spinner'>
    <button data-action='decreaseTracker' data-key='{{id}}'
      title='{{localize "GURPS.resourceTracker.viewer.decrement"}}'>
      <i class='fas fa-minus'></i>
    </button>

    <div class='ms-tracker-value'>
      <div class='ms-tracker-display'>{{value}}</div>
      <input type="number" class="ms-tracker-input" name="system.additionalresources.tracker.{{id}}.value"
        value="{{value}}">
    </div>

    <button data-action='increaseTracker' data-key='{{id}}'
      title='{{localize "GURPS.resourceTracker.viewer.increment"}}'>
      <i class='fas fa-plus'></i>
    </button>

    <button data-action='resetTracker' data-key='{{id}}' title='{{localize "GURPS.resourceTracker.viewer.reset"}}'>
      <i class='fas fa-rotate-left'></i>
    </button>
  </div>

  {{#if color}}
    {{!-- Inline style is necessary to apply the dynamic color value. The contrast helper is used to determine the
          appropriate text color based on the background color. --}}
    {{{tracker-style color id=(concat "ID-" id)}}}
  {{/if}}
  <div id="ID-{{id}}" class='ms-tracker-condition'>

    <span class='text' data-tooltip-html='{{{trackerTooltip this}}}'>{{{gurpslink condition}}}</span>
  </div>

  <div class='ms-tracker-footer'>
    <div class='ms-tracker-pdf'>{{{pdflink pdf}}}</div>
    <div class='ms-tracker-alias'>{{alias}}</div>
    <div class='ms-tracker-minmax'>{{min}}/{{max}}</div>
  </div>

</div>
