<form class="{{cssClass}}" autocomplete="off">
	<div id="sheet" class="gcs_melee_sheet">
		<div id="details">
			<div class="label">{{localize "gurps.static.level_otf"}}</div>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.otf" value="{{data.otf}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.weapon.usage"}}</div>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.mode" value="{{data.mode}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.weapon.block"}}</div>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.block" value="{{data.block}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.weapon.reach"}}</div>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.reach" value="{{data.reach}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.weapon.parry"}}</div>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.parry" value="{{data.parry}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.static.damage"}}</div>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.damage" value="{{data.damage}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.weapon.strength"}}</div>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.st" value="{{data.st}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.weapon.notes"}}</div>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.notes" value="{{data.notes}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.static.check_otf"}}</div>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.checkotf" value="{{data.checkotf}}" data-dtype="string" />
			</div>
			<div class="label">{{localize "gurps.static.during_otf"}}</div>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.duringotf" value="{{data.duringotf}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.static.pass_otf"}}</div>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.passotf" value="{{data.passotf}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.static.fail_otf"}}</div>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.failotf" value="{{data.failotf}}" data-dtype="String" />
			</div>
		</div>
	</div>
</form>
