<form class="{{cssClass}}" autocomplete="off">
	<div id="sheet" class="gcs_melee_sheet">
		<div id="details">
			<div class="label">{{localize "gurps.static.level_otf"}}</div>
			<div class="field">
				<input type="text" name="system.melee.{{key}}.otf" value="{{data.otf}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.weapon.usage"}}</div>
			<div class="field">
				<input type="text" name="system.melee.{{key}}.mode" value="{{data.mode}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.weapon.block"}}</div>
			<div class="field">
				<input type="text" name="system.melee.{{key}}.block" value="{{data.block}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.weapon.reach"}}</div>
			<div class="field">
				<input type="text" name="system.melee.{{key}}.reach" value="{{data.reach}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.weapon.parry"}}</div>
			<div class="field">
				<input type="text" name="system.melee.{{key}}.parry" value="{{data.parry}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.weapon.damage"}}</div>
			<div class="field">
				<input type="text" name="system.melee.{{key}}.damage" value="{{data.damage}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.weapon.st"}}</div>
			<div class="field">
				<input type="text" name="system.melee.{{key}}.st" value="{{data.st}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.weapon.notes"}}</div>
			<div class="field">
				<input type="text" name="system.melee.{{key}}.notes" value="{{data.notes}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.static.checkotf"}}</div>
			<div class="field">
				<input type="text" name="system.melee.{{key}}.checkotf" value="{{data.checkotf}}" data-dtype="string" />
			</div>
			<div class="label">{{localize "gurps.static.duringotf"}}</div>
			<div class="field">
				<input type="text" name="system.melee.{{key}}.duringotf" value="{{data.duringotf}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.static.passotf"}}</div>
			<div class="field">
				<input type="text" name="system.melee.{{key}}.passotf" value="{{data.passotf}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.static.failotf"}}</div>
			<div class="field">
				<input type="text" name="system.melee.{{key}}.failotf" value="{{data.failotf}}" data-dtype="String" />
			</div>
		</div>
	</div>
</form>
