<form class="{{cssClass}}" autocomplete="off">
	<div id="sheet" class="gcs_melee_sheet">
		<div id="details">
			<div class="label">{{localize "gurps.static.level_otf"}}</div>
			<div class="field">
				<input type="text" name="system.melee.{{key}}.otf" value="{{data.otf}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.weapon.usage"}}</div>
			<div class="field">
				<input type="text" name="system.melee.{{key}}.mode" value="{{data.mode}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.weapon.range"}}</div>
			<div class="field">
				<input type="text" name="system.melee.{{key}}.range" value="{{data.range}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.weapon.reach"}}</div>
			<div class="field">
				<input type="text" name="system.melee.{{key}}.bulk" value="{{data.bulk}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.weapon.acc"}}</div>
			<div class="field">
				<input type="text" name="system.melee.{{key}}.acc" value="{{data.acc}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.weapon.rof"}}</div>
			<div class="field">
				<input type="text" name="system.melee.{{key}}.rof" value="{{data.rof}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.weapon.rcl"}}</div>
			<div class="field">
				<input type="text" name="system.melee.{{key}}.rcl" value="{{data.rcl}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.weapon.damage"}}</div>
			<div class="field">
				<input type="text" name="system.melee.{{key}}.damage" value="{{data.damage}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.weapon.shots"}}</div>
			<div class="field">
				<input type="text" name="system.melee.{{key}}.shots" value="{{data.shots}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.weapon.notes"}}</div>
			<div class="field">
				<input type="text" name="system.melee.{{key}}.notes" value="{{data.notes}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.static.checkotf"}}</div>
			<div class="field">
				<input type="text" name="system.melee.{{key}}.checkotf" value="{{data.checkotf}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.static.duringotf"}}</div>
			<div class="field">
				<input type="text" name="system.melee.{{key}}.duringotf" value="{{data.duringotf}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.static.passotf"}}</div>
			<div class="field">
				<input type="text" name="system.melee.{{key}}.passotf" value="{{data.passotf}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.static.failotf"}}</div>
			<div class="field">
				<input type="text" name="system.melee.{{key}}.failotf" value="{{data.failotf}}" data-dtype="String" />
			</div>
		</div>
	</div>
</form>
