<form class="{{cssClass}}" autocomplete="off">
	<div id="sheet" class="gcs_melee_sheet">
		<div id="details">
			<div class="label">{{localize "gurps.static.level_otf"}}</div>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.otf" value="{{data.otf}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.weapon.usage"}}</div>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.mode" value="{{data.mode}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.weapon.range"}}</div>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.range" value="{{data.range}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.weapon.reach"}}</div>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.bulk" value="{{data.bulk}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.weapon.accuracy"}}</div>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.acc" value="{{data.acc}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.weapon.rate_of_fire"}}</div>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.rof" value="{{data.rof}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.weapon.recoil"}}</div>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.rcl" value="{{data.rcl}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.static.damage"}}</div>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.damage" value="{{data.damage}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.weapon.shots"}}</div>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.shots" value="{{data.shots}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.weapon.notes"}}</div>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.notes" value="{{data.notes}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.static.check_otf"}}</div>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.checkotf" value="{{data.checkotf}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.static.during_otf"}}</div>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.duringotf" value="{{data.duringotf}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.static.pass_otf"}}</div>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.passotf" value="{{data.passotf}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.static.fail_otf"}}</div>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.failotf" value="{{data.failotf}}" data-dtype="String" />
			</div>
		</div>
	</div>
</form>
