<form class="{{cssClass}}" autocomplete="off">
	<div id="sheet" class="gcs_melee_sheet">
		<div id="details">
			<div class="label">{{localize "gurps.item.name"}}</div>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.name" value="{{data.name}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.item.resist"}}</div>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.rsl" value="{{data.rsl}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.item.class"}}</div>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.class" value="{{data.class}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.item.college"}}</div>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.college" value="{{data.college}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.item.casting_cost"}}</div>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.cost" value="{{data.cost}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.item.maintenance_cost"}}</div>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.maintain" value="{{data.maintain}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.item.casting_time"}}</div>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.casttime" value="{{data.casttime}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.item.duration"}}</div>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.duration" value="{{data.duration}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.item.level"}}</div>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.import" value="{{data.import}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.item.difficulty"}}</div>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.difficulty" value="{{data.difficulty}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.item.points"}}</div>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.points" value="{{data.points}}" data-dtype="Number" />
			</div>
			<div class="label">{{localize "gurps.static.check_otf"}}</div>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.checkotf" value="{{data.checkotf}}" data-dtype="string" />
			</div>
			<div class="label">{{localize "gurps.static.during_otf"}}</div>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.duringotf" value="{{data.duringotf}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.static.pass_otf"}}</div>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.passotf" value="{{data.passotf}}" data-dtype="String" />
			</div>
			<div class="label">{{localize "gurps.static.fail_otf"}}</div>
			<div class="field">
				<input type="text" name="system.{{list}}.{{key}}.failotf" value="{{data.failotf}}" data-dtype="String" />
			</div>
		</div>
	</div>
</form>
