<div id="basic-damage">
	<div class="header">{{localize "gurps.character.basic_damage"}}</div>
	<div class="fieldblock3" style="grid-template-columns: 0 0fr 1fr;">
		<div class="points" readonly stlye=""></div>
		<div
			class="field rollable"
			data-type="damage"
			data-item-id="thrust"
		>
			<input type="text" value="{{actor.thrust.string}}" disabled
			stlye="min-width: {{length actor.thrust.string}}ch;"
		/>
		</div>
		<div class="label">{{localize "gurps.character.basic_thrust"}}</div>
		<div class="points" readonly></div>
		<div
			class="field rollable"
			data-type="damage"
			data-item-id="swing"
		>
			<input type="text" value="{{actor.swing.string}}" disabled
			stlye="min-width: {{length actor.swing.string}}ch;"
		/>
		</div>
		<div class="label">{{localize "gurps.character.basic_swing"}}</div>
	</div>
</div>
