<div class="equipped" data-uuid="{{this.uuid}}">{{#if this.equipped}}<i class="gcs-checkmark"></i>{{/if}}</div>
<div class="quantity">{{this.quantity}}</div>
<div class="desc item" data-uuid="{{this.uuid}}" {{{indent this.parents.length}}}>
	<div class="dropdown">
		{{#if (eq this.type "equipment_container")}}
		{{#if this.open}}
		{{>actor/character/sections/dropdown-open}}
		{{else}}
		{{>actor/character/sections/dropdown-closed}}
		{{/if}}
		{{/if}}
	</div>
	<div class="name">
		{{this.name}}
	</div>
	{{>actor/character/sections/item-notes}}
</div>
<div class="uses">{{#if (and this.uses this.maxUses)}}{{this.uses}}{{/if}}</div>
<div class="tech-level">{{this.techLevel}}</div>
<div class="legality-class">{{this.legalityClass}}</div>
<div class="value">{{this.adjustedValue}}</div>
<div class="weight">{{this.adjustedWeightFast}}</div>
<div class="extended-value">{{this.extendedValue}}</div>
<div class="extended-weight">{{this.extendedWeightFast}}</div>
<div class="reference" data-pdf="{{this.reference}}">{{ref this.reference}}</div>
{{#if this.open}}
{{#each (sort this.children "sort")}}
{{>actor/character/sections/equipment}}
{{/each}}
{{/if}}
