<div class="roll">{{this.calc.roll_range}}</div>
<div class="location">{{tab}}{{this.table_name}}</div>
<div data-modifier="{{ror this.hit_penalty 0}}" data-comment="{{localize 'gurps.character.body_type.penalty_for' name=this.table_name}}"
	data-type="modifier" class="penalty rollable">{{signed (ror this.hit_penalty 0)}}</div>
<div class="dr">{{splitDR this.calc.dr}}</div>
{{#if this.sub_table}}
{{#each this.sub_table.location}}
{{>actor/character/sections/hit-location tab=" "}}
{{/each}}
{{/if}}
