<div class="item-notes">
  {{#if (or (eq this.type "trait") (eq this.type "trait_container")) }}
    {{#unless (eq this.cr 0)}}
        <div data-uuid="{{ this.uuid }}"
             data-type="control_roll"
             class="cr rollable">{{ this.formattedCR }}</div>
  	{{/unless }}
	{{/if }}
	{{#if (or (eq this.type "trait") (eq this.type "trait_container") (eq this.type "equipment_gcs") (eq this.type
    "equipment_container"))}}
    {{#if (in @root.settings.modifiers_display "inline") }}
        {{#each (enabledList this.modifiers) }}
            {{#unless (eq @index 0)}}; {{/unless }}{{ this.name }}
            {{#if this.notes }}
                ({{ this.notes }})
            {{/if }}
        {{/each }}
    {{/if}}
{{/if }}
{{#if (and (in @root.settings.notes_display "inline") this.notes) }}
    {{{ format this.notes }}}
	{{#if this.system.study}}
	{{localize "gurps.study.studied" hours=this.studyHours}}
	{{/if}}
{{/if}}
{{#if (and (or (eq this.type "spell") (eq this.type "ritual_magic_spell")) (not @root/inCompendium)) }}
    {{#if (and this.notes (spellValues this)) }}
        <br>
    {{/if }}
    {{{ spellValues this }}}
{{/if }}
{{#if this.error }}
    {{>error }}{{/if }}
{{#if this.unsatisfied_reason}}{{{unsatisfied this.unsatisfied_reason}}}{{/if}}
</div>
