<div class="item desc" data-uuid="{{this.uuid}}">
	<div class="name">
		{{this.itemName}}
	</div>
	{{>actor/character/sections/item-notes}}
</div>
<div data-uuid="{{this.uuid}}" data-type="attack" class="usage rollable">
	{{this.usage}}</div>
<div data-uuid="{{this.uuid}}" data-type="attack" class="level rollable">
	{{this.level}}</div>
<div data-uuid="{{this.uuid}}" data-type="parry" class="parry rollable">
	{{this.fastResolvedParry}}</div>
<div data-uuid="{{this.uuid}}" data-type="block" class="block rollable">
	{{this.fastResolvedBlock}}</div>
<div data-uuid="{{this.uuid}}" data-type="damage" class="damage rollable">
	{{this.fastResolvedDamage}}</div>
<div class="reach">{{this.reach}}</div>
<div class="st">{{this.strength}}</div>
