<div class="header">{{localize "gurps.character.resource_trackers.title"}}</div>
<div class="fieldblock6">
	{{#each resource_trackers}}
		<div class="points"></div>
		<div class="field">
			<input
				name="system.resource_trackers.{{this.id}}.damage"
				class="input number"
				type="text"
				data-dtype="Number"
				value="{{this.current}}"
			/>
		</div>
		<div class="label">{{localize "gurps.character.pool_of"}}</div>
		<div class="field">
			<input
				name="system.resource_trackers.{{this.id}}.max"
				class="input number"
				type="text"
				data-dtype="Number"
				value="{{this.max}}"
				disabled
			/>
		</div>
		<div class="label">{{this.tracker_def.name}}</div>
		<div class="label tooltip">
			{{#if this.currentThreshold.state}}
				[{{this.currentThreshold.state}}]
				{{#if this.currentThreshold.explanation}}
					<span class="tooltiptext">{{{this.currentThreshold.explanation}}}</span>
				{{/if}}
			{{/if}}
		</div>
	{{/each}}
</div>
