<div class="desc item" data-uuid="{{this.uuid}}" {{{indent this.parents.length}}}>
	<div class="dropdown">
		{{#if (eq this.type "skill_container")}}
		{{#if this.open}}
		{{>actor/character/sections/dropdown-open}}
		{{else}}
		{{>actor/character/sections/dropdown-closed}}
		{{/if}}
		{{/if}}
	</div>
	<div class="name">
		{{this.formattedName}}
	</div>
	{{>actor/character/sections/item-notes}}
</div>
<div data-uuid="{{this.uuid}}" data-type="skill" class="level rollable">{{this.skillLevel}}</div>
<div data-uuid="{{this.uuid}}" data-type="skill_rsl" class="rsl rollable">{{this.relativeLevel}}</div>
<div class="points">{{this.points}}</div>
<div class="reference" data-pdf="{{this.reference}}">{{ref this.reference}}</div>
{{#if this.open}}
{{#each (sort this.children "sort")}}
{{>actor/character/sections/skill}}
{{/each}}
{{/if}}
