<div class="attribute-bonus">
	<div class="placeholder"> </div>
	<select name="array.system.features.{{@index}}.attribute">
		{{#select this.attribute}}
			{{#unless (in attributes this.attribute)}}
				<option value="{{this.attribute}}">{{localize
						"gurps.field_prefix.attribute_unkown"
						att=this.attribute
					}}</option>
			{{/unless}}
			{{#each attributes as |v k|}}
				<option value="{{k}}">{{localize "gurps.field_prefix.attribute" att=v}}</option>
			{{/each}}
		{{/select}}
	</select>
	<select name="array.system.features.{{@index}}.limitation" {{disabled (ne this.attribute "st")}}>
		{{#select this.limitation}}
			{{#each config.select.st_limitation as |v k|}}
				<option value="{{k}}">{{localize v}}</option>
			{{/each}}
		{{/select}}
	</select>
</div>
