<div class="attribute-prereq">
	<div class="placeholder"> </div>
	<select name="array.system.features.{{@index}}.which">
		{{#select this.which}}
			<option value=""></option>
			{{#each attributes as |v k|}}
				<option value="{{k}}">{{v}}</option>
			{{/each}}
		{{/select}}
	</select>
	<select name="array.system.features.{{@index}}.combined_with">
		{{#select this.combined_with}}
			<option value=""></option>
			{{#each attributes as |v k|}}
				<option value="{{k}}">{{localize "gurps.field_prefix.combined_with"}} {{v}}</option>
			{{/each}}
		{{/select}}
	</select>
	<select name="array.system.features.{{@index}}.qualifier.compare">
		{{#select this.qualifier.compare}}
			{{#each config.select.number_compare as |v k|}}
				<option value="{{k}}">{{localize "gurps.field_prefix.attribute_level"}} {{localize v}}</option>
			{{/each}}
		{{/select}}
	</select>
	<div class="field">
		<input
			type="text"
			name="array.system.features.{{@index}}.qualifier.qualifier"
			value="{{this.qualifier.qualifier}}"
			data-dtype="String"
			{{disabled (eq this.qualifier.compare "none")}}
		/>
	</div>
</div>
