<div>
	<div class="placeholder"> </div>
	<select name="array.system.features.{{@index}}.location">
		{{#select this.location}}
			{{#each locations as |v k|}}
				<option value="{{k}}">{{localize "gurps.field_prefix.dr" location=v}}</option>
			{{/each}}
		{{/select}}
	</select>
</div>
<div class="dr-bonus">
	<div class="placeholder"> </div>
	<div class="label">{{localize "gurps.field_prefix.dr_bonus_before"}}</div>
	<div class="field">
		<input
			type="text"
			name="array.system.features.{{@index}}.specialization"
			value="{{this.specialization}}"
			data-dtype="String"
		/>
	</div>
	<div class="label">{{localize "gurps.field_prefix.dr_bonus_after"}}</div>
</div>
