<div class="field-3">
	<div class="placeholder"> </div>
	<select name="array.system.features.{{@index}}.selection_type">
		{{#select this.selection_type}}
		{{#each config.select.skill_bonus_selection_type as |v k|}}
		<option value="{{k}}">{{localize v}}</option>
		{{/each}}
		{{/select}}
	</select>
	<select name="array.system.features.{{@index}}.name.compare" {{disabled (eq this.selection_type "this_weapon")}}>
		{{#select this.name.compare}}
		{{#each config.select.string_compare as |v k|}}
		<option value="{{k}}">{{localize v}}</option>
		{{/each}}
		{{/select}}
	</select>
	<div class="field">
		<input
			type="text"
			name="array.system.features.{{@index}}.name.qualifier"
			value="{{this.name.qualifier}}"
			data-dtype="String"
			{{disabled (or (eq this.selection_type "this_weapon") (eq this.name.compare "none"))}}
		/>
	</div>
</div>
<div class="field-2">
	<div class="placeholder"> </div>
	<select name="array.system.features.{{@index}}.specialization.compare">
		{{#select this.specialization.compare}}
		{{#each config.select.string_compare as |v k|}}
		{{#if (eq ../this.selection_type "weapons_with_required_skill")}}
		<option value="{{k}}">{{localize "gurps.field_prefix.specialization"}}{{localize v}}</option>
		{{else}}
		<option value="{{k}}">{{localize "gurps.field_prefix.usage"}} {{localize v}}</option>
		{{/if}}
		{{/each}}
		{{/select}}
	</select>
	<div class="field">
		<input
			type="text"
			name="array.system.features.{{@index}}.specialization.qualifier"
			value="{{this.specialization.qualifier}}"
			data-dtype="String"
			{{disabled (eq this.specialization.compare "none")}}
		/>
	</div>
</div>
{{#unless (eq this.selection_type "this_weapon")}}
	<div class="field-2">
		<div class="placeholder"> </div>
		<select name="array.system.features.{{@index}}.tags.compare">
			{{#select this.tags.compare}}
			{{#each config.select.string_compare as |v k|}}
			<option value="{{k}}">{{localize "gurps.field_prefix.tags"}} {{localize v}}</option>
			{{/each}}
			{{/select}}
		</select>
		<div class="field">
			<input
				type="text"
				name="array.system.features.{{@index}}.tags.qualifier"
				value="{{this.tags.qualifier}}"
				data-dtype="String"
				{{disabled (eq this.tags.compare "none")}}
			/>
		</div>
	</div>
{{/unless}}
