{{#*inline ".meleeEntry"}}
<tr class="gcs-action-row" data-uuid="{{uuid}}">
    <td class="gcs-item-name-cell">
      <div class="gcs-item-name-line">
        <span class="gcs-item-name-text">{{name}}</span>
        {{#if hasNotes}}
        <i
          class="fa-solid {{ifThen notesOpen 'fa-book-open' 'fa-book'}} gcs-notes-toggle"
          data-action="toggleNotes"
          data-open="{{notesOpen}}"
        ></i>
        {{/if}}
      </div>
      <div class="gcs-item-notes-container">
        {{#if (and hasNotes notesOpen)}}
        <div class="gcs-item-notes ">{{notes}}</div>
        {{/if}}
      </div>
    </td>
    <td class="gcs-item-usage">{{usage}}</td>
    <td data-action="rollOtf" data-value="{{otf.level}}" class="gcs-item-level">{{level}}</td>
    {{#if otf.parry}}
      <td data-action="rollOtf" data-value="{{otf.parry}}" class="gcs-item-parry">{{parry}}</td>
    {{else}}
      <td class="gcs-item-parry">{{parry}}</td>
    {{/if}}
    {{#if otf.block}}
      <td data-action="rollOtf" data-value="{{otf.block}}" class="gcs-item-block">{{block}}</td>
    {{else}}
      <td class="gcs-item-block">{{block}}</td>
    {{/if}}
    <td data-action="rollOtf" data-value="{{otf.damage}}" class="gcs-item-damage">{{damage}}</td>
    <td class="gcs-item-reach">{{reach}}</td>
    <td class="gcs-item-st">{{st}}</td>
  </tr>
{{/inline}}

{{#*inline ".rangedEntry"}}
<tr class="gcs-action-row" data-uuid="{{uuid}}">
    <td class="gcs-item-name-cell">
      <div class="gcs-item-name-line">
        <span class="gcs-item-name-text">{{name}}</span>
        {{#if hasNotes}}
        <i
          class="fa-solid {{ifThen notesOpen 'fa-book-open' 'fa-book'}} gcs-notes-toggle"
          data-action="toggleNotes"
          data-open="{{notesOpen}}"
        ></i>
        {{/if}}
      </div>
      {{#if (and hasNotes notesOpen)}}
      <div class="gcs-item-notes">{{notes}}</div>
      {{/if}}
    </td>
    <td class="gcs-item-usage">{{usage}}</td>

    <td data-action="rollOtf" data-value="{{otf.level}}" class="gcs-item-level">{{level}}</td>
    {{#if acc}}
    <td
      data-action="addModifier"
      data-value="{{acc}}"
      data-comment="{{localize 'GURPS.accForWeapon' weapon=fullName}}"
      class="gcs-item-acc form-fields gcs-link-mod gcs-item-modifier {{ifThen (gte acc 0) 'gcs-mod-positive' 'gcs-mod-negative' }}"
      >{{acc}}</td>
    {{else}}
    <td class="gcs-item-acc">{{acc}}</td>
    {{/if}}
    <td data-action="rollOtf" data-value="{{otf.damage}}" class="gcs-item-damage">{{damage}}</td>
    <td class="gcs-item-range">{{range}}</td>
    <td class="gcs-item-rof">{{rof}}</td>
    <td class="gcs-item-shots">{{shots}}</td>
    {{#if bulk}}
    <td
      data-action="addModifier"
      data-value="{{bulk}}"
      data-comment="{{localize 'GURPS.bulkForWeapon' weapon=fullName}}"
      class="gcs-item-bulk {{ifThen (gte bulk 0) 'gcs-mod-positive' 'gcs-mod-negative' }}"
      >{{bulk}}</td>
    {{else}}
    <td class="gcs-item-bulk">{{bulk}}</td>
    {{/if}}
    <td class="gcs-item-recoil">{{recoil}}</td>
    <td class="gcs-item-st">{{st}}</td>
  </tr>
{{/inline}}

<section>
  <table class="gcs-table gcs-combat-table gcs-melee-table">
    <colgroup>
      <col class="gcs-col-name">
      <col class="gcs-col-usage">
      <col class="gcs-col-level">
      <col class="gcs-col-parry">
      <col class="gcs-col-block">
      <col class="gcs-col-damage">
      <col class="gcs-col-reach">
      <col class="gcs-col-st">
    </colgroup>
    <thead>
      <tr>
        <th>{{localize "GURPS.sheet.gcsActorSheet.weaponMelee"}}</th>
        <th>{{localize "GURPS.sheet.gcsActorSheet.weaponUsage"}}</th>
        <th>{{localize "GURPS.sheet.gcsActorSheet.skillLevel"}}</th>
        <th>{{localize "GURPS.sheet.gcsActorSheet.weaponParry"}}</th>
        <th>{{localize "GURPS.sheet.gcsActorSheet.weaponBlock"}}</th>
        <th>{{localize "GURPS.sheet.gcsActorSheet.weaponDamage"}}</th>
        <th>{{localize "GURPS.sheet.gcsActorSheet.weaponReach"}}</th>
        <th>{{localize "GURPS.sheet.gcsActorSheet.weaponST"}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each meleeAttacks}}
        {{> ".meleeEntry"}}
      {{else}}
      <tr class="gcs-item-empty">
        <td colspan="8">{{localize "GURPS.none"}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <table class="gcs-table gcs-combat-table gcs-ranged-table">
    <colgroup>
      <col class="gcs-col-name">
      <col class="gcs-col-usage">
      <col class="gcs-col-level">
      <col class="gcs-col-acc">
      <col class="gcs-col-damage">
      <col class="gcs-col-range">
      <col class="gcs-col-rof">
      <col class="gcs-col-shots">
      <col class="gcs-col-bulk">
      <col class="gcs-col-recoil">
      <col class="gcs-col-st">
    </colgroup>
    <thead>
      <tr>
        <th>{{localize "GURPS.sheet.gcsActorSheet.weaponRanged"}}</th>
        <th>{{localize "GURPS.sheet.gcsActorSheet.weaponUsage"}}</th>
        <th>{{localize "GURPS.sheet.gcsActorSheet.skillLevel"}}</th>
        <th>{{localize "GURPS.sheet.gcsActorSheet.weaponAccuracy"}}</th>
        <th>{{localize "GURPS.sheet.gcsActorSheet.weaponDamage"}}</th>
        <th>{{localize "GURPS.sheet.gcsActorSheet.weaponRange"}}</th>
        <th>{{localize "GURPS.sheet.gcsActorSheet.weaponROF"}}</th>
        <th>{{localize "GURPS.sheet.gcsActorSheet.weaponShots"}}</th>
        <th>{{localize "GURPS.sheet.gcsActorSheet.weaponBulk"}}</th>
        <th>{{localize "GURPS.sheet.gcsActorSheet.weaponRecoil"}}</th>
        <th>{{localize "GURPS.sheet.gcsActorSheet.weaponST"}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each rangedAttacks}}
        {{> ".rangedEntry"}}
      {{else}}
      <tr class="gcs-item-empty">
        <td colspan="11">{{localize "GURPS.none"}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</section>
