<!-- Just a reversed form-group element with more limited options -->
{{#*inline ".pointTotal"}}
  <div class="gcs-point-total form-group">
    <div class="form-fields">
      {{formInput field value=value localize=true disabled=@root.isPlay}}
    </div>
    <label>{{field.label}}</label>
  </div>
{{/inline}}

<section>
  <div class="gcs-portrait gcs-section">
    <div class="gcs-section-header">{{localize "GURPS.sheet.gcsActorSheet.portrait"}}</div>
      <img
        src='{{actor.img}}'
        data-action='editImage'
      />
  </div>
  <div class="gcs-identity gcs-section">
    <div class="gcs-section-header">{{localize "GURPS.sheet.gcsActorSheet.identity"}}</div>
    <div class="gcs-field-rows gcs-section-content">
      {{formField fields.name value=actor.name localize=true disabled=isPlay}}
      {{formField systemFields.profile.fields.title value=systemSource.profile.title localize=true disabled=isPlay}}
    </div>
  </div>
  <div class="gcs-miscellaneous gcs-section">
    <div class="gcs-section-header">{{localize "GURPS.sheet.gcsActorSheet.miscellaneous"}}</div>
    <div class="gcs-field-rows gcs-section-content">
      {{formField systemFields.profile.fields.createdon value=createdDate localize=true disabled=true}}
      {{formField systemFields.profile.fields.modifiedon value=modifiedDate localize=true disabled=true}}
    </div>
  </div>
  <div class="gcs-description gcs-section">
    <div class="gcs-section-header">{{localize "GURPS.sheet.gcsActorSheet.description"}}</div>
    <div class="gcs-field-columns gcs-section-content">
      <div class="gcs-field-rows">
        {{formField systemFields.profile.fields.gender value=systemSource.profile.gender localize=true disabled=isPlay}}
        {{formField systemFields.profile.fields.age value=systemSource.profile.age localize=true disabled=isPlay}}
        {{formField systemFields.profile.fields.birthday value=systemSource.profile.birthday localize=true disabled=isPlay}}
        {{formField systemFields.profile.fields.religion value=systemSource.profile.religion localize=true disabled=isPlay}}
      </div>
      <div class="gcs-field-rows">
        {{formField systemFields.profile.fields.height value=systemSource.profile.height localize=true disabled=isPlay}}
        {{formField systemFields.profile.fields.weight value=systemSource.profile.weight localize=true disabled=isPlay}}
        {{#if isPlay}}
        <div class="form-group">
          <label>{{localize "GURPS.actor.characterV2.FIELDS.profile.sizemod.label"}}</label>
          <div
            class="form-fields gcs-link-mod gcs-item-modifier {{ifThen (gte systemSource.profile.sizemod 0) 'gcs-mod-positive' 'gcs-mod-negative' }}"
            data-action="addModifier"
            data-value="{{systemSource.profile.sizemod}}"
            data-comment="{{localize 'GURPS.actor.characterV2.FIELDS.profile.sizemod.label'}}"
            >
            <span>{{{displayNumber systemSource.profile.sizemod}}}</span>
          </div>
        </div>
        {{else}}
          {{formField systemFields.profile.fields.sizemod value=systemSource.profile.sizemod localize=true}}
        {{/if}}
        {{formField systemFields.profile.fields.techlevel value=systemSource.profile.techlevel localize=true disabled=isPlay}}
      </div>
      <div class="gcs-field-rows">
        {{formField systemFields.profile.fields.hair value=systemSource.profile.hair localize=true disabled=isPlay}}
        {{formField systemFields.profile.fields.eyes value=systemSource.profile.eyes localize=true disabled=isPlay}}
        {{formField systemFields.profile.fields.skin value=systemSource.profile.skin localize=true disabled=isPlay}}
        {{formField systemFields.profile.fields.hand value=systemSource.profile.hand localize=true disabled=isPlay}}
      </div>
    </div>
  </div>
  <div class="gcs-point-totals gcs-section">
    <div class="gcs-section-header">{{localize "GURPS.sheet.gcsActorSheet.pointTotals" total=systemSource.totalpoints.total}}</div>
    <div class="gcs-field-rows gcs-field-rows-reverse gcs-section-content">
      {{> ".pointTotal" field=systemFields.totalpoints.fields.unspent value=systemSource.totalpoints.unspent}}
      {{> ".pointTotal" field=systemFields.totalpoints.fields.race value=systemSource.totalpoints.race}}
      {{> ".pointTotal" field=systemFields.totalpoints.fields.attributes value=systemSource.totalpoints.attributes}}
      {{> ".pointTotal" field=systemFields.totalpoints.fields.ads value=systemSource.totalpoints.ads}}
      {{> ".pointTotal" field=systemFields.totalpoints.fields.disads value=systemSource.totalpoints.disads}}
      {{> ".pointTotal" field=systemFields.totalpoints.fields.quirks value=systemSource.totalpoints.quirks}}
      {{> ".pointTotal" field=systemFields.totalpoints.fields.skills value=systemSource.totalpoints.skills}}
      {{> ".pointTotal" field=systemFields.totalpoints.fields.spells value=systemSource.totalpoints.spells}}
    </div>
  </div>
</section>
