{{#*inline ".poolTooltip"}}
  <div class="tracker-tooltip">
    <label class="title">{{localize name}}</label>
    {{#each thresholds}}
      <label>{{value}}</label>
      <label>{{localize condition}}</label>
    {{/each}}
  </div>
{{/inline}}

{{#*inline ".poolEntry"}}
  <div class="gcs-pool-attribute gcs-section">
    <div class="gcs-section-header">
      {{localize name}}
      {{#if (and (not @root.isPlay) editable)}}
        <a data-action="editResourceTracker" data-id="{{numerator.path}}"><i class="fa-solid fa-pen-to-square"></i></a>
        <a data-action="removeResourceTracker" data-id="{{numerator.path}}"><i class="fa-solid fa-trash"></i></a>
      {{/if}}
    </div>
    <div class="gcs-section-content">
      <div class="form-fields flexrow">
        <button data-action="decrementPool" data-inverted="{{invertedDelta}}" data-path="{{numerator.path}}" {{#if atMin}}disabled{{/if}}><i class="fa-solid fa-minus"></i></button>
        {{#if (eq type "pool")}}
          <pool-value name="{{numerator.path}}" value="{{numerator.value}}" data-max="{{denominator.value}}"></pool-value>
        {{else}}
          {{#if numerator.name}}
            {{formInput numerator.field name=numerator.name value=numerator.value }}
          {{else}}
            {{formInput numerator.field value=numerator.value }}
          {{/if}}
        {{/if}}
        <button data-action="incrementPool" data-inverted="{{invertedDelta}}" data-path="{{numerator.path}}" {{#if atMax}}disabled{{/if}}><i class="fa-solid fa-plus"></i></button>
        <button data-action="resetPool" data-inverted="{{invertedDelta}}" data-initial="{{numerator.initial}}" data-path="{{numerator.path}}"><i class="fa-solid fa-undo"></i></button>
      </div>
      {{#if (or state color thresholds.length)}}
        <div
          class="pool-state"
          data-tooltip='{{> '.poolTooltip' thresholds=thresholds}}'
          style="background-color: {{color}}; color: {{contrast-color color}}"
        >{{localize state}}</div>
      {{/if}}
      <div class="form-fields flexrow">
        <label>{{localize denominator.label}}</label>
        {{#if denominator.name}}
          {{formInput denominator.field name=denominator.name value=denominator.value disabled=(or (not denominatorEditable) @root.isPlay)}}
        {{else}}
          {{formInput denominator.field value=denominator.value disabled=(or (not denominatorEditable) @root.isPlay)}}
        {{/if}}
      </div>
    </div>
  </div>
{{/inline}}

<section>
  {{#each pools as |pool|}}
    {{> ".poolEntry" pool}}
  {{/each}}
  {{#unless isPlay}}
    <div class="gcs-pool-attribute gcs-section">
      <div class="gcs-section-header">
        ...
      </div>
      <div class="gcs-section-content">
        <div class="form-fields flexrow">
          <button data-action="addResourceTracker" class="flexrow">
            <i class="fa-solid fa-plus"></i>
            {{localize "GURPS.resourceTracker.create"}}
          </button>
        </div>
      </div>
    </div>
  {{/unless}}
</section>
