{{#*inline ".traitEntry"}}
  <tr class="gcs-item-row"
      data-item-id="{{id}}"
      data-uuid="{{uuid}}"
      data-has-children="{{hasChildren}}"
      draggable="true">
    <td class="gcs-item-name-cell">
      <div class="gcs-item-name-line indent{{indent}}">
        {{#if hasChildren}}
        <i
          class="fa-solid fa-caret-down gcs-container-toggle"
          data-open="{{childrenOpen}}"
          data-action="toggleContainer"
        ></i>
        {{else}}
        <span class="gcs-container-spacer"></span>
        {{/if}}
        <span class="gcs-item-name-text">{{fullName}}</span>
        {{#if hasNotes}}
        <i
          class="fa-solid {{ifThen notesOpen 'fa-book-open' 'fa-book'}} gcs-notes-toggle"
          data-action="toggleNotes"
          data-open="{{notesOpen}}"
        ></i>
        {{/if}}
      </div>
      <div class="gcs-item-notes-container indent{{indent}}">
        {{#if otf.cr}}
          {{gurpslink otf.cr}}
        {{/if}}
        {{#if (and hasNotes notesOpen)}}
        <div class="gcs-item-notes indent{{indent}}">{{notes}}</div>
        {{/if}}
      </div>
    </td>
    <td class="gcs-item-points">{{points}}</td>
  </tr>
  {{#if (and hasChildren childrenOpen)}}
  {{#each children}}
    {{> ".traitEntry"}}
  {{/each}}
  {{/if}}
{{/inline}}

<div class="gcs-item-table-container">
<table data-table-id="traits" class="gcs-table gcs-item-table gcs-trait-table ">
  <colgroup>
    <col class="gcs-col-name">
    <col class="gcs-col-points">
  </colgroup>
  <thead>
    <tr>
      <th class="gcs-sortable" data-action="sortItems" data-sort-by="{{sortKeys.traits.name}}">{{localize "GURPS.sheet.gcsActorSheet.traits"}}</th>
      <th class="gcs-sortable" data-action="sortItems" data-sort-by="{{sortKeys.traits.points}}">{{localize "GURPS.sheet.gcsActorSheet.points"}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each traits}}
      {{> ".traitEntry"}}
    {{else}}
    <tr class="gcs-item-empty">
      <td colspan="2">{{localize "GURPS.none"}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>
