<form class="gga-app item-editor" autocomplete="off">
  <div class="gga-item-sheet-title color-{{item.type}}">
  {{#if (eq itemType "equipment")}}
    <div><i class="fa fa-cogs itemdraggable"></i> <span class="first-cap">{{i18n "GURPS.equipment"}}</span></div>
    {{/if}}
    {{#if (eq itemType "feature")}}
    <div><i class="fa fa-cogs itemdraggable"></i> <span class="first-cap">{{i18n "GURPS.advDisadvPerkQuirks"}}</span></div>
    {{/if}}
    {{#if (eq itemType "skill")}}
    <div><i class="fa fa-cogs itemdraggable"></i> <span class="first-cap">{{i18n "GURPS.skillsTab"}}</span></div>
    {{/if}}
    {{#if (eq itemType "spell")}}
    <div><i class="fa fa-cogs itemdraggable"></i> <span class="first-cap">{{i18n "GURPS.spellsTab"}}</span></div>
    {{/if}}
  </div>

    <div class="gurps-2col right-bias">
      <div class="full-width">
        <input
          id="itemname"
          type="text"
          value="{{name}}"
          class="title"
          placeholder='{{i18n "GURPS.name"}}'
          name="system.eqt.name"
        />
      </div>

      <div class="img-display itemdraggable" style="background-image: url({{item.img}}); border: solid 1px black;">
        <img
          class="profile-img itemdraggable"
          src="{{ item.img }}"
          data-edit="img"
          title="{{#if name}}{{name}}{{else}}Image{{/if}}"
        />
      </div>

      <div class="gga-group">
        <h2>{{i18n "GURPS.attributes"}}</h2>
        {{#if (eq itemType "equipment")}}
        {{>items}}
        {{/if}}
        {{#if (eq itemType "feature")}}
        {{>features}}
        {{/if}}
        {{#if (eq itemType "skill")}}
        {{>skill}}
        {{/if}}
        {{#if (eq itemType "spell")}}
        {{>spell}}
        {{/if}}
      </div>
    </div>
    <hr />
    <div>
      <h2>{{i18n "GURPS.itemFeatures"}}</h2>
      <div class="flexcol">
        <nav class="gurps-sheet-tabs tabs gurps-tabs" data-group="sections">
          <a class="item" data-tab="melee-tab"
            ><i class="fas fa-fist-raised"></i>&nbsp;{{i18n "GURPS.melee"}}&nbsp;<span style="font-size: 80%"
              >{{#if (length system.melee)}}({{length system.melee}}){{/if}}</span
            ></a
          >
          <a class="item" data-tab="range-tab"
            ><i class="fas fa-fighter-jet"></i>&nbsp;{{i18n "GURPS.ranged"}}&nbsp;<span style="font-size: 80%"
              >{{#if (length system.ranged)}}({{length system.ranged}}){{/if}}</span
            ></a
          >
          <a class="item" data-tab="spell-tab"
            ><i class="fas fa-magic"></i>&nbsp;{{i18n "GURPS.spells"}}&nbsp;<span style="font-size: 80%"
              >{{#if (length system.spells)}}({{length system.spells}}){{/if}}</span
            ></a
          >
          <a class="item" data-tab="ads-tab"
            ><i class="fas fa-theater-masks"></i>&nbsp;{{i18n "GURPS.advantages"}}&nbsp;<span style="font-size: 80%"
              >{{#if (length system.ads)}}({{length system.ads}}){{/if}}</span
            ></a
          >
          <a class="item" data-tab="skill-tab"
            ><i class="fas fa-snowboarding"></i>&nbsp;{{i18n "GURPS.skills"}}&nbsp;<span style="font-size: 80%"
              >{{#if (length system.skills)}}({{length system.skills}}){{/if}}</span
            ></a
          >
          <a class="item" data-tab="bonus-tab"
            ><i class="fas fa-plus"></i>&nbsp;{{i18n "GURPS.bonuses"}}&nbsp;<span style="font-size: 80%"
              >{{#if (length system.bonuses)}}(&checkmark;){{/if}}</span
            ></a
          >
        </nav>

        <section id="config-tabs" class="content">
          <!-- melee tab -->
          <div class="tab" data-tab="melee-tab" data-group="sections">
            {{#each system.melee as | this key |}}
            <div class="gga-group inputs">
              <h4 class="with-button">
                {{i18n "GURPS.meleeAttack"}} {{#if mode}}({{mode}}){{/if}}<span
                  class="delete button"
                  data-path="system.melee"
                  name="{{key}}"
                  ><i class="fas fa-trash"></i
                ></span>
              </h4>

              <div class="label-value-row right-bias">
                <label>{{i18n "GURPS.skillLevel"}}</label>
                <div><input type="text" value="{{otf}}" name="system.melee.{{key}}.otf" /></div>
              </div>

              <div class="gurps-3col">
                <div class="label-value-row right-bias">
                  <div></div>
                  <div></div>
                  <label>{{i18n "GURPS.usage"}}</label>
                  <div><input type="text" value="{{mode}}" name="system.melee.{{key}}.mode" /></div>
                  <label>{{i18n "GURPS.parrybonus"}}</label>
                  <div><input type="text" value="{{parry}}" name="system.melee.{{key}}.parry" /></div>
                </div>
                <div class="label-value-row right-bias">
                  <div></div>
                  <div></div>
                  <label>{{i18n "GURPS.blockbonus"}}</label>
                  <div><input type="text" value="{{block}}" name="system.melee.{{key}}.block" /></div>
                  <label>{{i18n "GURPS.damage"}}</label>
                  <div><input type="text" value="{{damage}}" name="system.melee.{{key}}.damage" /></div>
                </div>
                <div class="label-value-row right-bias">
                  <div></div>
                  <div></div>
                  <label>{{i18n "GURPS.reach"}}</label>
                  <div><input type="text" value="{{reach}}" name="system.melee.{{key}}.reach" /></div>
                  <label>{{i18n "GURPS.attributesST"}}</label>
                  <div><input type="text" value="{{st}}" name="system.melee.{{key}}.st" /></div>
                </div>
              </div>
              <div class="label-value-row right-bias">
                <div></div>
                <div></div>
                <label>{{i18n "GURPS.notes"}}</label>
                <div><textarea class="notes" rows="2" name="system.melee.{{key}}.notes">{{notes}}</textarea></div>

                <div></div>
                <div></div>
                <label>{{i18n "GURPS.check"}}</label>
                <div><input type="text" value="{{checkotf}}" name="system.melee.{{key}}.checkotf" /></div>
                <div></div>
                <div></div>
                <label>{{i18n "GURPS.during"}}</label>
                <div><input type="text" value="{{duringotf}}" name="system.melee.{{key}}.duringotf" /></div>
                <div></div>
                <div></div>
                <label>{{i18n "GURPS.pass"}}</label>
                <div><input type="text" value="{{passotf}}" name="system.melee.{{key}}.passotf" /></div>
                <div></div>
                <div></div>
                <label>{{i18n "GURPS.fail"}}</label>
                <div><input type="text" value="{{failotf}}" name="system.melee.{{key}}.failotf" /></div>
              </div>
            </div>
            <div class="vertical-gap"></div>
            {{/each}}
            <div class="button-bar">
              <button id="add-melee"><i class="fas fa-check"></i> {{i18n "GURPS.addMeleeAttack"}}</button>
            </div>
          </div>

          <!-- range tab -->
          <div class="tab" data-tab="range-tab" data-group="sections">
            {{#each system.ranged as | this key |}}
            <div class="gga-group inputs">
              <h4 class="with-button">
                {{i18n "GURPS.rangedAttack"}} {{#if mode}}({{mode}}){{/if}}<span
                  class="delete button"
                  data-path="system.ranged"
                  name="{{key}}"
                  ><i class="fas fa-trash"></i
                ></span>
              </h4>

              <div class="label-value-row right-bias">
                <label>{{i18n "GURPS.skillLevel"}}</label>
                <div><input type="text" value="{{otf}}" name="system.ranged.{{key}}.otf" /></div>
              </div>

              <div class="gurps-3col">
                <div class="label-value-row right-bias">
                  <div></div>
                  <div></div>
                  <label>{{i18n "GURPS.usage"}}</label>
                  <div><input type="text" value="{{mode}}" name="system.ranged.{{key}}.mode" /></div>
                  <label>{{i18n "GURPS.acc"}}</label>
                  <div><input type="text" value="{{acc}}" name="system.ranged.{{key}}.acc" /></div>
                  <label>{{i18n "GURPS.damage"}}</label>
                  <div><input class="damage" type="text" value="{{damage}}" name="system.ranged.{{key}}.damage" /></div>
                </div>
                <div class="label-value-row right-bias">
                  <div></div>
                  <div></div>
                  <label>{{i18n "GURPS.range"}}</label>
                  <div><input type="text" value="{{range}}" name="system.ranged.{{key}}.range" /></div>
                  <label>{{i18n "GURPS.rof"}}</label>
                  <div><input type="text" value="{{rof}}" name="system.ranged.{{key}}.rof" /></div>
                  <label>{{i18n "GURPS.shots"}}</label>
                  <div><input type="text" value="{{shots}}" name="system.ranged.{{key}}.shots" /></div>
                </div>
                <div class="label-value-row right-bias">
                  <div></div>
                  <div></div>
                  <label>{{i18n "GURPS.bulk"}}</label>
                  <div><input type="text" value="{{bulk}}" name="system.ranged.{{key}}.bulk" /></div>
                  <label>{{i18n "GURPS.rcl"}}</label>
                  <div><input type="text" value="{{rcl}}" name="system.ranged.{{key}}.rcl" /></div>
                  <div></div>
                  <div>
                    <input type="text" value="" disabled="" style="background: transparent" />
                  </div>
                </div>
              </div>
              <div class="label-value-row right-bias">
                <label>{{i18n "GURPS.notes"}}</label>
                <div><textarea class="notes" rows="2" name="system.ranged.{{key}}.notes">{{notes}}</textarea></div>

                <div></div>
                <div></div>
                <label>{{i18n "GURPS.check"}}</label>
                <div><input type="text" value="{{checkotf}}" name="system.ranged.{{key}}.checkotf" /></div>
                <div></div>
                <div></div>
                <label>{{i18n "GURPS.during"}}</label>
                <div><input type="text" value="{{duringotf}}" name="system.ranged.{{key}}.duringotf" /></div>
                <div></div>
                <div></div>
                <label>{{i18n "GURPS.pass"}}</label>
                <div><input type="text" value="{{passotf}}" name="system.ranged.{{key}}.passotf" /></div>
                <div></div>
                <div></div>
                <label>{{i18n "GURPS.fail"}}</label>
                <div><input type="text" value="{{failotf}}" name="system.ranged.{{key}}.failotf" /></div>
              </div>
            </div>
            <div class="vertical-gap"></div>
            {{/each}}
            <div class="button-bar">
              <button id="add-ranged"><i class="fas fa-check"></i> {{i18n "GURPS.addRangedAttack"}}</button>
            </div>
          </div>

          <!-- bonus -->
          <div class="tab" data-tab="bonus-tab" data-group="sections">
            <div>{{i18n "GURPS.itemBonusText"}}</div>
            <div><textarea class="notes" rows="6" name="system.bonuses">{{system.bonuses}}</textarea></div>
          </div>

          <!-- Spells -->
          <div class="tab" data-tab="spell-tab" data-group="sections">
            {{#each system.spells as | this key |}}
            <div class="gga-group inputs">
              <h4 class="with-button">
                {{i18n "GURPS.spell"}} {{#if name}}({{name}}){{/if}}<span
                  class="delete button"
                  data-path="system.spells"
                  name="{{key}}"
                  ><i class="fas fa-trash"></i
                ></span>
              </h4>

              <div class="gurps-3col">
                <div class="label-value-row right-bias">
                  <label>{{i18n "GURPS.name"}}</label>
                  <div><input type="text" value="{{name}}" name="system.spells.{{key}}.name" /></div>
                </div>
                <div class="label-value-row right-bias"></div>
                <div class="label-value-row right-bias">
                  <label>{{i18n "GURPS.spellClass"}}</label>
                  <div><input type="text" value="{{class}}" name="system.spells.{{key}}.class" /></div>
                </div>
              </div>

              <div class="label-value-row right-bias">
                <div></div>
                <div></div>
                <label>{{i18n "GURPS.skillLevel"}}</label>
                <div><input type="text" value="{{otf}}" name="system.spells.{{key}}.otf" /></div>
              </div>

              <div class="gurps-3col">
                <div class="label-value-row right-bias">
                  <label>{{i18n "GURPS.spellCollege"}}</label>
                  <div><input type="text" value="{{college}}" name="system.spells.{{key}}.college" /></div>
                  <label>{{i18n "GURPS.spellCost"}}</label>
                  <div><input type="text" value="{{cost}}" name="system.spells.{{key}}.cost" /></div>
                  <label>{{i18n "GURPS.spellMaintain"}}</label>
                  <div><input type="text" value="{{maintain}}" name="system.spells.{{key}}.maintain" /></div>
                </div>
                <div class="label-value-row right-bias">
                  <label>{{i18n "GURPS.spellDuration"}}</label>
                  <div><input type="text" value="{{duration}}" name="system.spells.{{key}}.duration" /></div>
                  <label>{{i18n "GURPS.spellResist"}}</label>
                  <div><input type="text" value="{{resist}}" name="system.spells.{{key}}.resist" /></div>
                  <label>{{i18n "GURPS.spellTime"}}</label>
                  <div><input type="text" value="{{casttime}}" name="system.spells.{{key}}.casttime" /></div>
                </div>
                <div class="label-value-row right-bias">
                  <label>{{i18n "GURPS.spellDifficulty"}}</label>
                  <div><input type="text" value="{{difficulty}}" name="system.spells.{{key}}.difficulty" /></div>
                  <label>{{i18n "GURPS.pdfPageReference"}}</label>
                  <div><input type="text" value="{{pageref}}" name="system.spells.{{key}}.pageref" /></div>
                  <div></div>
                  <div><input type="text" value="" disabled="" style="background: transparent" /></div>
                </div>
              </div>

              <div class="label-value-row right-bias">
                <label>{{i18n "GURPS.notes"}}</label>
                <div><textarea class="notes" rows="2" name="system.spells.{{key}}.notes">{{notes}}</textarea></div>

                <div></div>
                <div></div>
                <label>{{i18n "GURPS.check"}}</label>
                <div><input type="text" value="{{checkotf}}" name="system.spells.{{key}}.checkotf" /></div>
                <div></div>
                <div></div>
                <label>{{i18n "GURPS.during"}}</label>
                <div><input type="text" value="{{duringotf}}" name="system.spells.{{key}}.duringotf" /></div>
                <div></div>
                <div></div>
                <label>{{i18n "GURPS.pass"}}</label>
                <div><input type="text" value="{{passotf}}" name="system.spells.{{key}}.passotf" /></div>
                <div></div>
                <div></div>
                <label>{{i18n "GURPS.fail"}}</label>
                <div><input type="text" value="{{failotf}}" name="system.spells.{{key}}.failotf" /></div>
              </div>
            </div>
            <div class="vertical-gap"></div>
            {{/each}}
            <div class="button-bar">
              <button id="add-spell"><i class="fas fa-check"></i> {{i18n "GURPS.addSpell"}}</button>
            </div>
          </div>

          <!-- Skills -->
          <div class="tab" data-tab="skill-tab" data-group="sections">
            {{#each system.skills as | this key |}}
            <div class="gga-group inputs">
              <h4 class="with-button">
                {{i18n "GURPS.skill"}} {{#if name}}({{name}}){{/if}}<span
                  class="delete button"
                  data-path="system.skills"
                  name="{{key}}"
                  ><i class="fas fa-trash"></i
                ></span>
              </h4>

              <div class="gurps-3col">
                <div class="label-value-row right-bias">
                  <label>{{i18n "GURPS.name"}}</label>
                  <div><input type="text" value="{{name}}" name="system.skills.{{key}}.name" /></div>
                </div>
                <div class="label-value-row right-bias"></div>
                <div class="label-value-row right-bias">
                  <label>{{i18n "GURPS.pdfPageReference"}}</label>
                  <div><input type="text" value="{{pageref}}" name="system.skills.{{key}}.pageref" /></div>
                </div>
              </div>
              <div class="label-value-row right-bias">
                <div></div>
                <div></div>

                <label>{{i18n "GURPS.skillLevel"}}</label>
                <div><input type="text" value="{{otf}}" name="system.skills.{{key}}.otf" /></div>
                <label>{{i18n "GURPS.notes"}}</label>
                <div><textarea class="notes" rows="2" name="system.skills.{{key}}.notes">{{notes}}</textarea></div>

                <div></div>
                <div></div>
                <label>{{i18n "GURPS.check"}}</label>
                <div><input type="text" value="{{checkotf}}" name="system.skills.{{key}}.checkotf" /></div>
                <div></div>
                <div></div>
                <label>{{i18n "GURPS.during"}}</label>
                <div><input type="text" value="{{duringotf}}" name="system.skills.{{key}}.duringotf" /></div>
                <div></div>
                <div></div>
                <label>{{i18n "GURPS.pass"}}</label>
                <div><input type="text" value="{{passotf}}" name="system.skills.{{key}}.passotf" /></div>
                <div></div>
                <div></div>
                <label>{{i18n "GURPS.fail"}}</label>
                <div><input type="text" value="{{failotf}}" name="system.skills.{{key}}.failotf" /></div>
              </div>
            </div>
            <div class="vertical-gap"></div>
            {{/each}}
            <div class="button-bar">
              <button id="add-skill"><i class="fas fa-check"></i> {{i18n "GURPS.addSkill"}}</button>
            </div>
          </div>

          <!-- Advantages -->
          <div class="tab" data-tab="ads-tab" data-group="sections">
            {{#each system.ads as | this key |}}
            <div class="gga-group inputs">
              <h4 class="with-button">
                {{i18n "GURPS.advantage"}} {{#if name}}({{name}}){{/if}}<span
                  class="delete button"
                  data-path="system.ads"
                  name="{{key}}"
                  ><i class="fas fa-trash"></i
                ></span>
              </h4>

              <div class="gurps-3col">
                <div class="label-value-row right-bias">
                  <label>{{i18n "GURPS.name"}}</label>
                  <div><input type="text" value="{{name}}" name="system.ads.{{key}}.name" /></div>
                </div>
                <div class="label-value-row right-bias"></div>
                <div class="label-value-row right-bias">
                  <label>{{i18n "GURPS.pdfPageReference"}}</label>
                  <div><input type="text" value="{{pageref}}" name="system.ads.{{key}}.pageref" /></div>
                </div>
              </div>
              <div class="label-value-row right-bias">
                <div></div>
                <div></div>
                <label>{{i18n "GURPS.notes"}}</label>
                <div><textarea class="notes" rows="2" name="system.ads.{{key}}.notes">{{notes}}</textarea></div>
              </div>
            </div>
            <div class="vertical-gap"></div>
            {{/each}}
            <div class="button-bar">
              <button id="add-ads"><i class="fas fa-check"></i> {{i18n "GURPS.addAdvantage"}}</button>
            </div>
          </div>
        </section>
      </div>
    </div>
</form>
