<div class="add">
	<a class="gcs-circled-add add" data-type="effects"></a>
	{{#if actor}}
	<a class="gcs-reset reset-all" data-type="effects"></a>
	<div>{{localize "gurps.settings.reset_all"}}</div>
	{{/if}}
</div>
<div class="item-list">
	{{#each effects}}
		<div class="item" data-index="{{@index}}" data-type="effects">
			<div class="controls">
				<a class="gcs-grip drag" data-index="{{@index}}" data-type="effects"></a>
				<a class="gcs-trash delete" data-index="{{@index}}" data-type="effects"></a>
			</div>
			<input type="text" name="array.effects.{{@index}}.id" value="{{this.id}}" data-dtype="String" />
			<input type="text" name="array.effects.{{@index}}.state" value="{{this.state}}" data-dtype="String" />
			{{#each this.enter}}
			<div>{{this.id}}</div>
			{{/each}}
			{{#each this.leave}}
			<div>{{this.id}}</div>
			{{/each}}
		</div>
	{{/each}}
</div>
