<div id="apply-damage" autocomplete="off">
	<div class="header">{{localize "gurps.damage.roll"}}</div>
	<div class="fieldblock">
		<div class="label">{{localize "gurps.damage.attacker"}}</div>
		<div class="field">{{calculator.damageRoll.attacker.name}}</div>
		<div><button
				type="button"
				data-action="reset-form"
				{{disabled (not calculator.isOverridden)}}
			>Reset</button></div>

		<div class="label">{{localize "gurps.damage.weapon"}}</div>
		<div class="field">{{calculator.damageRoll.weapon.name}}</div>
		<div></div>

		<div class="label">{{localize "gurps.damage.source_roll"}}</div>
		<div class="field">
			{{calculator.damageRoll.damageText}}
		</div>
		<div></div>

		<div class="label">{{localize "gurps.character.basic_damage"}}</div>
		<div class="field no-stretch direct-damage">
			<input
				type="number"
				value="{{calculator.basicDamage}}"
				step="any"
				data-action="override-basic"
				size="4"
				class="{{overridden calculator.overrideBasicDamage}}"
			/>

			<select name="pool">
				{{selectOptions choices.pool value="hp"}}
			</select>

			<button type="button" class="gcs-checkmark" data-action="apply-basic">{{localize
					"gurps.misc.apply"
				}}</button>
		</div>
		<div></div>

		<div class="label">{{localize "gurps.weapon.damage.armor_divisor"}}</div>
		<div class="field">
			<select
				data-action="armordivisor-select"
				value="{{calculator.armorDivisor}}"
				class="{{overridden calculator.overrideArmorDivisor}}"
			>
				{{#select calculator.armorDivisor}}
					<option value="0">Ignores DR</option>
					<option value="100">(100)</option>
					<option value="10">(10)</option>
					<option value="5">(5)</option>
					<option value="3">(3)</option>
					<option value="2">(2)</option>
					<option value="1">No divisor</option>
					<option value="0.5">(0.5)</option>
					<option value="0.2">(0.2)</option>
					<option value="0.1">(0.1)</option>
				{{/select}}
			</select>
		</div>
		{{#if (eq books "dfrpg")}}
			<div class="label ref" data-pdf="DFX52">DFX52</div>
		{{else}}
			<div class="label ref" data-pdf="B378">B378</div>
		{{/if}}

		<div class="label">{{localize "gurps.weapon.damage.type"}}</div>
		<div class="field no-stretch type">
			<select data-action="damagetype-select" class="{{overridden calculator.overrideDamageType}}">
				{{selectOptions choices.damageType selected=calculator.damageTypeKey localize=true}}
			</select>
			<label for="override-woundingmod" class="label">{{localize "gurps.damage.wounding_modifier"}}
				<span class="input-wrapper multiply">
					<input
						id="override-woundingmod"
						type="number"
						data-action="override-woundingmod"
						value="{{calculator.woundingModifier}}"
						class="{{overridden calculator.overrideWoundingModifier}}"
						step="any"
						size="3"
					/></span>
			</label>
		</div>
		{{#if (eq books "dfrpg")}}
			<div class="label ref" data-pdf="DFX53">DFX53</div>
		{{else}}
			<div class="label ref" data-pdf="B268">B268</div>
		{{/if}}

		<div class="label"></div>
		<div class="field no-stretch">
			<label for="exp" class="checkbox-label">
				<input id="exp" type="checkbox" {{checked calculator.isExplosion}} />Explosion
			</label>
			<label for="explosion" class="checkbox-label">
				<input id="explosion" type="checkbox" />Internal</label>
		</div>
		{{#if (eq books "dfrpg")}}
			<div class="label ref" data-pdf="DFX46">DFX46</div>
		{{else}}
			<div class="label ref" data-pdf="B414">B414</div>
		{{/if}}

		<div class="label">Range (yards)</div>
		<div class="field no-stretch range">
			<input type="number" value="{{calculator.roll.range}}" step="any" name="range" />
			<label for="1/2D" class="checkbox-label">
				<input id="1/2D" type="checkbox" />
				Ranged, 1/2D</label>
		</div>
		{{#if (eq books "dfrpg")}}
			<div class="label ref" data-pdf="DFX43">DFX43</div>
		{{else}}
			<div class="label ref" data-pdf="B378">B378</div>
		{{/if}}

		<div class="label"></div>
		<div class="field">
			<label for="shotgun" class="checkbox-label">
				<input id="shotgun" type="checkbox" />Shotgun, extremely close</label>
		</div>
		<div class="label ref" data-pdf="B409">B409</div>

		<div class="label"></div>

		<div class="field no-stretch">
			<label class="label">RoF Multiplier
				<input
					type="number"
					value="{{calculator.roll.rofMultiplier}}"
					step="any"
					name="rofMultiplier"
					size="3"
				/>
			</label>
		</div>

		<div> </div>
	</div>

	<div id="target">
		<div class="header">{{localize "gurps.damage.target"}}</div>
		<div class="fieldblock">

			<div class="label">{{localize "gurps.character.name"}}</div>
			<div class="field">
				{{calculator.target.name}}
			</div>
			<div></div>

			<div class="label">{{localize "gurps.damage.hit_location"}}</div>
			<div class="field no-stretch location">
				<select name="hitLocation" data-action="location-select">
					{{selectOptions choices.hitlocation selected=calculator.damageRoll.locationId localize=false}}
				</select>
				<button type="button" data-action="location-random">
					<i class="fa-light fa-dice"></i>
				</button>

				<label for="override-dr" class="label">{{localize "gurps.character.body_type.dr"}}
					<input
						id="override-dr"
						type="number"
						data-action="override-dr"
						value="{{calculator.damageResistance}}"
						step="any"
						size="6"
						class="{{overridden calculator.overrideDamageResistance}}"
					/>
				</label>
			</div>
			{{#if (eq books "dfrpg")}}
				<div class="label ref" data-pdf="DFX53">DFX53</div>
			{{else}}
				<div class="label ref" data-pdf="B398">B398</div>
			{{/if}}

			<div class="label"></div>
			<div class="field">
				<label for="flexible" class="checkbox-label">
					<input
						id="flexible"
						type="checkbox"
						data-action="location-flexible"
						{{checked calculator.isFlexibleArmor}}
					/>{{localize "gurps.damage.flexible"}}</label>
			</div>
			<div class="label ref" data-pdf="B378">B378</div>

			<div class="label">{{localize "gurps.damage.hardened_dr"}}</div>
			<div class="field">
				<select name="hardened" data-action="hardened-select">
					{{selectOptions choices.hardened selected=calculator.hardenedDRLevel}}
				</select>
			</div>
			<div class="label ref" data-pdf="B47">B47</div>

			<div class="label">Injury Tolerance</div>
			<div class="field">
				<select name="tolerance">
					{{selectOptions choices.injuryTolerance selected=injuryTolerance}}
				</select>
			</div>
			<div class="label ref" data-pdf="B60">B60</div>

			<div class="label">Vulnerability</div>
			<div id="vulnerability" class="field">
				{{#each calculator.vulnerabilities}}
					<div>
						<label for="vulnerability-{{@index}}" class="checkbox-label">
							<input
								id="vulnerability-{{@index}}"
								type="checkbox"
								data-action="apply-vulnerability"
								data-index="{{@index}}"
								{{checked apply}}
							/>{{name}}</label>
					</div>
				{{/each}}
				<div>
					<label for="override-vulnerability" class="label">Wounding
						<span class="input-wrapper multiply">
							<input
								id="override-vulnerability"
								type="number"
								data-action="override-vulnerability"
								value="{{calculator.vulnerabilityLevel}}"
								class="{{overridden calculator.overrideVulnerability}}"
								step="any"
								size="3"
							/></span>
					</label>
				</div>
			</div>

			{{#if (eq books "dfrpg")}}
				<div class="label ref" data-pdf="DFX14">DFM14</div>
			{{else}}
				<div class="label ref" data-pdf="B161">B161</div>
			{{/if}}

			<div class="label"></div>
			<div class="field no-stretch type">
			</div>
			<div class="label ref"></div>

			<div class="label">Damage Reduction</div>
			<div class="field no-stretch">
				<select name="reduction">
					{{selectOptions choices.damageReduction selected=damageReduction}}
				</select>
				<div class="label">Override</div>
				<input type="number" data-action="override-reduction" value="" step="any" size="3" />
			</div>
			<div class="label ref" data-pdf="P53">P53</div>
		</div>
	</div>

	<div id="results">
		<div id="effects">
			Test
		</div>
		<div id="calc">
			<div class="table">
				<div class="header">Calculation</div>

				{{#each calculator.results.steps}}
					<div class="step">{{substep}}</div>
					<div class="value">{{text}}</div>
					<div class="descr">{{notes}}</div>
				{{/each}}
			</div>
			<div class="apply">
				<div class="label">{{localize "gurps.damage.injury"}}&nbsp;({{localize "gurps.static.hp"}})</div>
				<input type="number" value="{{calculator.results.injury.value}}" step="any" name="injury" size="4" />
				<button type="button" class="apply-button gcs-checkmark" data-action="apply-injury">{{localize
						"gurps.misc.apply"
					}}</button>
			</div>
		</div>
	</div>
</div>