<div id="apply-damage" autocomplete="off">
	<div id="damage-roll">
		<div class="fieldblock">
			<div class="header">Damage Roll</div>

			<div class="label">Attacker</div>
			<div class="field">{{this.roll.attacker.name}}</div>

			<div class="label">Weapon</div>
			<div class="field">—</div>

			<div class="label">Source roll</div>
			<div class="field">
				{{source}}
				{{type}}
				{{roll.damageModifier}}
			</div>

			<div class="label">Damage</div>
			<div class="field">
				<input type="number" value="{{roll.basicDamage}}" step="any" name="basicDamage" />
			</div>

			<div class="label">Armor Divisor</div>
			<div class="field">
				<select name="armorDivsor">
					{{#select armorDivisorSelect}}
						<option value="-1">Ignores DR</option>
						<option value="100">(100)</option>
						<option value="10">(10)</option>
						<option value="5">(5)</option>
						<option value="3">(3)</option>
						<option value="2">(2)</option>
						<option value="1">No divisor</option>
						<option value="0.5">(0.5)</option>
						<option value="0.2">(0.2)</option>
						<option value="0.1">(0.1)</option>
					{{/select}}
				</select>
			</div>

			<div class="label">Damage type</div>
			<div class="field">
				<select name="damageType">
					{{selectOptions damageTypeChoices value=roll.damageType localize=false}}
				</select>
			</div>

			<div class="label"></div>
			<div class="field">
				<label for="exp" class="checkbox-label">
					<input id="exp" type="checkbox" {{checked isExplosion}} />Explosion
				</label>
			</div>

			<div class="label">Range (yards)</div>
			<div class="field">
				<input type="number" value="{{roll.range}}" step="any" name="range" />
			</div>

			<div class="label"></div>
			<div class="field">
				<label for="1/2D" class="checkbox-label">
					<input id="1/2D" type="checkbox" />
					Ranged, 1/2D</label>
			</div>

			<div class="label"></div>
			<div class="field">
				<label for="shotgun" class="checkbox-label">
					<input id="shotgun" type="checkbox" />Shotgun, extremely close</label>
			</div>

			<div class="label"></div>
			<div class="field nostretch">
				<div class="label">RoF Multiplier</div>
				<input type="number" value="{{roll.rofMultiplier}}" step="any" name="rofMultiplier" size="3" />
			</div>

			<div class="header">Target</div>

			<div class="label">Target</div>
			<div class="field">
				{{this.target.name}}
			</div>

			<div class="label">Hit Location</div>
			<div class="field nostretch">
				<select name="hitLocation">
					{{selectOptions hitLocationChoices value=roll.locationId localize=false}}
				</select>
				<div class="label">DR</div>
				<input type="number" value="{{dr}}" step="any" name="dr" size="6" />
			</div>

			<div class="label"></div>
			<div class="field">
				<label for="flexible" class="checkbox-label">
					<input id="flexible" type="checkbox" />Flexible armor</label>
			</div>

			<div class="label">Hardened DR</div>
			<div class="field">
				<select name="hardened">
					{{selectOptions hardenedChoices value=target.}}
				</select>
			</div>

			<div class="label">Vulnerability</div>
			<div class="field">
				×{{this.roll.vulnerability}}
				(None)
			</div>

			<div class="label"></div>
			<div class="field">
				<label for="tolerance" class="checkbox-label">
					<input id="tolerance" type="checkbox" />Injury Tolerance</label>
			</div>

			<div class="label"></div>
			<div class="field">
				<label for="reduct" class="checkbox-label">
					<input id="reduct" type="checkbox" />Damage Reduction</label>
			</div>

			<div class="label"></div>
			<div class="field">
				<label for="explosion" class="checkbox-label">
					<input id="explosion" type="checkbox" />Internal explosion</label>
			</div>
		</div>
	</div>
</div>
